Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
  script:
  - cd ui
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./build
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy ui:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    CORE_USERNAME: ${DEV_CORE_USERNAME}
    CORE_PASSWORD: ${DEV_CORE_PASSWORD}
    AWS_ACCESS_KEY_ID: ${DEV_AWS_ACCESS_KEY_ID}
    AWS_SECRET_ACCESS_KEY: ${DEV_AWS_SECRET_ACCESS_KEY}
    BUCKET: app.dotenx.com
    environment: prod
  ...

:sparkles: Render extensions
  ao-api/controllers/uibuilder/publishutils/convert_extension.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/function_store.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
Due: build api, deploy api

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: none

Fix the typo
  ao-api/controllers/uibuilder/publishutils/convert_extension.go
Due: build api, deploy api

add flex shrink default style to icon element
  ui-builder/src/features/elements/extensions/icon.tsx
Due: none

Fix the init
  ao-api/controllers/uibuilder/publishutils/convert_extension.go
Due: build api, deploy api

Add extension heads
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/function_store.go
Due: build api, deploy api

Add the extension heads
  ao-api/controllers/uibuilder/publishutils/convert_extension.go
Due: build api, deploy api

fix extension detail query
  ui-builder/src/pages/extension.tsx
Due: none

Add setState
  ao-api/controllers/uibuilder/publishutils/convert_extension.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
Due: build api, deploy api

hide extension action
  ui-builder/src/features/extensions/extension-form.tsx
  ui-builder/src/pages/extension.tsx
Due: none

UI builder extensions (#195)
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/app.tsx
  ui-builder/src/features/advanced/element-dragger-layer.tsx
  ui-builder/src/features/elements/extensions/box.tsx
  ui-builder/src/features/elements/extensions/extension.tsx
  ui-builder/src/features/elements/extensions/icon.tsx
  ui-builder/src/features/elements/extensions/video.tsx
  ui-builder/src/features/elements/index.ts
  ui-builder/src/features/extensions/api.tsx
  ui-builder/src/features/extensions/extension-form.tsx
  ui-builder/src/features/extensions/extension-list.tsx
  ui-builder/src/features/page/update-frame-head.ts
  ui-builder/src/features/page/use-get-project-tag.ts
  ui-builder/src/features/states/utils.ts
  ui-builder/src/pages/extension-create.tsx
  ui-builder/src/pages/extension-edit.tsx
  ui-builder/src/pages/extension.tsx
  ui-builder/src/pages/extensions.tsx
  ui/.env.production
  ui/src/features/ui/sidebar.tsx
  ui/src/pages/tables.tsx
Due: build ui, deploy ui

Dtx 476 - ❇️ Render extensions (#194)
  ao-api/controllers/uibuilder/publishutils/convert_extension.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/function_store.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
Due: build api, deploy api

add preview url
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/top-bar.tsx
Due: none

DTX-474-b: add get preview url button (#196)
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/top-bar.tsx
Due: none

remove error
  ui-builder/src/features/page/top-bar.tsx
Due: none

Implementing 'adding extension as an item to marketplace' feature
  ao-api/app/app.go
  ao-api/controllers/marketplace/add_item.go
  ao-api/controllers/uiExtension/upsert_extension.go
  ao-api/controllers/uibuilder/get_page_urls.go
  ao-api/controllers/uibuilder/preview_page.go
  ao-api/models/marketplace_item.go
  ao-api/models/project_model.go
  ao-api/pkg/utils/utils.go
  ao-api/services/marketplaceService/add_item.go
  ao-api/services/marketplaceService/export_ui_extension.go
  ao-api/services/marketplaceService/get_item_extension.go
  ao-api/services/marketplaceService/interface.go
  ao-api/services/uiExtensionService/get_exportable.go
  ao-api/services/uiExtensionService/interface.go
  ao-api/stores/uiExtensionStore/get_exportable.go
  ao-api/stores/uiExtensionStore/store.go
Due: build api, deploy api

Fix bug of project owner
  ao-api/app/app.go
Due: build api, deploy api

Separate publish and preview modal
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/top-bar.tsx
Due: none

Update actions.tsx
  ui-builder/src/features/page/actions.tsx
Due: none

DTX-485: Separate preview and publish components in UI builder (#198)
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/top-bar.tsx
Due: none

DTX-484 Implementing 'adding extension as an item to marketplace' feature (#197)
  ao-api/app/app.go
  ao-api/controllers/marketplace/add_item.go
  ao-api/controllers/uiExtension/upsert_extension.go
  ao-api/controllers/uibuilder/get_page_urls.go
  ao-api/controllers/uibuilder/preview_page.go
  ao-api/models/marketplace_item.go
  ao-api/models/project_model.go
  ao-api/pkg/utils/utils.go
  ao-api/services/marketplaceService/add_item.go
  ao-api/services/marketplaceService/export_ui_extension.go
  ao-api/services/marketplaceService/get_item_extension.go
  ao-api/services/marketplaceService/interface.go
  ao-api/services/uiExtensionService/get_exportable.go
  ao-api/services/uiExtensionService/interface.go
  ao-api/stores/uiExtensionStore/get_exportable.go
  ao-api/stores/uiExtensionStore/store.go
Due: build api, deploy api

Implementing authenticate and callback endpoints
  ao-api/.gitignore
  ao-api/app/app.go
  ao-api/controllers/gitIntegration/authenticate.go
  ao-api/controllers/gitIntegration/callback.go
  ao-api/controllers/gitIntegration/controller.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/git_integration.go
  ao-api/oauth/oauth.go
  ao-api/pkg/utils/utils.go
  ao-api/services/gitIntegrationService/get_integration.go
  ao-api/services/gitIntegrationService/interface.go
  ao-api/services/gitIntegrationService/upsert_integration.go
  ao-api/stores/gitIntegrationStore/get_integration.go
  ao-api/stores/gitIntegrationStore/store.go
  ao-api/stores/gitIntegrationStore/upsert_integration.go
Due: build api, deploy api

Fix bug of marketplace item types
  ao-api/.gitignore
  ao-api/models/marketplace_item.go
  ao-api/services/marketplaceService/add_item.go
Due: build api, deploy api

Render update function
  ao-api/controllers/uibuilder/publishutils/convert_extension.go
Due: build api, deploy api

Add endpoints for get list of git account and getting list of repositories
  ao-api/app/app.go
  ao-api/controllers/gitIntegration/callback.go
  ao-api/controllers/gitIntegration/list_integrations.go
  ao-api/controllers/gitIntegration/list_repositories.go
  ao-api/models/git_integration.go
  ao-api/services/gitIntegrationService/interface.go
  ao-api/services/gitIntegrationService/list_integrations.go
  ao-api/services/gitIntegrationService/list_repositories.go
  ao-api/stores/gitIntegrationStore/list_integrations.go
  ao-api/stores/gitIntegrationStore/store.go
Due: build api, deploy api

Change category with item type in UI builder
  ui-builder/src/api/types.ts
  ui-builder/src/features/marketplace/add-to-marketplace.tsx
  ui-builder/src/features/marketplace/marketplace.tsx
Due: none

fix marketplace build bug
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/marketplace/add-to-marketplace.tsx
Due: none

add extension update section
  ui-builder/src/features/extensions/api.tsx
  ui-builder/src/features/extensions/extension-form.tsx
  ui-builder/src/pages/extension.tsx
Due: none

support more extension input types
  ui-builder/src/features/elements/extensions/extension.tsx
  ui-builder/src/features/extensions/api.tsx
  ui-builder/src/features/extensions/extension-form.tsx
  ui-builder/src/features/states/expression.ts
  ui-builder/src/features/ui/image-drop.tsx
  ui-builder/src/features/ui/style-input.tsx
Due: none

fix extension js parameteres
  ui-builder/src/features/extensions/extension-form.tsx
Due: none

Fix the x-for rendering and set the datasource fetch default value
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_content.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_collapsed.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_opened.go
  ao-api/controllers/uibuilder/publishutils/convert_extension.go
  ao-api/controllers/uibuilder/publishutils/convert_form.go
  ao-api/controllers/uibuilder/publishutils/convert_icon.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_link.go
  ao-api/controllers/uibuilder/publishutils/convert_picture.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
Due: build api, deploy api

Implementing an endpoint to return list of branches and export project (with git) endpoint
  ao-api/app/app.go
  ao-api/controllers/gitIntegration/export_project.go
  ao-api/controllers/gitIntegration/list_branches.go
  ao-api/models/tasks.go
  ao-api/models/triggers.go
  ao-api/oauth/oauth.go
  ao-api/services/gitIntegrationService/export_project.go
  ao-api/services/gitIntegrationService/export_project_to_github.go
  ao-api/services/gitIntegrationService/interface.go
  ao-api/services/gitIntegrationService/list_branches.go
Due: build api, deploy api

fix extension form functions
  ui-builder/src/features/extensions/extension-form.tsx
Due: none

Update redirect url of UI
  ao-api/app/app.go
  ao-api/controllers/gitIntegration/callback.go
Due: build api, deploy api

Fix stringifyRenderTextStates
  ao-api/controllers/uibuilder/publishutils/convert_extension.go
Due: build api, deploy api

Add import project from Github repository endpoint
  ao-api/app/app.go
  ao-api/controllers/database/delete_table_action.go
  ao-api/controllers/database/get_tables_list_action.go
  ao-api/controllers/gitIntegration/import_project.go
  ao-api/pkg/utils/utils.go
  ao-api/services/gitIntegrationService/import_project.go
  ao-api/services/gitIntegrationService/interface.go
  ao-api/services/projectService/import_project.go
Due: build api, deploy api

DTX-468 Implementing 'import and export projects by git' feature (#204)
  ao-api/app/app.go
  ao-api/controllers/database/delete_table_action.go
  ao-api/controllers/database/get_tables_list_action.go
  ao-api/controllers/gitIntegration/authenticate.go
  ao-api/controllers/gitIntegration/callback.go
  ao-api/controllers/gitIntegration/controller.go
  ao-api/controllers/gitIntegration/export_project.go
  ao-api/controllers/gitIntegration/import_project.go
  ao-api/controllers/gitIntegration/list_branches.go
  ao-api/controllers/gitIntegration/list_integrations.go
  ao-api/controllers/gitIntegration/list_repositories.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/git_integration.go
  ao-api/models/tasks.go
  ao-api/models/triggers.go
  ao-api/oauth/oauth.go
  ao-api/pkg/utils/utils.go
  ao-api/services/gitIntegrationService/export_project.go
  ao-api/services/gitIntegrationService/export_project_to_github.go
  ao-api/services/gitIntegrationService/get_integration.go
  ao-api/services/gitIntegrationService/import_project.go
  ao-api/services/gitIntegrationService/interface.go
  ao-api/services/gitIntegrationService/list_branches.go
  ao-api/services/gitIntegrationService/list_integrations.go
  ao-api/services/gitIntegrationService/list_repositories.go
  ao-api/services/gitIntegrationService/upsert_integration.go
  ao-api/services/projectService/import_project.go
  ao-api/stores/gitIntegrationStore/get_integration.go
  ao-api/stores/gitIntegrationStore/list_integrations.go
  ao-api/stores/gitIntegrationStore/store.go
  ao-api/stores/gitIntegrationStore/upsert_integration.go
Due: build api, deploy api

move animations atom atoms directory
  ui-builder/src/features/atoms/index.ts
Due: none

refactor and extract animation list
  ui-builder/src/features/animations/editor.tsx
Due: none

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
