Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
  script:
  - cd ui
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./build
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy ui:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    CORE_USERNAME: ${DEV_CORE_USERNAME}
    CORE_PASSWORD: ${DEV_CORE_PASSWORD}
    AWS_ACCESS_KEY_ID: ${DEV_AWS_ACCESS_KEY_ID}
    AWS_SECRET_ACCESS_KEY: ${DEV_AWS_SECRET_ACCESS_KEY}
    BUCKET: app.dotenx.com
    environment: prod
  ...

support animations in page mutations
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/add-page-form.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/style/font-form.tsx
Due: none

fix deserialize animation action
  ui-builder/src/utils/deserialize.ts
Due: none

refactor animation editor
  ui-builder/src/features/animations/editor.tsx
Due: none

format types
  ui-builder/src/api/types.ts
Due: none

refactor play animation and animation form
  ui-builder/src/features/animations/editor.tsx
Due: none

fix imports
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/style/animation-editor.tsx
  ui-builder/src/features/style/font-form.tsx
Due: none

implement delete animation
  ui-builder/src/features/animations/editor.tsx
Due: none

implement deserialize animation
  ui-builder/src/utils/deserialize.ts
Due: none

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: none

rename file
  ui-builder/src/features/advanced/settings.tsx
  ui-builder/src/features/animations/editor.tsx
Due: none

serialize and deserialize animations
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
Due: none

implement serialize animation
  ui-builder/src/utils/serialize.ts
Due: none

refactor animation schema and type
  ui-builder/src/features/animations/schema.ts
Due: none

refactor animation options
  ui-builder/src/features/animations/options.ts
Due: none

format
  ui-builder/src/api/api.ts
Due: none

add animations to api
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
Due: none

refactor animation schema
  ui-builder/src/features/animations/schema.ts
Due: none

change animation action to support new animations
  ui-builder/src/features/actions/action.tsx
Due: none

allow user to change animations target
  ui-builder/src/features/style/animation-editor.tsx
Due: none

implement new animations editor
  ui-builder/src/features/animations/animations-editor.tsx
Due: none

add animations tab
  ui-builder/src/features/advanced/settings.tsx
Due: none

extract presets
  ui-builder/src/features/animations/presets.ts
Due: none

add more presets
  ui-builder/src/features/animations/presets.ts
Due: none

Add git_providers.json file
  ao-api/git_providers.json
Due: build api, deploy api

Update git_providers.json file
  ao-api/git_providers.json
Due: build api, deploy api

Add an endpoint to run user's database query
  ao-api/app/app.go
  ao-api/controllers/database/run_database_query_action.go
  ao-api/services/databaseService/interface.go
  ao-api/services/databaseService/run_database_query.go
  ao-api/stores/databaseStore/database_store.go
  ao-api/stores/databaseStore/run_database_query.go
Due: build api, deploy api

add git integration
  ui/src/api/index.ts
  ui/src/api/types.ts
  ui/src/features/app/routes.tsx
  ui/src/features/ui/nav-item.tsx
  ui/src/features/ui/sidebar.tsx
  ui/src/pages/git/git-redirect.tsx
  ui/src/pages/git/git.tsx
  ui/src/pages/git/github.tsx
Due: build ui, deploy ui

Render animations
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_area.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bubble.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_doughnut.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_line.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_pie.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_polararea.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_radar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_scatter.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_content.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_collapsed.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_opened.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_extension.go
  ao-api/controllers/uibuilder/publishutils/convert_icon.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_menue_button.go
  ao-api/controllers/uibuilder/publishutils/convert_nav_menu.go
  ao-api/controllers/uibuilder/publishutils/convert_navbar.go
  ao-api/controllers/uibuilder/publishutils/convert_picture.go
  ao-api/controllers/uibuilder/publishutils/convert_slider.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_event.go
  ao-api/controllers/uibuilder/publishutils/types.go
Due: build api, deploy api

Fix the fetch function
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
Due: build api, deploy api

clean up
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
Due: build api, deploy api

Fix bug of returning rows
  ao-api/stores/databaseStore/run_database_query.go
Due: build api, deploy api

allow use edit style to accept target element
  ui-builder/src/features/style/use-edit-style.ts
Due: none

allow typography editor to accept element
  ui-builder/src/features/style/typography-editor.tsx
Due: none

allow spacing editor to accept element
  ui-builder/src/features/style/spacing-editor.tsx
Due: none

implement use set with element hook
  ui-builder/src/features/elements/elements-store.ts
Due: none

implement text element input
  ui-builder/src/features/ui/text-element-input.tsx
Due: none

use text element input for hero full width controller
  ui-builder/src/features/controllers/hero-full-width.tsx
Due: none

dtx-482: support more extension input types (#202)
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/elements/extensions/extension.tsx
  ui-builder/src/features/extensions/api.tsx
  ui-builder/src/features/extensions/extension-form.tsx
  ui-builder/src/features/states/expression.ts
  ui-builder/src/features/ui/image-drop.tsx
  ui-builder/src/features/ui/style-input.tsx
  ui-builder/src/pages/extension.tsx
Due: none

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
