Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*

fix type issue
  ui/src/features/ui/help-popover.tsx
Due: build ui, deploy ui

fix type issue (#249)
  ui/src/features/ui/help-popover.tsx
Due: build ui, deploy ui

fix issues
  ui/pnpm-lock.yaml
  ui/src/features/app/routes.tsx
Due: build ui, deploy ui

fix ecommerce gitlab ci
  .gitlab-ci.yml
Due: deploy api

Implementing 'Create Stripe price' task and improvement on 'Stripe create payment link' task
  predefinedImages/tasks/stripe-create-payment-link/main.go
  predefinedImages/tasks/stripe-create-price/Dockerfile
  predefinedImages/tasks/stripe-create-price/go.mod
  predefinedImages/tasks/stripe-create-price/go.sum
  predefinedImages/tasks/stripe-create-price/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  tasks/stripe/stripe_create_payment_link.yml
  tasks/stripe/stripe_create_price.yaml
Due: build runner, deploy runner

WIP
  ui-ecommerce/.env.development
  ui-ecommerce/package.json
  ui-ecommerce/pnpm-lock.yaml
  ui-ecommerce/src/api/index.ts
  ui-ecommerce/src/api/types.ts
  ui-ecommerce/src/features/app/CheckIntegration.tsx
  ui-ecommerce/src/features/app/addIntegrationForm.tsx
  ui-ecommerce/src/features/app/app.tsx
  ui-ecommerce/src/features/app/routes.tsx
  ui-ecommerce/src/features/app/sidebar.tsx
  ui-ecommerce/src/features/hooks/ouath.tsx
  ui-ecommerce/src/features/hooks/use-create-form.ts
  ui-ecommerce/src/features/hooks/use-oauth.ts
  ui-ecommerce/src/features/ui/field.tsx
  ui-ecommerce/src/features/ui/form.tsx
  ui-ecommerce/src/features/ui/hooks/use-get-project-tag.ts
  ui-ecommerce/src/features/ui/image-drop.tsx
  ui-ecommerce/src/features/ui/index.ts
  ui-ecommerce/src/features/ui/layout.tsx
  ui-ecommerce/src/features/ui/new-layout.tsx
  ui-ecommerce/src/features/ui/new-select.tsx
  ui-ecommerce/src/features/ui/toggle.tsx
  ui-ecommerce/src/internal/upload-file-form.tsx
  ui-ecommerce/src/pages/audience.tsx
  ui-ecommerce/src/pages/domains.tsx
  ui-ecommerce/src/pages/files.tsx
  ui-ecommerce/src/pages/home.tsx
  ui-ecommerce/src/pages/products.tsx
  ui-ecommerce/src/pages/sales.tsx
Due: none

redeploy
  .gitlab-ci.yml
Due: deploy api

rebuild ecommerce
  .gitlab-ci.yml
Due: deploy api

redeploy on gitlab ci change for ui and ecommerce
  .gitlab-ci.yml
Due: deploy api

:bug: Fix the pipeline
  .gitlab-ci.yml
Due: deploy api

Improvement on 'SendGrid send email' task
  predefinedImages/tasks/send-email/main.go
  predefinedImages/tasks/sendgrid-send-email/Dockerfile
  predefinedImages/tasks/sendgrid-send-email/go.mod
  predefinedImages/tasks/sendgrid-send-email/go.sum
  predefinedImages/tasks/sendgrid-send-email/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  tasks/sendGrid/send-email.yaml
  tasks/sendGrid/sendgrid_send_email.yaml
Due: build runner, deploy runner

DTX-531 Implementing 'Create Stripe price' task and improvement on 'Stripe create payment link', 'SendGrid send email' tasks (#250)
  predefinedImages/tasks/send-email/main.go
  predefinedImages/tasks/sendgrid-send-email/Dockerfile
  predefinedImages/tasks/sendgrid-send-email/go.mod
  predefinedImages/tasks/sendgrid-send-email/go.sum
  predefinedImages/tasks/sendgrid-send-email/main.go
  predefinedImages/tasks/stripe-create-payment-link/main.go
  predefinedImages/tasks/stripe-create-price/Dockerfile
  predefinedImages/tasks/stripe-create-price/go.mod
  predefinedImages/tasks/stripe-create-price/go.sum
  predefinedImages/tasks/stripe-create-price/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  tasks/sendGrid/send-email.yaml
  tasks/sendGrid/sendgrid_send_email.yaml
  tasks/stripe/stripe_create_payment_link.yml
  tasks/stripe/stripe_create_price.yaml
Due: build runner, deploy runner

Improvement on trigger with schedule type
  ao-api/services/crudService/activation.go
  ao-api/services/crudService/pipeline_services.go
  ao-api/services/triggersService/event_bridge_scheduler.go
  ao-api/services/triggersService/service.go
Due: build api, deploy api

implement theme 2 design
  ui-builder/src/features/ecommerce/index.ts
  ui-builder/src/features/ecommerce/theme2/controller.tsx
  ui-builder/src/features/ecommerce/theme2/theme.ts
Due: none

change font to syne
  ui-builder/src/features/ecommerce/theme2/theme.ts
  ui-builder/src/features/style/generate-styles.ts
Due: none

add feature title styler
  ui-builder/src/features/ecommerce/theme2/controller.tsx
  ui-builder/src/features/ecommerce/theme2/theme.ts
Due: none

add preview images
  ui-builder/src/assets/themes/theme2/cta.png
  ui-builder/src/assets/themes/theme2/featureText.png
  ui-builder/src/assets/themes/theme2/features.png
  ui-builder/src/assets/themes/theme2/hero.png
  ui-builder/src/assets/themes/theme2/navbar.png
  ui-builder/src/assets/themes/theme2/testimonial.png
  ui-builder/src/features/ecommerce/theme2/controller.tsx
Due: none

implement template element
  ui-builder/src/features/elements/extensions/template.tsx
  ui-builder/src/features/elements/index.ts
Due: none

join scripts in to custom code
  ui-builder/src/api/api.ts
  ui-builder/src/utils/join-scripts.ts
Due: none

Render the template element
  ao-api/controllers/uibuilder/publishutils/convert_template.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/go.mod
  ao-api/go.sum
Due: build api, deploy api

Render the template element (#251)
  ao-api/controllers/uibuilder/publishutils/convert_template.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/go.mod
  ao-api/go.sum
Due: build api, deploy api

add lodash template interpolate
  ui-builder/src/main.tsx
Due: none

transform element codes to foot
  ui-builder/src/api/api.ts
Due: none

add template constructor
  ui-builder/src/features/elements/constructor.ts
Due: none

serialize element script
  ui-builder/src/features/elements/element.tsx
Due: none

deserialize element script
  ui-builder/src/utils/deserialize.ts
Due: none

improve join scripts function
  ui-builder/src/utils/join-scripts.ts
Due: none

add product list logic (wip)
  ui-builder/src/features/ecommerce/components/product-list.tsx
  ui-builder/src/features/scripts/products.js
Due: none

Implementing project initial setup based on project type (with focus on 'ecommerce')
  ao-api/app/app.go
  ao-api/controllers/project/project_dependent_setup.go
  ao-api/controllers/project/project_initial_setup.go
Due: build api, deploy api

Fix bug of ecommerce projects setup
  ao-api/controllers/project/project_dependent_setup.go
Due: build api, deploy api

:bug: Fix the Template's template
  ao-api/controllers/uibuilder/publishutils/convert_template.go
Due: build api, deploy api

:bug: Fix the Template's template (#252)
  ao-api/controllers/uibuilder/publishutils/convert_template.go
Due: build api, deploy api

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: none

Initial setup apply when user add new project
  ao-api/app/app.go
  ao-api/controllers/project/add_project_action.go
  ao-api/controllers/project/project_initial_setup.go
Due: build api, deploy api

product and sales changes
  ui-ecommerce/pnpm-lock.yaml
  ui-ecommerce/src/api/index.ts
  ui-ecommerce/src/api/types.ts
  ui-ecommerce/src/features/app/CheckIntegration.tsx
  ui-ecommerce/src/features/app/routes.tsx
  ui-ecommerce/src/features/hooks/ouath.tsx
  ui-ecommerce/src/features/hooks/use-create-form.ts
  ui-ecommerce/src/pages/analytics.tsx
  ui-ecommerce/src/pages/products.tsx
  ui-ecommerce/src/pages/sales.tsx
Due: none

DTX-533 Implementing project initial setup based on project type (with focus on 'ecommerce') (#253)
  ao-api/app/app.go
  ao-api/controllers/project/add_project_action.go
  ao-api/controllers/project/project_dependent_setup.go
Due: build api, deploy api

Just for trigger Gitlab runner
  ao-api/app/app.go
Due: build api, deploy api
