Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, build ui-ecommerce, build ui builder, deploy api, deploy scheduler, deploy runner, deploy ui, deploy ui-ecommerce, deploy ui builder

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
    folder: ui
    build_dest: dist
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

build ui-ecommerce:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    folder: ui-builder
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

build ui builder:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
    folder: ui-builder
    build_dest: dist
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

add and show display name files, change endpoints
  ui-ecommerce/src/pages/analytics.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

commit
  ui-ecommerce/src/api/index.ts
  ui-ecommerce/src/features/app/attachment.tsx
  ui-ecommerce/src/pages/audience.tsx
  ui-ecommerce/src/pages/files.tsx
  ui-ecommerce/src/pages/products.tsx
  ui-ecommerce/src/pages/sales.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: build ui builder, deploy ui builder

fix input rendering
  ui-builder/src/features/elements/extensions/input.tsx
  ui-builder/src/features/simple/simple-renderer.tsx
Due: build ui builder, deploy ui builder

fix ecommerce routing
  ui-builder/src/features/page/add-page-form.tsx
  ui-builder/src/features/page/page-selection.tsx
  ui-builder/src/features/page/top-bar.tsx
Due: build ui builder, deploy ui builder

fix add section button and actions
  ui-builder/src/features/simple/simple-renderer.tsx
Due: build ui builder, deploy ui builder

:bug: fix render customStyles
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/style_store.go
Due: build api, deploy api

add form dashboard
  ui-form/.env.development
  ui-form/.env.prod
  ui-form/.env.production
  ui-form/.eslintrc.json
  ui-form/.gitignore
  ui-form/.prettierrc.json
  ui-form/LICENSE
  ui-form/README.md
  ui-form/index.html
  ui-form/nginx.conf
  ui-form/package.json
  ui-form/pnpm-lock.yaml
  ui-form/postcss.config.cjs
  ui-form/public/android-chrome-192x192.png
  ui-form/public/android-chrome-512x512.png
  ui-form/public/apple-touch-icon.png
  ui-form/public/favicon-16x16.png
  ui-form/public/favicon-32x32.png
  ui-form/public/favicon.ico
  ui-form/public/robots.txt
  ui-form/public/site.webmanifest
  ui-form/src/api/index.ts
  ui-form/src/api/types.ts
  ui-form/src/app.tsx
  ui-form/src/assets/images/logo.png
  ui-form/src/env.d.ts
  ui-form/src/features/app/routes.tsx
  ui-form/src/features/app/sidebar.tsx
  ui-form/src/features/ui/header.tsx
  ui-form/src/features/ui/layout.tsx
  ui-form/src/features/ui/loader.tsx
  ui-form/src/index.css
  ui-form/src/main.tsx
  ui-form/src/pages/home.tsx
  ui-form/src/pages/not-found.tsx
  ui-form/src/vite-env.d.ts
  ui-form/tailwind.config.cjs
  ui-form/tsconfig.json
  ui-form/tsconfig.node.json
  ui-form/vite.config.ts
Due: none

Add DividerStats
  ui-builder/src/assets/components/divider-stats.png
  ui-builder/src/features/components/divider-stats.tsx
  ui-builder/src/features/components/index.ts
  ui-builder/src/features/elements/element.tsx
Due: build ui builder, deploy ui builder

Add GalleryMasonaryOne
  ui-builder/src/assets/components/gallery-masonry-1.png
  ui-builder/src/features/components/gallery-masonry-1.tsx
  ui-builder/src/features/components/index.ts
Due: build ui builder, deploy ui builder

add duplicate page form validation
  ui-builder/src/features/page/actions.tsx
Due: build ui builder, deploy ui builder

Dtx 645 Add GalleryMasonryTwo
  ui-builder/src/assets/components/gallery-masonry-2.png
  ui-builder/src/features/components/gallery-masonry-2.tsx
  ui-builder/src/features/components/index.ts
Due: build ui builder, deploy ui builder

fix ecommerce product images
  ui-builder/src/assets/themes/theme4/bought-item-details.png
  ui-builder/src/assets/themes/theme4/bought-items.png
  ui-builder/src/features/ecommerce/theme4/components.tsx
Due: build ui builder, deploy ui builder

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/app.tsx
  ui-builder/src/features/simple/simple.tsx
  ui-builder/src/features/simple/stylers/styler.tsx
  ui-builder/src/pages/ecommerce-builder.tsx
Due: build ui builder, deploy ui builder

improve bought items
  ui-builder/src/features/ecommerce/theme4/bought-item-details.js
  ui-builder/src/features/ecommerce/theme4/theme.ts
Due: build ui builder, deploy ui builder

fix rating logic
  ui-builder/src/features/ecommerce/theme4/bought-item-details.js
Due: build ui builder, deploy ui builder

deselect class and selector on selected element change
  ui-builder/src/features/style/class-editor.tsx
Due: build ui builder, deploy ui builder

fix unsaved message bug
  ui-builder/src/features/page/top-bar.tsx
Due: build ui builder, deploy ui builder

DTX-636 Fix bug of checking limitation on number of available products
  ao-api/app/app.go
  ao-api/controllers/ecommerce/create_stripe_payment_link.go
  ao-api/go.mod
  ao-api/go.sum
Due: build api, deploy api

handle token expiration
  ui-builder/src/api/api.ts
Due: build ui builder, deploy ui builder

fix add component looks like two actions bug
  ui-builder/src/features/elements/elements-store.ts
Due: build ui builder, deploy ui builder

show success publish notification
  ui-builder/src/features/page/actions.tsx
Due: build ui builder, deploy ui builder

improve simple component sidebar
  ui-builder/src/features/simple/left-sidebar.tsx
  ui-builder/src/features/simple/simple.tsx
Due: build ui builder, deploy ui builder

implement form dashboard
  ui-form/package.json
  ui-form/pnpm-lock.yaml
  ui-form/src/api/index.ts
  ui-form/src/api/types.ts
  ui-form/src/features/app/routes.tsx
  ui-form/src/features/app/sidebar.tsx
  ui-form/src/features/hooks/use-project-query.ts
  ui-form/src/pages/forms.tsx
  ui-form/src/pages/home.tsx
Due: none

Text content should be deleted from scheduled email form
  ui-ecommerce/src/pages/create-schedule.tsx
  ui-ecommerce/src/pages/update-schedule.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

Representation of product content isn't correct in get details product page
  ui-ecommerce/src/pages/audience.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

DTX-650 Add validation to body of e-commerce project requests
  ao-api/controllers/ecommerce/create_email_pipeline.go
  ao-api/controllers/ecommerce/create_order.go
  ao-api/controllers/ecommerce/create_product.go
  ao-api/controllers/ecommerce/create_stripe_payment_link.go
Due: build api, deploy api

Remove editorjs unparsable sections
  ui-ecommerce/src/features/editor/config.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

editor show prev value when editing
  ui-ecommerce/src/features/editor/config.tsx
  ui-ecommerce/src/features/editor/editor.tsx
  ui-ecommerce/src/pages/update-schedule.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

remove extra \n when parsing editor to html
  ui-ecommerce/src/features/editor/editor.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

fix form image
  ui-builder/src/assets/components/form.png
  ui-builder/src/features/components/form.tsx
Due: build ui builder, deploy ui builder

fix input element full width bug
  ui-builder/src/features/advanced/overlay.tsx
  ui-builder/src/features/elements/extensions/input.tsx
  ui-builder/src/features/simple/simple-renderer.tsx
Due: build ui builder, deploy ui builder

Add email field to reviews table
  ao-api/services/projectService/initial_setup.go
Due: build api, deploy api

Add email field to reviews table (#284)
  ao-api/services/projectService/initial_setup.go
Due: build api, deploy api

Add two endpoints to get and set rating of e-commerce products
  ao-api/controllers/ecommerce/get_product_reviews.go
  ao-api/controllers/ecommerce/set_tp_user_review.go
Due: build api, deploy api

Add routes
  ao-api/app/app.go
Due: build api, deploy api

Just for trigger Gitlab runner
  ao-api/controllers/ecommerce/set_tp_user_review.go
Due: build api, deploy api

Fix bug of route parameters
  ao-api/app/app.go
Due: build api, deploy api

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  build ui-ecommerce: any of: ui-ecommerce/**/*
  build ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
  deploy api: any of: ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
  deploy ui-ecommerce: any of: ui-ecommerce/**/*
  deploy ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
