Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*

Import component from json
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/controllers/feature-details-left.tsx
  ui-builder/src/features/controllers/feature-details-right.tsx
  ui-builder/src/features/controllers/feature-grid-images.tsx
  ui-builder/src/features/controllers/footer-grid.tsx
  ui-builder/src/features/controllers/hero.tsx
  ui-builder/src/features/controllers/navbar.tsx
  ui-builder/src/features/controllers/team-center-grid.tsx
  ui-builder/src/features/controllers/team-round-center.tsx
  ui-builder/src/features/controllers/team-round-left.tsx
  ui-builder/src/features/elements/extensions/image.tsx
  ui-builder/src/features/elements/extensions/nav/navbar.tsx
  ui-builder/src/features/marketplace/import-component.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/simple/simple-renderer.tsx
  ui-builder/src/features/states/expression.ts
  ui-builder/src/features/style/size-editor.tsx
  ui-builder/src/features/ui/image-drop.tsx
  ui-builder/src/features/ui/intelinput.tsx
  ui-builder/src/pages/builder.tsx
  ui-builder/src/utils/deserialize.ts
Due: none

Fix dynamic issues
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/about-right.tsx
  ui-builder/src/features/controllers/basic-components/professional-socials.tsx
  ui-builder/src/features/controllers/basic-components/title-subtitle-cta.tsx
  ui-builder/src/features/controllers/footer-grid.tsx
  ui-builder/src/features/controllers/hero-cta-left.tsx
  ui-builder/src/features/controllers/hero-cta-right.tsx
  ui-builder/src/features/controllers/hero-full-width.tsx
  ui-builder/src/features/controllers/list-card.tsx
  ui-builder/src/features/controllers/navbar.tsx
  ui-builder/src/features/controllers/pricing-simple-2.tsx
  ui-builder/src/features/controllers/pricing-simple.tsx
  ui-builder/src/features/controllers/sign-in-basic.tsx
  ui-builder/src/features/controllers/sign-up-basic.tsx
  ui-builder/src/features/data-source/data-editor.tsx
  ui-builder/src/features/data-source/data-source-form.tsx
  ui-builder/src/features/elements/extensions/button.tsx
  ui-builder/src/features/elements/extensions/link.tsx
  ui-builder/src/features/elements/extensions/text.tsx
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/states/expression.ts
  ui-builder/src/features/states/page-states-store.ts
  ui-builder/src/features/states/use-get-states.tsx
  ui-builder/src/utils/deserialize.ts
Due: none

DTX-332 Implement deleting database when user delete project
  ao-api/services/databaseService/delete_database.go
  ao-api/services/databaseService/delete_database_user.go
  ao-api/services/databaseService/interface.go
  ao-api/services/projectService/delete_project.go
  ao-api/stores/databaseStore/database_store.go
  ao-api/stores/databaseStore/delete_database.go
  ao-api/stores/databaseStore/delete_database_user.go
Due: build api, deploy api

:bug: Fix the add record endpoint
  ui/src/features/database/table-endpoints.tsx
Due: build ui, deploy ui

:bug: Fix add record endpoint
  ui/src/features/database/table-endpoints.tsx
Due: build ui, deploy ui

Dtx 335 - Render CSS reset
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/style_store.go
Due: build api, deploy api

Dtx 336 - Image src and link href can include states
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_link.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
Due: build api, deploy api

Support custom fonts
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/add-page-form.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/style/font-form.tsx
  ui-builder/src/features/style/generate-styles.ts
  ui-builder/src/features/style/typography-editor.tsx
Due: none

Improve css properties and styles
  ui-builder/src/features/style/animation-editor.tsx
  ui-builder/src/features/style/background-editor.tsx
  ui-builder/src/features/style/border-editor.tsx
  ui-builder/src/features/style/class-editor.tsx
  ui-builder/src/features/style/css-properties-editor.tsx
  ui-builder/src/features/style/layout-editor.tsx
  ui-builder/src/features/style/position-editor.tsx
  ui-builder/src/features/style/shadow-editor.tsx
  ui-builder/src/features/style/size-editor.tsx
  ui-builder/src/features/style/spacing-editor.tsx
  ui-builder/src/features/style/typography-editor.tsx
  ui-builder/src/features/style/use-edit-style.ts
Due: none

Improve performance and layers
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/advanced/element-dragger-layer.tsx
  ui-builder/src/features/advanced/layers.tsx
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/style/css-properties-editor.tsx
  ui-builder/src/features/style/generate-styles.ts
Due: none

DTX-339 Implement limiting user by plan pages limitation
  ao-api/app/app.go
  ao-api/controllers/internalController/controller.go
  ao-api/controllers/uibuilder/upsert_page.go
  ao-api/services/internalService/interface.go
  ao-api/services/internalService/list_ui_pages.go
  ao-api/services/uibuilderService/check_access.go
  ao-api/services/uibuilderService/interface.go
  ao-api/services/uibuilderService/list_all_pages_of_user.go
  ao-api/services/uibuilderService/upsert_page.go
  ao-api/stores/uibuilderStore/list_all_pages_of_user.go
  ao-api/stores/uibuilderStore/uibuilder_store.go
Due: build api, deploy api

DTX-183: add drag and drop to layers
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/advanced/element-dragger-layer.tsx
  ui-builder/src/features/advanced/layers.tsx
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/elements/extensions/chart-bar.tsx
  ui-builder/src/features/ui/collapse-line.tsx
Due: none

DTX-183-fix
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: none

Improve layers dnd
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/advanced/layers.tsx
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/elements/extensions/icon.tsx
  ui-builder/src/features/elements/extensions/image.tsx
  ui-builder/src/features/style/css-properties-editor.tsx
Due: none

Implement page zoom
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/advanced/advanced.tsx
  ui-builder/src/features/frame/canvas.tsx
  ui-builder/src/features/page/top-bar.tsx
Due: none

Implement custom codes
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/frame/canvas.tsx
  ui-builder/src/features/frame/style.tsx
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/add-page-form.tsx
  ui-builder/src/features/page/custom-code.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/style/font-form.tsx
Due: none

add default custom codes
  ui-builder/src/features/page/top-bar.tsx
Due: none

Dtx 344 - render custom codes
  ao-api/controllers/uibuilder/publishutils/convertor.go
Due: build api, deploy api

do not render custom codes
  ui-builder/src/features/frame/canvas.tsx
  ui-builder/src/features/frame/style.tsx
Due: none

DTX-210, DTX-368 Implement limiting users by their plan domains limitation and set validation of user tokens 24 hours
  ao-api/app/app.go
  ao-api/controllers/internalController/controller.go
  ao-api/controllers/project/set_project_external_domain_handler.go
  ao-api/controllers/userManagement/login.go
  ao-api/pkg/utils/utils.go
  ao-api/services/internalService/interface.go
  ao-api/services/internalService/list_domains.go
  ao-api/services/projectService/check_access.go
  ao-api/services/projectService/interface.go
  ao-api/stores/projectStore/list_project_external_domains.go
  ao-api/stores/projectStore/project_store.go
Due: build api, deploy api

:bug: Fix deserializing animations
  ui-builder/src/utils/deserialize.ts
Due: none

DTX-182: improve drag and drop
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/advanced/canvas.tsx
  ui-builder/src/features/advanced/layers.tsx
  ui-builder/src/features/advanced/overlay.tsx
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/dnd/droppable-portal.tsx
  ui-builder/src/features/dnd/droppable.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/utils/deserialize.ts
Due: none

:bug: Fix navbar
  ao-api/controllers/uibuilder/publishutils/convert_navbar.go
  ui-builder/src/features/elements/extensions/nav/nav-menu.tsx
Due: build api, deploy api

Dtx 364 - Render fonts
  ao-api/controllers/uibuilder/publishutils/convert_fonts.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
Due: build api, deploy api

dtx-375: fix animations and add more to list
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/advanced/overlay.tsx
  ui-builder/src/features/style/animation-editor.tsx
Due: none

dtx 357 358 361 362
  ui-builder/src/features/controllers/dynamics/details.tsx
  ui-builder/src/features/controllers/list-card.tsx
  ui-builder/src/features/frame/hotkey.tsx
  ui-builder/src/features/hotkey/hotkeys.ts
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/simple/simple-canvas.tsx
Due: none

DTX-374 Implement limiting users by number of executed tasks
  ao-api/app/app.go
  ao-api/controllers/internalController/controller.go
  ao-api/services/executionService/check_access.go
  ao-api/services/executionService/get_next_task.go
Due: build api, deploy api

Allow string in task builder json
  ui/src/features/flow/use-flow.ts
  ui/src/features/task/settings.tsx
  ui/src/features/ui/json-editor-input.tsx
Due: build ui, deploy ui

Dtx 378 355 379
  ui-builder/.env.prod
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/actions/action.tsx
  ui-builder/src/features/actions/fetch.tsx
  ui-builder/src/features/actions/index.ts
  ui-builder/src/features/actions/set-state.tsx
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/controllers/chart-bar.tsx
  ui-builder/src/features/controllers/create-form.tsx
  ui-builder/src/features/controllers/dynamics/details.tsx
  ui-builder/src/features/controllers/list-card.tsx
  ui-builder/src/features/controllers/list.tsx
  ui-builder/src/features/controllers/sign-in-basic.tsx
  ui-builder/src/features/controllers/sign-up-basic.tsx
  ui-builder/src/features/data-source/data-editor.tsx
  ui-builder/src/features/data-source/data-source-form.tsx
  ui-builder/src/features/data-source/data-source-store.ts
  ui-builder/src/features/elements/extensions/chart-bar.tsx
  ui-builder/src/features/elements/extensions/text.tsx
  ui-builder/src/features/states/expression.ts
  ui-builder/src/features/ui/intelinput.tsx
Due: none

:bug: Fix rendering state events that don't have key
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_event.go
Due: build api, deploy api

add text mode
  ui-builder/src/features/ui/intelinput.tsx
  ui-builder/src/utils/deserialize.ts
Due: none

DTX-380 Fix bug of exporting projects
  ao-api/controllers/marketplace/add_item.go
  ao-api/models/marketplace_item.go
  ao-api/services/marketplaceService/add_item.go
  ao-api/services/marketplaceService/export_project.go
  ao-api/services/marketplaceService/interface.go
Due: build api, deploy api

DTX-381 Minor improvements on third party user profiles and 'create Stripe payment link' task
  ao-api/app/app.go
  ao-api/controllers/profile/get_profile.go
  ao-api/controllers/profile/profile_controller.go
  predefinedImages/tasks/stripe-create-payment-link/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  tasks/stripe/stripe_create_payment_link.yml
Due: build api, build runner, deploy api, deploy runner

DTX-382 Adding preview url to marketplace items table
  ao-api/controllers/marketplace/add_item.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/marketplace_item.go
  ao-api/stores/marketplaceStore/add_item.go
  ao-api/stores/marketplaceStore/update_item.go
Due: build api, deploy api

DTX-383 Fix error handling when project hasn't database
  ao-api/controllers/database/add_table_action.go
  ao-api/controllers/database/add_table_column_action.go
  ao-api/controllers/database/delete_table_action.go
  ao-api/controllers/database/delete_table_column_action.go
  ao-api/controllers/database/delete_view_action.go
  ao-api/controllers/database/get_tables_list_action.go
  ao-api/controllers/database/get_view_details_action.go
  ao-api/controllers/database/get_views_list_action.go
  ao-api/controllers/database/list_table_columns_action.go
  ao-api/controllers/database/set_table_access_action.go
  ao-api/db/dbutil/util.go
  ao-api/pkg/utils/utils.go
  ao-api/stores/databaseStore/add_table.go
  ao-api/stores/databaseStore/add_table_column.go
  ao-api/stores/databaseStore/delete_row.go
  ao-api/stores/databaseStore/delete_table.go
  ao-api/stores/databaseStore/delete_table_column.go
  ao-api/stores/databaseStore/delete_view.go
  ao-api/stores/databaseStore/get_tables_list.go
  ao-api/stores/databaseStore/get_view_details.go
  ao-api/stores/databaseStore/get_views_list.go
  ao-api/stores/databaseStore/insert_row.go
  ao-api/stores/databaseStore/is_table_public.go
  ao-api/stores/databaseStore/is_view_public.go
  ao-api/stores/databaseStore/list_table_columns.go
  ao-api/stores/databaseStore/run_view_query.go
  ao-api/stores/databaseStore/select_row_by_id.go
  ao-api/stores/databaseStore/select_rows.go
  ao-api/stores/databaseStore/set_table_access.go
  ao-api/stores/databaseStore/update_row.go
  ao-api/stores/databaseStore/upsert_view.go
Due: build api, deploy api

DTX-342-app: add plan limit handling to domain/automations/UI builder
  ui-builder/src/features/page/add-page-form.tsx
  ui/src/features/automation/use-action-bar.tsx
  ui/src/features/automation/use-activate.tsx
  ui/src/pages/domains.tsx
Due: build ui, deploy ui

dtx-393: css properties should be kebab-case, fix some bugs
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/controllers/list-card.tsx
  ui-builder/src/features/data-source/data-source-form.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/style/css-properties-editor.tsx
Due: none

DTX-385 Implementing run database jobs (such as pg_dump) as ecs tasks and its dependencies
  ao-api/app/app.go
  ao-api/controllers/database/get_database_job.go
  ao-api/controllers/database/run_database_job.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/database_job.go
  ao-api/pkg/utils/utils.go
  ao-api/services/databaseService/get_database_job.go
  ao-api/services/databaseService/interface.go
  ao-api/services/databaseService/run_database_job.go
  ao-api/stores/databaseStore/add_database_job.go
  ao-api/stores/databaseStore/database_store.go
  ao-api/stores/databaseStore/get_database_job.go
  ao-api/stores/databaseStore/set_database_job_status.go
Due: build api, deploy api

Dtx 388 - Fix rendering text mode in states and render element id
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_area.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bubble.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_doughnut.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_line.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_pie.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_polararea.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_radar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_scatter.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_content.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_collapsed.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_opened.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_form.go
  ao-api/controllers/uibuilder/publishutils/convert_icon.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_input.go
  ao-api/controllers/uibuilder/publishutils/convert_link.go
  ao-api/controllers/uibuilder/publishutils/convert_menue_button.go
  ao-api/controllers/uibuilder/publishutils/convert_nav_menu.go
  ao-api/controllers/uibuilder/publishutils/convert_navbar.go
  ao-api/controllers/uibuilder/publishutils/convert_select.go
  ao-api/controllers/uibuilder/publishutils/convert_slider.go
  ao-api/controllers/uibuilder/publishutils/convert_submit_button.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convert_text_area.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_event.go
Due: build api, deploy api

DTX-397: views UI
  ui/package-lock.json
  ui/package.json
  ui/src/api/index.ts
  ui/src/api/types.ts
  ui/src/constants/index.ts
  ui/src/features/app/app.tsx
  ui/src/features/app/routes.tsx
  ui/src/features/database/tables.tsx
  ui/src/features/task/settings.tsx
  ui/src/features/views/view-actions.tsx
  ui/src/features/views/view-endpoints.tsx
  ui/src/features/views/view-form.tsx
  ui/src/features/views/view-list.tsx
  ui/src/features/views/view-table.tsx
  ui/src/pages/table.tsx
  ui/src/pages/tables.tsx
  ui/src/pages/view.tsx
Due: build ui, deploy ui
