Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, build ui-ecommerce, build ui builder, deploy api, deploy scheduler, deploy runner, deploy ui, deploy ui-ecommerce, deploy ui builder

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  build ui-ecommerce: any of: ui-ecommerce/**/*
  build ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
  deploy api: any of: ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
  deploy ui-ecommerce: any of: ui-ecommerce/**/*
  deploy ui builder: any of: ui-builder/**/*, .gitlab-ci.yml

Update default tables in initial setup of 'ecommerce' projects (#260)
  ao-api/controllers/project/add_project_action.go
Due: build api, deploy api

Just for trigger Gitlab runner
  ao-api/app/app.go
Due: build api, deploy api

Remove access token from input of 'create Stripe payment link' interaction
  ao-api/controllers/project/project_dependent_setup.go
Due: build api, deploy api

fix product list
  ui-builder/src/features/controllers/helpers/dnd-tabs.tsx
  ui-builder/src/features/ecommerce/theme3/controller.tsx
  ui-builder/src/features/ecommerce/theme3/theme.ts
  ui-builder/src/features/scripts/featured-product-3.js
  ui-builder/src/features/scripts/products-3.js
Due: build ui builder, deploy ui builder

get tags from backend
  ui-builder/src/api/ecommerce.ts
  ui-builder/src/features/ecommerce/components/product-list.tsx
  ui-builder/src/features/ecommerce/theme3/controller.tsx
  ui-builder/src/features/misc/tags-query.ts
Due: build ui builder, deploy ui builder

DTX-541 Implementing e-commerce endpoints to return user products (products that tp...
  ao-api/app/app.go
  ao-api/controllers/ecommerce/create_product.go
  ao-api/controllers/ecommerce/ecommerce_controller.go
  ao-api/controllers/ecommerce/get_tp_user_product.go
  ao-api/controllers/ecommerce/list_product_tags.go
  ao-api/controllers/ecommerce/list_tp_user_products.go
  ao-api/controllers/ecommerce/update_product.go
  ao-api/go.mod
  ao-api/go.sum
Due: build api, deploy api

create product
  ui-ecommerce/src/api/index.ts
  ui-ecommerce/src/api/types.ts
  ui-ecommerce/src/features/app/attachment.tsx
  ui-ecommerce/src/features/ui/image-drop.tsx
  ui-ecommerce/src/pages/new-product.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

fix issues
  ui-builder/src/features/ecommerce/components/bought-products.tsx
  ui-builder/src/features/ecommerce/components/product-list.tsx
  ui-builder/src/features/ecommerce/components/sign-in.tsx
  ui-builder/src/features/ecommerce/components/sign-up.tsx
  ui-builder/src/features/ecommerce/index.ts
  ui-builder/src/features/scripts/bought-products.js
  ui-builder/src/features/scripts/products.js
  ui-builder/src/features/scripts/sign-in.js
  ui-builder/src/features/scripts/sign-up.js
Due: build ui builder, deploy ui builder

move components to correct category
  ui-builder/src/assets/themes/ecommerce/bought-products.png
  ui-builder/src/features/ecommerce/components/bought-products.tsx
  ui-builder/src/features/ecommerce/index.ts
  ui-builder/src/features/ecommerce/theme1/controller.tsx
  ui-builder/src/features/ecommerce/theme2/controller.tsx
  ui-builder/src/features/ecommerce/theme3/controller.tsx
Due: build ui builder, deploy ui builder

add tags to components
  ui-builder/src/features/components/component.ts
Due: build ui builder, deploy ui builder

add audience stats and table
  ui-ecommerce/src/api/index.ts
  ui-ecommerce/src/api/types.ts
  ui-ecommerce/src/pages/analytics.tsx
  ui-ecommerce/src/pages/audience.tsx
  ui-ecommerce/src/pages/products.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: build ui builder, deploy ui builder

Improvement on creating Stripe payment link interaction
  ao-api/controllers/project/project_dependent_setup.go
Due: build api, deploy api

Fix typo
  ao-api/controllers/project/project_dependent_setup.go
Due: build api, deploy api

DTX-544 Remove access token from input of 'create Stripe payment link' interaction (#261)
  ao-api/controllers/project/project_dependent_setup.go
Due: build api, deploy api

maintenance
  ui-ecommerce/package.json
  ui-ecommerce/pnpm-lock.yaml
  ui-ecommerce/src/api/index.ts
  ui-ecommerce/src/api/types.ts
  ui-ecommerce/src/features/app/CheckIntegration.tsx
  ui-ecommerce/src/features/app/app.tsx
  ui-ecommerce/src/features/app/attachment.tsx
  ui-ecommerce/src/features/hooks/use-create-form.ts
  ui-ecommerce/src/features/hooks/use-oauth.ts
  ui-ecommerce/src/features/ui/hooks/use-get-project-tag.ts
  ui-ecommerce/src/features/ui/image-drop.tsx
  ui-ecommerce/src/internal/upload-file-form.tsx
  ui-ecommerce/src/pages/audience.tsx
  ui-ecommerce/src/pages/domains.tsx
  ui-ecommerce/src/pages/files.tsx
  ui-ecommerce/src/pages/home.tsx
  ui-ecommerce/src/pages/new-product.tsx
  ui-ecommerce/src/pages/products.tsx
  ui-ecommerce/src/pages/sales.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

fix small issues
  ui-ecommerce/src/features/ui/table.tsx
  ui-ecommerce/src/pages/audience.tsx
  ui-ecommerce/src/pages/products.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

update packages
  ui-ecommerce/package.json
  ui-ecommerce/pnpm-lock.yaml
Due: build ui-ecommerce, deploy ui-ecommerce

DTX-548 Add an endpoint to return endpoint of 'Stripe create payment link' interaction
  ao-api/app/app.go
  ao-api/controllers/ecommerce/ecommerce_controller.go
  ao-api/controllers/ecommerce/get_stripe_payment_link_endpoint.go
Due: build api, deploy api

WIP
  ui-ecommerce/src/features/app/addIntegrationForm.tsx
  ui-ecommerce/src/pages/new-product.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

ecommerce changes
  ui-ecommerce/src/pages/analytics.tsx
  ui-ecommerce/src/pages/audience.tsx
  ui-ecommerce/src/pages/products.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

Merge requests of adding integration to e-commerce project and add automation for successful payment in e-commerce projects
  ao-api/app/app.go
  ao-api/controllers/project/project_dependent_setup.go
  ao-api/go.mod
  ao-api/go.sum
Due: build api, deploy api

Fix bug of integration secrets
  ao-api/controllers/project/project_dependent_setup.go
Due: build api, deploy api

DTX-551 Merge requests of adding integration to e-commerce project and add automation for successful payment in e-commerce projects (#262)
  ao-api/app/app.go
  ao-api/controllers/project/project_dependent_setup.go
  ao-api/go.mod
  ao-api/go.sum
Due: build api, deploy api

Just for trigger Gitlab runner
  ao-api/controllers/project/project_dependent_setup.go
Due: build api, deploy api

add editorjs plugins packages
  ui-ecommerce/package.json
  ui-ecommerce/pnpm-lock.yaml
Due: build ui-ecommerce, deploy ui-ecommerce

add tailwind css typography package
  ui-ecommerce/tailwind.config.cjs
Due: build ui-ecommerce, deploy ui-ecommerce

config editorjs
  ui-ecommerce/src/features/editor/config.tsx
  ui-ecommerce/src/features/editor/editor.tsx
  ui-ecommerce/src/features/editor/type.d.ts
Due: build ui-ecommerce, deploy ui-ecommerce

fix import
  ui-ecommerce/src/pages/analytics.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

use editor for product
  ui-ecommerce/src/pages/new-product.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

add on save to editor
  ui-ecommerce/src/features/editor/editor.tsx
  ui-ecommerce/src/pages/new-product.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

add product details
  ui-ecommerce/src/pages/analytics.tsx
  ui-ecommerce/src/pages/files.tsx
  ui-ecommerce/src/pages/new-product.tsx
  ui-ecommerce/src/pages/products.tsx
Due: build ui-ecommerce, deploy ui-ecommerce
