Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
  script:
  - cd ui
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./build
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy ui:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    CORE_USERNAME: ${DEV_CORE_USERNAME}
    CORE_PASSWORD: ${DEV_CORE_PASSWORD}
    AWS_ACCESS_KEY_ID: ${DEV_AWS_ACCESS_KEY_ID}
    AWS_SECRET_ACCESS_KEY: ${DEV_AWS_SECRET_ACCESS_KEY}
    BUCKET: app.dotenx.com
    environment: prod
  ...

Data source
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/data-editor.tsx
  ui-builder/src/features/data-source-store.ts
  ui-builder/src/utils/index.ts
Due: none

Ui builder link
  ui/.env.development
  ui/.env.prod
  ui/src/constants/index.ts
  ui/src/features/ui/sidebar.tsx
Due: build ui, deploy ui

add page cru
  ui-builder/.env.development
  ui-builder/.env.prod
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/page.service.ts
  ui-builder/src/api/types.ts
  ui-builder/src/app.tsx
  ui-builder/src/features/top-bar.tsx
  ui-builder/src/hooks/index.ts
  ui-builder/src/hooks/useGetProjectTag.ts
  ui-builder/src/hooks/usePages.ts
Due: none

Implement publish page and setting domain for project
  ao-api/app/app.go
  ao-api/controllers/project/name_generator.go
  ao-api/controllers/project/set_project_external_domain_handler.go
  ao-api/controllers/project/verify_external_domain_handler.go
  ao-api/controllers/uibuilder/name_generator.go
  ao-api/controllers/uibuilder/publish_page.go
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_input.go
  ao-api/controllers/uibuilder/publishutils/convert_select.go
  ao-api/controllers/uibuilder/publishutils/convert_submit_button.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convert_text_area.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/file_utils.go
  ao-api/controllers/uibuilder/publishutils/function_store.go
  ao-api/controllers/uibuilder/publishutils/render_page.go
  ao-api/controllers/uibuilder/publishutils/style_store.go
  ao-api/controllers/uibuilder/uibuilder_conroller.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/project_domain_model.go
  ao-api/models/ui_infrastructure_model.go
  ao-api/services/projectService/get_project_domain.go
  ao-api/services/projectService/interface.go
  ao-api/services/projectService/update_project_domain.go
  ao-api/services/uibuilderService/get_ui_infrastructure.go
  ao-api/services/uibuilderService/interface.go
  ao-api/services/uibuilderService/set_status.go
  ao-api/services/uibuilderService/upsert_ui_infrastructure.go
  ao-api/stores/projectStore/get_project_domain.go
  ao-api/stores/projectStore/project_store.go
  ao-api/stores/projectStore/upsert_project_domain.go
  ao-api/stores/uibuilderStore/get_ui_infrastructure.go
  ao-api/stores/uibuilderStore/set_page_status.go
  ao-api/stores/uibuilderStore/uibuilder_store.go
  ao-api/stores/uibuilderStore/upsert_ui_infrastructure.go
Due: build api, deploy api

Ui builder fetch
  ui-builder/index.html
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/api/index.ts
  ui-builder/src/api/page.service.ts
  ui-builder/src/api/types.ts
  ui-builder/src/app.tsx
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/component-selector-and-layers.tsx
  ui-builder/src/features/data-editor.tsx
  ui-builder/src/features/data-source-form.tsx
  ui-builder/src/features/data-source-store.ts
  ui-builder/src/features/page-states.ts
  ui-builder/src/features/top-bar.tsx
  ui-builder/src/hooks/index.ts
  ui-builder/src/hooks/useGetProjectTag.ts
  ui-builder/src/hooks/usePages.ts
  ui-builder/src/index.css
  ui-builder/src/pages/home.tsx
  ui-builder/src/pages/not-found.tsx
  ui-builder/src/utils/index.ts
  ui-builder/tailwind.config.cjs
Due: none

Add get project domain endpoint
  ao-api/app/app.go
  ao-api/controllers/project/get_project_domain_handler.go
Due: build api, deploy api

Dtx 114 1
  ao-api/controllers/project/get_project_domain_handler.go
Due: build api, deploy api

:sparkles: Add alpine.js and data sources
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_input.go
  ao-api/controllers/uibuilder/publishutils/convert_select.go
  ao-api/controllers/uibuilder/publishutils/convert_submit_button.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convert_text_area.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/function_store.go
  ao-api/controllers/uibuilder/publishutils/render_page.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
Due: build api, deploy api

Ui builder repeat
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/canvas-wrapper.tsx
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/data-editor.tsx
  ui-builder/src/features/data-source-store.ts
  ui-builder/src/features/top-bar.tsx
  ui-builder/src/hooks/usePages.ts
Due: none

Ui builder repeat
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/top-bar.tsx
Due: none

Add domain to builder studio
  ui/src/api/types.ts
  ui/src/features/app/routes.tsx
  ui/src/features/ui/hooks/use-get-project-tag.ts
  ui/src/features/ui/sidebar.tsx
  ui/src/internal/internal-api.ts
  ui/src/pages/domains.tsx
Due: build ui, deploy ui

ui builder fix issues
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/data-editor.tsx
  ui-builder/src/hooks/usePages.ts
Due: none

add verified status
  ui/src/pages/domains.tsx
Due: build ui, deploy ui

final changes
  ui/src/pages/domains.tsx
Due: build ui, deploy ui

Render events
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/function_store.go
  ao-api/controllers/uibuilder/publishutils/render_page.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_event.go
  ao-api/controllers/uibuilder/publishutils/style_store.go
  ao-api/controllers/uibuilder/publishutils/types.go
Due: build api, deploy api

New source format
  ao-api/models/task_field.go
  ao-api/services/executionService/map_fields_utils.go
Due: build api, deploy api

fix bug
  ui/src/pages/domains.tsx
Due: build ui, deploy ui

add condition group
  ui/src/api/types.ts
  ui/src/features/database/query-builder.tsx
  ui/src/features/ui/sidebar.tsx
  ui/src/pages/table.tsx
Due: build ui, deploy ui

Update ao-api/services/executionService/map_fields_utils.go
  ao-api/services/executionService/map_fields_utils.go
Due: build api, deploy api

bug fix
  ui/src/features/task/use-settings.ts
  ui/src/features/ui/sidebar.tsx
Due: build ui, deploy ui

Ui builder forms
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/canvas-wrapper.tsx
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/component-selector.tsx
  ui-builder/src/features/data-editor.tsx
  ui-builder/src/features/data-source-form.tsx
  ui-builder/src/features/data-source-store.ts
  ui-builder/src/features/settings.tsx
  ui-builder/src/features/top-bar.tsx
  ui-builder/src/hooks/index.ts
  ui-builder/src/hooks/useGetProjectTag.ts
  ui-builder/src/hooks/usePages.ts
  ui-builder/src/pages/home.tsx
  ui-builder/src/utils/index.ts
Due: none

:sparkles: Add marketplace
  ao-api/app/app.go
  ao-api/controllers/marketplace/add_item.go
  ao-api/controllers/marketplace/conroller.go
  ao-api/controllers/marketplace/disable_item.go
  ao-api/controllers/marketplace/get_item.go
  ao-api/controllers/marketplace/list_categories.go
  ao-api/controllers/marketplace/list_items.go
  ao-api/controllers/marketplace/update_item.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/marketplace_item.go
  ao-api/services/marketplaceService/add_item.go
  ao-api/services/marketplaceService/disable_item.go
  ao-api/services/marketplaceService/get_item.go
  ao-api/services/marketplaceService/interface.go
  ao-api/services/marketplaceService/list_items.go
  ao-api/services/marketplaceService/list_items_by_account.go
  ao-api/services/marketplaceService/list_items_by_category.go
  ao-api/services/marketplaceService/list_items_by_type.go
  ao-api/services/marketplaceService/update_item.go
  ao-api/stores/marketplaceStore/add_item.go
  ao-api/stores/marketplaceStore/disable_item.go
  ao-api/stores/marketplaceStore/get_item.go
  ao-api/stores/marketplaceStore/list_items.go
  ao-api/stores/marketplaceStore/list_items_by_account.go
  ao-api/stores/marketplaceStore/list_items_by_category.go
  ao-api/stores/marketplaceStore/list_items_by_type.go
  ao-api/stores/marketplaceStore/marketplace_store.go
  ao-api/stores/marketplaceStore/update_item.go
Due: build api, deploy api

Change bindings
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/canvas-wrapper.tsx
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/data-editor.tsx
Due: none

Fix query builder nested conjunctions
  ui/src/features/database/query-builder.tsx
Due: build ui, deploy ui

Style editor
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/canvas-wrapper.tsx
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/component-selector.tsx
  ui-builder/src/features/project-atom.ts
  ui-builder/src/features/settings.tsx
  ui-builder/src/features/styles-editor.tsx
  ui-builder/src/features/top-bar.tsx
  ui-builder/src/pages/home.tsx
Due: none

Add iframe
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/api/mapper.ts
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/data-source-store.ts
  ui-builder/src/features/default-values.ts
  ui-builder/src/features/draggable.tsx
  ui-builder/src/features/droppable.tsx
  ui-builder/src/features/styles-editor.tsx
  ui-builder/src/pages/home.tsx
  ui-builder/src/utils/index.ts
Due: none

Render forms
  ao-api/controllers/uibuilder/publishutils/convert_form.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_input.go
  ao-api/controllers/uibuilder/publishutils/convert_select.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convert_text_area.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
  ao-api/controllers/uibuilder/publishutils/style_store.go
Due: build api, deploy api

Ui builder fix
  ui-builder/.env.development
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/assets/logo.png
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/component-selector.tsx
  ui-builder/src/features/default-values.ts
  ui-builder/src/features/draggable.tsx
  ui-builder/src/features/droppable.tsx
  ui-builder/src/features/settings.tsx
  ui-builder/src/features/styles-editor.tsx
  ui-builder/src/features/top-bar.tsx
  ui-builder/src/vite-env.d.ts
Due: none

Add project name to pipeline endpoints
  ui/src/api/index.ts
  ui/src/features/automation/action-bar.tsx
  ui/src/features/automation/automation.tsx
  ui/src/features/automation/list.tsx
  ui/src/features/automation/use-action-bar.ts
  ui/src/features/automation/use-activate.ts
  ui/src/features/automation/use-save.ts
  ui/src/features/automation/use-update.ts
  ui/src/features/automation/yaml.tsx
  ui/src/features/interaction/run-form.tsx
  ui/src/features/provider/form.tsx
  ui/src/features/trigger/use-form.ts
  ui/src/features/ui/hooks/use-get-project-tag.ts
  ui/src/pages/automation.tsx
  ui/src/pages/automations.tsx
  ui/src/pages/execution.tsx
  ui/src/pages/history.tsx
  ui/src/pages/import-yaml.tsx
  ui/src/pages/interaction.tsx
  ui/src/pages/interactions.tsx
  ui/src/pages/template.tsx
  ui/src/pages/templates.tsx
  ui/src/pages/try-out.tsx
  ui/src/pages/user-groups.tsx
Due: build ui, deploy ui

DTX-124 Implement some endpoints to report status of resources and also support limitation of plans
  ao-api/app/app.go
  ao-api/controllers/admin/controller.go
  ao-api/controllers/crud/activate_pipeline.go
  ao-api/controllers/execution/start_pipeline_action.go
  ao-api/controllers/execution/start_pipeline_by_name_action.go
  ao-api/controllers/internalController/controller.go
  ao-api/controllers/project/add_project_action.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/project_model.go
  ao-api/pkg/middlewares/internal_token_middleware.go
  ao-api/pkg/utils/utils.go
  ao-api/services/crudService/activation.go
  ao-api/services/executionService/start_pipeline.go
  ao-api/services/executionService/start_pipeline_by_endpoint.go
  ao-api/services/executionService/start_pipeline_by_name.go
  ao-api/services/internalService/interface.go
  ao-api/services/internalService/list_db_projects.go
  ao-api/services/internalService/list_projects.go
  ao-api/services/internalService/list_tp_users.go
  ao-api/services/projectService/add_project.go
  ao-api/services/projectService/check_access.go
  ao-api/services/projectService/interface.go
  ao-api/services/userManagementService/check_access.go
  ao-api/services/userManagementService/service.go
  ao-api/stores/projectStore/add_project.go
  ao-api/stores/projectStore/get_project.go
  ao-api/stores/projectStore/get_project_by_tag.go
  ao-api/stores/projectStore/list_db_projects.go
  ao-api/stores/projectStore/project_store.go
Due: build api, deploy api

Ui builder improvements
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/component-selector.tsx
  ui-builder/src/features/data-editor.tsx
  ui-builder/src/features/styles-editor.tsx
Due: none

Ui builder class
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/api/mapper.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/class-editor.tsx
  ui-builder/src/features/class-names-store.ts
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/component-selector.tsx
  ui-builder/src/features/default-values.ts
  ui-builder/src/features/droppable.tsx
  ui-builder/src/features/settings.tsx
  ui-builder/src/features/styles-editor.tsx
  ui-builder/src/features/top-bar.tsx
  ui-builder/src/features/use-selected-component.ts
  ui-builder/src/pages/home.tsx
Due: none

Implement selectors
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/api/mapper.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/class-editor.tsx
  ui-builder/src/features/class-names-store.ts
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/default-values.ts
  ui-builder/src/features/settings.tsx
  ui-builder/src/features/styles-editor.tsx
Due: none

Fix pipelines crud
  ao-api/app/app.go
  ao-api/controllers/crud/add_pipeline_action.go
  ao-api/services/crudService/activation.go
  ao-api/services/crudService/inteface.go
Due: build api, deploy api

Fix the access model of files
  ao-api/.env
  ao-api/.env.mohsen
  ao-api/.env.production
  ao-api/app/app.go
  ao-api/config/config.go
  ao-api/controllers/crud/set_interaction_access.go
  ao-api/controllers/objectstore/delete_file_handler.go
  ao-api/controllers/objectstore/get_file_handler.go
  ao-api/controllers/objectstore/get_public_file_handler.go
  ao-api/controllers/objectstore/set_access.go
  ao-api/controllers/objectstore/set_user_groups.go
  ao-api/controllers/objectstore/upload_handler.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/objectstore_model.go
  ao-api/services/executionService/start_pipeline_by_name.go
  ao-api/services/objectstoreService/delete_object.go
  ao-api/services/objectstoreService/get_object.go
  ao-api/services/objectstoreService/interface.go
  ao-api/services/objectstoreService/set_access.go
  ao-api/services/objectstoreService/set_user_groups.go
  ao-api/stores/objectstoreStore/add_object.go
  ao-api/stores/objectstoreStore/delete_object.go
  ao-api/stores/objectstoreStore/get_object.go
  ao-api/stores/objectstoreStore/list_files.go
  ao-api/stores/objectstoreStore/objectstore_store.go
  ao-api/stores/objectstoreStore/set_access.go
  ao-api/stores/objectstoreStore/set_user_groups.go
Due: build api, deploy api

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
