Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, build ui-ecommerce, build ui builder, deploy api, deploy scheduler, deploy runner, deploy ui, deploy ui-ecommerce, deploy ui builder

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  build ui-ecommerce: any of: ui-ecommerce/**/*
  build ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
  deploy api: any of: ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
  deploy ui-ecommerce: any of: ui-ecommerce/**/*
  deploy ui builder: any of: ui-builder/**/*, .gitlab-ci.yml

fix product list (wip)
  ui-builder/src/features/ecommerce/components/product-list.tsx
  ui-builder/src/features/scripts/products.js
Due: build ui builder, deploy ui builder

Add controller for handling scheduled triggers
  ao-api/.env
  ao-api/app/app.go
  ao-api/config/config.go
  ao-api/controllers/trigger/handle_scheduled_triggers.go
  ao-api/services/triggersService/event_bridge_scheduler.go
  ao-api/services/triggersService/handle_scheduled_triggers.go
  ao-api/services/triggersService/service.go
Due: build api, deploy api

Add some env variables that cause conflicts
  ao-api/.env
  ao-api/config/config.go
Due: build api, deploy api

Fix logs
  ao-api/services/triggersService/service.go
Due: build api, deploy api

add flex
  ui-builder/src/features/elements/constructor.ts
Due: build ui builder, deploy ui builder

add theme 3
  ui-builder/src/features/ecommerce/theme3/theme.ts
Due: build ui builder, deploy ui builder

add theme 3 controllers
  ui-builder/src/features/ecommerce/index.ts
  ui-builder/src/features/ecommerce/theme3/controller.tsx
Due: build ui builder, deploy ui builder

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: build ui builder, deploy ui builder

add theme 3 images
  ui-builder/src/assets/themes/theme3/collections.png
  ui-builder/src/assets/themes/theme3/featured-product.png
  ui-builder/src/assets/themes/theme3/hero.png
  ui-builder/src/assets/themes/theme3/navbar.png
  ui-builder/src/assets/themes/theme3/product-list.png
  ui-builder/src/features/ecommerce/theme3/controller.tsx
Due: build ui builder, deploy ui builder

improve theme 3 responsiveness and add tags
  ui-builder/src/features/ecommerce/theme3/theme.ts
Due: build ui builder, deploy ui builder

add theme 3 controllers
  ui-builder/src/features/ecommerce/theme3/controller.tsx
  ui-builder/src/features/ecommerce/theme3/theme.ts
  ui-builder/src/features/elements/element.tsx
Due: build ui builder, deploy ui builder

DTX-532 Improvement on trigger with 'Schedule' type (scheduled triggers) (#254)
  ao-api/.env
  ao-api/app/app.go
  ao-api/config/config.go
  ao-api/controllers/trigger/handle_scheduled_triggers.go
  ao-api/services/crudService/activation.go
  ao-api/services/crudService/pipeline_services.go
  ao-api/services/triggersService/event_bridge_scheduler.go
  ao-api/services/triggersService/handle_scheduled_triggers.go
  ao-api/services/triggersService/service.go
Due: build api, deploy api

Update environment variables
  ao-api/.env.mohsen
  ao-api/.env.production
Due: build api, deploy api

add css hover
  ui-builder/src/features/elements/element.tsx
Due: build ui builder, deploy ui builder

add link constructor
  ui-builder/src/features/elements/constructor.ts
Due: build ui builder, deploy ui builder

add product list show more
  ui-builder/src/features/ecommerce/components/product-list.tsx
  ui-builder/src/features/scripts/products.js
Due: build ui builder, deploy ui builder

UI changes
  ui/src/features/app/routes.tsx
  ui/src/features/automation/list.tsx
  ui/src/features/database/export-database.tsx
  ui/src/pages/automations.tsx
Due: build ui, deploy ui

fix products link
  ui-builder/src/features/ecommerce/components/product-list.tsx
  ui-builder/src/features/scripts/products.js
Due: build ui builder, deploy ui builder

add product item logic
  ui-builder/src/features/ecommerce/components/product-item.tsx
  ui-builder/src/features/scripts/product.js
Due: build ui builder, deploy ui builder

implement cart
  ui-builder/src/features/ecommerce/components/cart.tsx
  ui-builder/src/features/scripts/cart.js
Due: build ui builder, deploy ui builder

refactor
  ui-builder/src/features/ecommerce/components/product-item.tsx
  ui-builder/src/features/ecommerce/components/product-list.tsx
  ui-builder/src/features/ecommerce/index.ts
  ui-builder/src/features/scripts/product.js
Due: build ui builder, deploy ui builder

add iife wrapper to scripts
  ui-builder/src/features/scripts/cart.js
  ui-builder/src/features/scripts/product.js
  ui-builder/src/features/scripts/products.js
Due: build ui builder, deploy ui builder

refactor
  ui-builder/src/assets/themes/theme1/hero.png
  ui-builder/src/assets/themes/theme1/info-1.png
  ui-builder/src/assets/themes/theme1/info-2.png
  ui-builder/src/assets/themes/theme1/logo-1.png
  ui-builder/src/assets/themes/theme1/logo-2.png
  ui-builder/src/assets/themes/theme1/logo-3.png
  ui-builder/src/assets/themes/theme1/logo-4.png
  ui-builder/src/assets/themes/theme1/logo-5.png
  ui-builder/src/assets/themes/theme1/preview/cta.png
  ui-builder/src/assets/themes/theme1/preview/features-text.png
  ui-builder/src/assets/themes/theme1/preview/features.png
  ui-builder/src/assets/themes/theme1/preview/hero.png
  ui-builder/src/assets/themes/theme1/preview/info.png
  ui-builder/src/assets/themes/theme1/preview/logos.png
  ui-builder/src/assets/themes/theme1/preview/navbar.png
  ui-builder/src/features/ecommerce/components/cart.tsx
  ui-builder/src/features/ecommerce/components/product-item.tsx
  ui-builder/src/features/ecommerce/components/product-list.tsx
  ui-builder/src/features/ecommerce/index.ts
  ui-builder/src/features/ecommerce/theme1/controller.tsx
  ui-builder/src/features/ecommerce/theme1/theme.ts
  ui-builder/src/features/scripts/cart.js
  ui-builder/src/features/simple/simple-renderer.tsx
Due: build ui builder, deploy ui builder

fix ecommerce images
  ui-builder/src/assets/themes/ecommerce/cart.png
  ui-builder/src/assets/themes/ecommerce/header.png
  ui-builder/src/assets/themes/ecommerce/product-item.png
  ui-builder/src/assets/themes/ecommerce/product-list.png
  ui-builder/src/features/ecommerce/components/cart.tsx
  ui-builder/src/features/ecommerce/components/header.tsx
  ui-builder/src/features/ecommerce/components/product-item.tsx
  ui-builder/src/features/ecommerce/components/product-list.tsx
Due: build ui builder, deploy ui builder

Implementing presign urls for DoTenX object store (files)
  ao-api/app/app.go
  ao-api/controllers/objectstore/get_presign_url_handler.go
  ao-api/services/objectstoreService/get_presign_url.go
  ao-api/services/objectstoreService/interface.go
Due: build api, deploy api

pass project tag to controllers on create
  ui-builder/src/features/controllers/controller.ts
  ui-builder/src/features/simple/left-sidebar.tsx
Due: build ui builder, deploy ui builder

use dotenx backend in product list
  ui-builder/src/features/ecommerce/components/product-list.tsx
  ui-builder/src/features/scripts/products.js
Due: build ui builder, deploy ui builder

use backend to fetch product
  ui-builder/src/features/ecommerce/components/product-item.tsx
  ui-builder/src/features/scripts/product.js
Due: build ui builder, deploy ui builder

Implementing presign urls for DoTenX object store (files) (#256)
  ao-api/app/app.go
  ao-api/controllers/objectstore/get_presign_url_handler.go
  ao-api/services/objectstoreService/get_presign_url.go
  ao-api/services/objectstoreService/interface.go
Due: build api, deploy api

Just for trigger Gitlab runner
  ao-api/app/app.go
Due: build api, deploy api

add sign up sign in
  ui-builder/src/features/ecommerce/components/sign-in.tsx
  ui-builder/src/features/ecommerce/components/sign-up.tsx
  ui-builder/src/features/ecommerce/index.ts
  ui-builder/src/features/ecommerce/shared.ts
  ui-builder/src/features/elements/extensions/input.tsx
  ui-builder/src/features/scripts/sign-in.js
  ui-builder/src/features/scripts/sign-up.js
Due: build ui builder, deploy ui builder

Add preview without publish
  ao-api/controllers/uibuilder/preview_page.go
Due: build api, deploy api

support filter product by tag
  ui-builder/src/features/ecommerce/components/product-list.tsx
  ui-builder/src/features/scripts/products.js
Due: build ui builder, deploy ui builder

fix cart
  ui-builder/src/features/ecommerce/components/cart.tsx
  ui-builder/src/features/scripts/cart.js
  ui-builder/src/features/scripts/products.js
Due: build ui builder, deploy ui builder

add auth link
  ui-builder/src/features/ecommerce/components/sign-in.tsx
  ui-builder/src/features/ecommerce/components/sign-up.tsx
Due: build ui builder, deploy ui builder

add featured product
  ui-builder/src/features/ecommerce/components/featured-product.tsx
  ui-builder/src/features/ecommerce/components/product-list.tsx
  ui-builder/src/features/ecommerce/index.ts
  ui-builder/src/features/scripts/featured-product.js
Due: build ui builder, deploy ui builder

add images
  ui-builder/src/assets/themes/ecommerce/sign-in.png
  ui-builder/src/assets/themes/ecommerce/sign-up.png
  ui-builder/src/features/ecommerce/components/sign-in.tsx
  ui-builder/src/features/ecommerce/components/sign-up.tsx
Due: build ui builder, deploy ui builder

Update default tables in initial setup of 'ecommerce' projects
  ao-api/controllers/project/add_project_action.go
Due: build api, deploy api
