Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: none

:bug: Fix rendering extensions and repeated items (#203)
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_content.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_collapsed.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_opened.go
  ao-api/controllers/uibuilder/publishutils/convert_extension.go
  ao-api/controllers/uibuilder/publishutils/convert_form.go
  ao-api/controllers/uibuilder/publishutils/convert_icon.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_link.go
  ao-api/controllers/uibuilder/publishutils/convert_picture.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
Due: build api, deploy api

DTX-489 Add an endpoint to run user's database query (#208)
  ao-api/app/app.go
  ao-api/controllers/database/run_database_query_action.go
  ao-api/services/databaseService/interface.go
  ao-api/services/databaseService/run_database_query.go
  ao-api/stores/databaseStore/database_store.go
  ao-api/stores/databaseStore/run_database_query.go
Due: build api, deploy api

Fix bug of exit app
  ao-api/stores/databaseStore/run_database_query.go
Due: build api, deploy api

add back animejs package
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: none

allow border editor to take target element
  ui-builder/src/features/style/border-editor.tsx
Due: none

remove dead code
  ui-builder/src/features/controllers/hero-full-width.tsx
Due: none

allow size editor to take target element
  ui-builder/src/features/style/size-editor.tsx
Due: none

pass right section slot prop to image drop
  ui-builder/src/features/ui/image-drop.tsx
Due: none

implement input styler component
  ui-builder/src/features/ui/input-styler.tsx
Due: none

refactor text element input to use input styler
  ui-builder/src/features/ui/text-element-input.tsx
Due: none

implement image element input
  ui-builder/src/features/ui/image-element-input.tsx
Due: none

add image element input to about left
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/ui/image-element-input.tsx
Due: none

Pass the animation options
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/function_store.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_event.go
  ao-api/controllers/uibuilder/publishutils/types.go
Due: build api, deploy api

implement link element input
  ui-builder/src/features/ui/link-element-input.tsx
Due: none

refactor
  ui-builder/src/features/controllers/about-left.tsx
Due: none

allow background editor to accept target element
  ui-builder/src/features/style/background-editor.tsx
Due: none

improve divider collapsible
  ui-builder/src/features/controllers/helpers.tsx
Due: none

implement box element input
  ui-builder/src/features/ui/box-element-input.tsx
Due: none

refactor
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/ui/text-element-input.tsx
Due: none

implement icon element input
  ui-builder/src/features/ui/icon-element-input.tsx
Due: none

improve image drop styles
  ui-builder/src/features/ui/image-drop.tsx
Due: none

implement options wrapper
  ui-builder/src/features/controllers/helpers/options-wrapper.tsx
Due: none

refactor about left
  ui-builder/src/features/controllers/about-left.tsx
Due: none

implement dnd tabs
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/helpers/dnd-tabs.tsx
Due: none

refactor and improve dnd tabs abstraction
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/helpers/dnd-tabs.tsx
Due: none

Fix render events
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/function_store.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_event.go
  ao-api/controllers/uibuilder/publishutils/types.go
Due: build api, deploy api

minor refactor
  ui-builder/src/features/controllers/about-left.tsx
Due: none

Fix animationTemplate
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_event.go
Due: build api, deploy api

add spacing
  ui-builder/src/features/controllers/about-left.tsx
Due: none

Add some limitations to user's custom queries (database)
  ao-api/stores/databaseStore/run_database_query.go
Due: build api, deploy api

minor refactor
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/feature-center-cards.tsx
Due: none

implement element tag id and find by tag id
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/utils/deserialize.ts
Due: none

fix find by tag id method
  ui-builder/src/features/elements/element.tsx
Due: none

refactor name
  ui-builder/src/features/controllers/about-left.tsx
Due: none

fix type error
  ui-builder/src/features/elements/element.tsx
Due: none

serialize action ids
  ui-builder/src/features/actions/action.tsx
  ui-builder/src/features/actions/decrement-state.tsx
  ui-builder/src/features/actions/fetch.tsx
  ui-builder/src/features/actions/increment-state.tsx
  ui-builder/src/features/actions/navigate.tsx
  ui-builder/src/features/actions/push-state.tsx
  ui-builder/src/features/actions/remove-item.tsx
  ui-builder/src/features/actions/set-state.tsx
  ui-builder/src/features/actions/toggle-state.tsx
Due: none

Add run custom query
  ui/package.json
  ui/src/api/index.ts
  ui/src/api/types.ts
  ui/src/features/database/custom-query.tsx
  ui/src/features/database/export-database.tsx
  ui/src/pages/tables.tsx
Due: build ui, deploy ui
