Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, build ui-ecommerce, build ui builder, deploy api, deploy scheduler, deploy runner, deploy ui, deploy ui-ecommerce, deploy ui builder

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  build ui-ecommerce: any of: ui-ecommerce/**/*
  build ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
  deploy api: any of: ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
  deploy ui-ecommerce: any of: ui-ecommerce/**/*
  deploy ui builder: any of: ui-builder/**/*, .gitlab-ci.yml

DTX-662 Fix bug of update product endpoint
  ao-api/controllers/ecommerce/update_product.go
Due: build api, deploy api

Add project name to integrations
  ao-api/controllers/integration/controller.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/integrations.go
  ao-api/services/integrationService/service.go
  ao-api/stores/integrationStore/store.go
Due: build api, deploy api

Add project name to project dependent setup endpoint
  ao-api/controllers/project/project_dependent_setup.go
Due: build api, deploy api

DTX-663 Add project name to integrations (#285)
  ao-api/controllers/integration/controller.go
  ao-api/controllers/project/project_dependent_setup.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/integrations.go
  ao-api/services/integrationService/service.go
  ao-api/stores/integrationStore/store.go
Due: build api, deploy api

wip
  ao-api/app/app.go
  ao-api/controllers/project/set_project_external_domain_handler.go
  ao-api/controllers/project/verify_certificate_handler.go
  ao-api/controllers/project/verify_external_domain_handler.go
  ao-api/controllers/uibuilder/preview_page.go
  ao-api/controllers/uibuilder/publish_page.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/project_domain_model.go
  ao-api/pkg/utils/aws_acm_helper.go
  ao-api/pkg/utils/aws_route53_helper.go
  ao-api/pkg/utils/s3_helper.go
  ao-api/services/projectService/delete_project.go
  ao-api/stores/projectStore/get_project_domain.go
  ao-api/stores/projectStore/upsert_project_domain.go
Due: build api, deploy api

Add jobs to build and deploy website dashboard
  .gitlab-ci.yml
  ui-form/README.md
Due: build ui builder, deploy ui builder

Just for trigger Gitlab runner
  ao-api/app/app.go
Due: build api, deploy api

improve simple mode sidebar
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/advanced/layers.tsx
  ui-builder/src/features/components/divider-stats.tsx
  ui-builder/src/features/components/divider-text-sections.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/components/navbar-with-cta.tsx
  ui-builder/src/features/ecommerce/theme4/bought-item-details.js
  ui-builder/src/features/simple/left-sidebar.tsx
  ui-builder/src/features/style/simple-animation-editor.tsx
  ui-builder/src/pages/builder.tsx
Due: build ui builder, deploy ui builder

Add tls validation columns
  .gitignore
  ao-api/controllers/project/set_project_external_domain_handler.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/stores/projectStore/get_project_domain.go
  ao-api/stores/projectStore/upsert_project_domain.go
Due: build api, deploy api

implement columns component
  ui-builder/src/assets/components/columns.png
  ui-builder/src/features/advanced/canvas.tsx
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/components/basic-columns.tsx
  ui-builder/src/features/components/helpers/dnd-tabs.tsx
  ui-builder/src/features/components/index.ts
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/elements/extensions/columns.tsx
  ui-builder/src/features/simple/simple-canvas.tsx
  ui-builder/src/features/simple/simple-renderer.tsx
  ui-builder/src/utils/style-utils.ts
Due: build ui builder, deploy ui builder

fix basic columns
  ui-builder/src/features/components/basic-columns.tsx
Due: build ui builder, deploy ui builder

fix small issues
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/simple/left-sidebar.tsx
Due: build ui builder, deploy ui builder

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: build ui builder, deploy ui builder

update and fix
  ui-builder/package.json
  ui-builder/src/api/types.ts
  ui-builder/src/features/advanced/element-dragger-layer.tsx
  ui-builder/src/features/components/basic-button.tsx
  ui-builder/src/features/components/basic-components/professional-socials.tsx
  ui-builder/src/features/components/basic-image.tsx
  ui-builder/src/features/components/basic-video.tsx
  ui-builder/src/features/components/faq-basic-styled.tsx
  ui-builder/src/features/components/feature-center-cards.tsx
  ui-builder/src/features/components/feature-center-grid.tsx
  ui-builder/src/features/components/feature-details-left.tsx
  ui-builder/src/features/components/feature-details-right.tsx
  ui-builder/src/features/components/footer-simple.tsx
  ui-builder/src/features/components/gallery-masonry-1.tsx
  ui-builder/src/features/components/gallery-masonry-2.tsx
  ui-builder/src/features/components/gallery-with-caption.tsx
  ui-builder/src/features/components/hero-cta-right.tsx
  ui-builder/src/features/components/hero-full-width.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/components/team-center-grid.tsx
  ui-builder/src/features/components/team-round-center.tsx
  ui-builder/src/features/components/testimonial-simple.tsx
  ui-builder/src/features/ecommerce/theme4/theme.ts
  ui-builder/src/features/elements/extensions/video.tsx
  ui-builder/src/features/simple/stylers/icon-picker.tsx
  ui-builder/src/features/simple/stylers/youtube-styler.tsx
  ui-builder/src/features/style/alignment-editor.tsx
  ui-builder/src/utils/deserialize.ts
Due: build ui builder, deploy ui builder

clean up
  ao-api/controllers/project/verify_certificate_handler.go
Due: build api, deploy api

add ecommerce simple components
  ui-builder/src/features/ecommerce/index.tsx
Due: build ui builder, deploy ui builder

Add project type to marketplace items table and its dependencies
  ao-api/controllers/marketplace/add_item.go
  ao-api/controllers/marketplace/list_items.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/marketplace_item.go
  ao-api/services/marketplaceService/interface.go
  ao-api/services/marketplaceService/list_items.go
  ao-api/stores/marketplaceStore/add_item.go
  ao-api/stores/marketplaceStore/list_items.go
  ao-api/stores/marketplaceStore/marketplace_store.go
Due: build api, deploy api

Add theme to marketplace items
  ao-api/controllers/marketplace/add_item.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/marketplace_item.go
  ao-api/services/projectService/import_project.go
  ao-api/stores/marketplaceStore/add_item.go
Due: build api, deploy api

show success and error for auth
  ui-builder/src/features/ecommerce/components/sign-in.tsx
  ui-builder/src/features/ecommerce/components/sign-up.tsx
  ui-builder/src/features/scripts/sign-in.js
  ui-builder/src/features/scripts/sign-up.js
Due: build ui builder, deploy ui builder

DTX-673 Add project type and theme to marketplace items table and its dependencies (#289)
  ao-api/controllers/marketplace/add_item.go
  ao-api/controllers/marketplace/list_items.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/marketplace_item.go
  ao-api/services/marketplaceService/interface.go
  ao-api/services/marketplaceService/list_items.go
  ao-api/services/projectService/import_project.go
  ao-api/stores/marketplaceStore/add_item.go
  ao-api/stores/marketplaceStore/list_items.go
  ao-api/stores/marketplaceStore/marketplace_store.go
Due: build api, deploy api

DTX-669: domain new flow
  ui-ecommerce/src/internal/internal-api.ts
  ui-ecommerce/src/pages/domains.tsx
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/internal/internal-api.ts
  ui/src/pages/domains.tsx
  ui/src/pages/git/github.tsx
Due: build ui, build ui-ecommerce, deploy ui, deploy ui-ecommerce

add slideshow simple component
  ui-builder/src/features/components/basic-slideshow.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/elements/extensions/slider.tsx
Due: build ui builder, deploy ui builder

improve delete page
  ui-builder/src/features/page/actions.tsx
Due: build ui builder, deploy ui builder

fix pricing simple
  ui-builder/src/features/components/pricing-simple.tsx
Due: build ui builder, deploy ui builder

:bug: Remove the children property of IconElement
  ui-builder/src/features/advanced/overlay.tsx
  ui-builder/src/features/elements/extensions/icon.tsx
  ui-builder/src/features/elements/extensions/input.tsx
Due: build ui builder, deploy ui builder

hide back to project and advanced mode button for all but web application project
  ui-builder/src/api/types.ts
  ui-builder/src/features/page/top-bar.tsx
Due: build ui builder, deploy ui builder

fix product list item link
  ui-builder/src/features/scripts/products.js
Due: build ui builder, deploy ui builder

fix sign up redirect
  ui-builder/src/features/scripts/sign-up.js
Due: build ui builder, deploy ui builder

fix sign in redirect
  ui-builder/src/features/scripts/sign-in.js
Due: build ui builder, deploy ui builder

change sign in redirect default to index
  ui-builder/src/features/ecommerce/components/sign-in.tsx
Due: build ui builder, deploy ui builder

change rate request
  ui-builder/src/features/ecommerce/theme4/bought-item-details.js
Due: build ui builder, deploy ui builder

Add FormEmailInput1
  ui-builder/src/assets/components/form-email-input-1.png
  ui-builder/src/features/components/form-email-input-1.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/elements/constructor.ts
  ui-builder/src/features/elements/extensions/input.tsx
  ui-builder/src/features/elements/extensions/submit.tsx
  ui-builder/src/features/scripts/form.js
Due: build ui builder, deploy ui builder

fix some issues
  ui-builder/src/api/types.ts
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/top-bar.tsx
Due: build ui builder, deploy ui builder

change all recurring payment to month
  ui-ecommerce/src/pages/edit-product.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

add unlocked for grid
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/components/basic-columns.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/utils/deserialize.ts
Due: build ui builder, deploy ui builder

add basic box
  ui-builder/src/features/components/basic-box.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/elements/extensions/box.tsx
Due: build ui builder, deploy ui builder

Add customers-users
  ui-builder/src/assets/components/customers-users.png
  ui-builder/src/features/components/customers-users.tsx
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder
