Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
  script:
  - cd ui
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./build
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy ui:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    CORE_USERNAME: ${DEV_CORE_USERNAME}
    CORE_PASSWORD: ${DEV_CORE_PASSWORD}
    AWS_ACCESS_KEY_ID: ${DEV_AWS_ACCESS_KEY_ID}
    AWS_SECRET_ACCESS_KEY: ${DEV_AWS_SECRET_ACCESS_KEY}
    BUCKET: app.dotenx.com
    environment: prod
  ...

add imageURL and change style of marketplace
  ui-builder/src/api/api.ts
  ui-builder/src/features/component-selector.tsx
Due: none

fix modals
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/component-selector.tsx
Due: none

fix type
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/component-selector.tsx
Due: none

Simple styling
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/mapper.ts
  ui-builder/src/features/styles-editor.tsx
Due: none

Simple styling
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/default-values.ts
  ui-builder/src/features/settings.tsx
  ui-builder/src/features/styles-editor.tsx
Due: none

templates updated with new task field format
  ao-api/services/crudService/template.go
Due: build api, deploy api

triggers project name debugged for crete from template
  ao-api/services/crudService/template.go
Due: build api, deploy api

MP change modal design
  ui-builder/src/features/component-selector.tsx
Due: none

More components
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/component-selector.tsx
  ui-builder/src/features/default-values.ts
  ui-builder/src/features/settings.tsx
  ui-builder/src/features/styles-editor.tsx
Due: none

fix scroll bug
  ui-builder/src/features/canvas.tsx
Due: none

unnecessary if removed
  ao-api/services/crudService/pipeline_services.go
Due: build api, deploy api

parent added to flow
  ao-api/app/app.go
  ao-api/controllers/crud/create_from_template.go
  ao-api/controllers/crud/get_template_children.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/pipeline_model.go
  ao-api/services/crudService/get_all_children.go
  ao-api/services/crudService/inteface.go
  ao-api/services/crudService/pipeline_services.go
  ao-api/services/crudService/template.go
  ao-api/stores/pipelineStore/create_pipeline.go
  ao-api/stores/pipelineStore/get_all_children.go
  ao-api/stores/pipelineStore/pipeline_store.go
  ao-api/stores/pipelineStore/pipeline_store_get.go
Due: build api, deploy api

New columns
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/component-selector.tsx
  ui-builder/src/features/default-values.ts
  ui-builder/src/features/settings.tsx
Due: none

Re add interaction integration
  ui/src/features/automation/action-bar.tsx
Due: build ui, deploy ui

created_for added to flow
  ao-api/models/pipeline_model.go
  ao-api/services/crudService/pipeline_services.go
  ao-api/services/crudService/template.go
  ao-api/stores/pipelineStore/create_pipeline.go
  ao-api/stores/pipelineStore/get_all_children.go
  ao-api/stores/pipelineStore/get_all_pipelines.go
  ao-api/stores/pipelineStore/pipeline_store.go
  ao-api/stores/pipelineStore/pipeline_store_get.go
Due: build api, deploy api

createdFor added to migrations
  ao-api/db/migrate/postgresql/migration.go
Due: build api, deploy api

setting default values for new columns
  ao-api/db/migrate/postgresql/migration.go
Due: build api, deploy api

Add fonts
  ui-builder/src/features/styles-editor.tsx
Due: none

get all pipelines debuggeD
  ao-api/stores/pipelineStore/get_all_pipelines.go
Due: build api, deploy api

get all children debugged
  ao-api/stores/pipelineStore/get_all_children.go
Due: build api, deploy api

log added
  ao-api/stores/pipelineStore/get_all_pipelines.go
Due: build api, deploy api

log changed
  ao-api/stores/pipelineStore/get_all_pipelines.go
Due: build api, deploy api

get pipelines list debugged
  ao-api/stores/pipelineStore/list_project_pipelines.go
Due: build api, deploy api

log removed
  ao-api/stores/pipelineStore/get_all_pipelines.go
Due: build api, deploy api

Render Link, Stack and Divider
  ao-api/controllers/uibuilder/publishutils/convert_link.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
Due: build api, deploy api

Deselect hotkey
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/component-renderer.tsx
Due: none

DTX-185: ui builder improvments
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/default-values.ts
  ui-builder/src/features/droppable.tsx
  ui-builder/src/features/settings.tsx
  ui-builder/src/features/styles-editor.tsx
  ui-builder/src/features/top-bar.tsx
  ui-builder/src/pages/home.tsx
Due: none

Add integration back to interactions
  ui/src/features/automation/action-bar.tsx
  ui/src/features/flow/flow.tsx
Due: build ui, deploy ui

Fix template trigger
  ao-api/controllers/crud/delete_pipeline.go
  ao-api/services/crudService/pipeline_services.go
  ao-api/services/crudService/template.go
  ao-api/stores/triggerStore/store.go
Due: build api, deploy api

add template automations
  ui/src/api/index.ts
  ui/src/api/types.ts
  ui/src/features/app/routes.tsx
  ui/src/features/automation/list.tsx
  ui/src/features/ui/table.tsx
  ui/src/pages/execution.tsx
  ui/src/pages/template-automations.tsx
Due: build ui, deploy ui

DTX-184: UI builder: add redo, undo
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/data-editor.tsx
  ui-builder/src/features/settings.tsx
Due: none

DTX-199 Fix bug of type conversion in 'update table record' task
  predefinedImages/tasks/database-update-query/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  tasks/database/update-record.yaml
Due: build runner, deploy runner

DTX-184: fix bugs
  ui-builder/src/features/canvas-store.ts
Due: none

DTX-184: improved undo redo hotkey and add button for them
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/top-bar.tsx
Due: none

DTX-202: Cannot upload images in the ui builder
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
Due: none

DTX-200: Margin and padding shouldn't have a digit and decimal point
  ui-builder/src/features/styles-editor.tsx
Due: none

DTX-203: Users should be redirected to the login page from the UI builder if the token is expired and back to the place they were after login
  ui-builder/.env.development
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/app.tsx
  ui-builder/src/vite-env.d.ts
Due: none

DTX-177 Add an endpoint to get temporary security credentials (with sts) and implement CRUD endpoints of Lambda functions table (used by cli)
  ao-api/.env
  ao-api/.env.production
  ao-api/app/app.go
  ao-api/config/config.go
  ao-api/controllers/marketplace/create_function.go
  ao-api/controllers/marketplace/get_function.go
  ao-api/controllers/marketplace/get_temporary_credential.go
  ao-api/controllers/marketplace/update_function.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/function.go
  ao-api/services/marketplaceService/create_function.go
  ao-api/services/marketplaceService/get_function.go
  ao-api/services/marketplaceService/get_temporary_credential.go
  ao-api/services/marketplaceService/interface.go
  ao-api/services/marketplaceService/update_function.go
  ao-api/stores/marketplaceStore/create_function.go
  ao-api/stores/marketplaceStore/get_function.go
  ao-api/stores/marketplaceStore/marketplace_store.go
  ao-api/stores/marketplaceStore/update_function.go
Due: build api, deploy api

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
