Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
  script:
  - cd ui
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./build
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy ui:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    CORE_USERNAME: ${DEV_CORE_USERNAME}
    CORE_PASSWORD: ${DEV_CORE_PASSWORD}
    AWS_ACCESS_KEY_ID: ${DEV_AWS_ACCESS_KEY_ID}
    AWS_SECRET_ACCESS_KEY: ${DEV_AWS_SECRET_ACCESS_KEY}
    BUCKET: app.dotenx.com
    environment: prod
  ...

dtx-399: improve tables
  ui/src/features/ui/table.tsx
  ui/src/features/views/view-list.tsx
  ui/src/pages/table.tsx
  ui/src/pages/user-management.tsx
  ui/tailwind.config.js
Due: build ui, deploy ui

DTX-394: add Testimonial, navbar with cta & with profile simple components
  ui-builder/src/assets/components/navbar-with-cta.png
  ui-builder/src/assets/components/testimonial-simple.png
  ui-builder/src/features/controllers/helpers.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/navbar-with-cta.tsx
  ui-builder/src/features/controllers/navbar-with-profile.tsx
  ui-builder/src/features/controllers/testimonial-simple.tsx
Due: none

dtx 401: support state default value
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/data-source/data-editor.tsx
  ui-builder/src/features/elements/style.ts
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/add-page-form.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/states/default-values-form.tsx
  ui-builder/src/features/states/use-get-states.tsx
  ui-builder/src/features/style/class-editor.tsx
  ui-builder/src/features/style/font-form.tsx
  ui-builder/src/features/ui/intelinput.tsx
Due: none

dtx-402: support videos
  ui-builder/src/features/elements/extensions/video.tsx
  ui-builder/src/features/elements/index.ts
Due: none

Dtx 400 - render bindings and states' default values
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_area.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bubble.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_doughnut.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_line.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_pie.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_polararea.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_radar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_scatter.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_content.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_collapsed.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_opened.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_form.go
  ao-api/controllers/uibuilder/publishutils/convert_icon.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_input.go
  ao-api/controllers/uibuilder/publishutils/convert_link.go
  ao-api/controllers/uibuilder/publishutils/convert_select.go
  ao-api/controllers/uibuilder/publishutils/convert_slider.go
  ao-api/controllers/uibuilder/publishutils/convert_state_default_values.go
  ao-api/controllers/uibuilder/publishutils/convert_submit_button.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convert_text_area.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/function_store.go
  ao-api/controllers/uibuilder/publishutils/types.go
Due: build api, deploy api

DTX-396 Implementing 'insert row publicly' feature and its dependencies
  ao-api/app/app.go
  ao-api/controllers/database/add_table_action.go
  ao-api/controllers/database/get_tables_list_action.go
  ao-api/controllers/database/insert_row_publicly_action.go
  ao-api/controllers/database/set_write_to_table_access_action.go
  ao-api/models/project_model.go
  ao-api/services/databaseService/add_table.go
  ao-api/services/databaseService/interface.go
  ao-api/services/databaseService/is_write_to_table_public.go
  ao-api/services/databaseService/set_write_to_table_access.go
  ao-api/services/marketplaceService/export_project.go
  ao-api/services/projectService/import_project.go
  ao-api/stores/databaseStore/add_table.go
  ao-api/stores/databaseStore/database_store.go
  ao-api/stores/databaseStore/is_write_to_table_public.go
  ao-api/stores/databaseStore/set_write_to_table_access.go
Due: build api, deploy api

Dtx 401 - Fix rendering event actions and pass the event
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_content.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_collapsed.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_opened.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_icon.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_link.go
  ao-api/controllers/uibuilder/publishutils/convert_menue_button.go
  ao-api/controllers/uibuilder/publishutils/convert_nav_menu.go
  ao-api/controllers/uibuilder/publishutils/convert_navbar.go
  ao-api/controllers/uibuilder/publishutils/convert_slider.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  docker-compose-mohsen.yaml
Due: build api, deploy api

dtx-402-0: improve video element
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/actions/navigate.tsx
  ui-builder/src/features/controllers/navbar-with-cta.tsx
  ui-builder/src/features/controllers/navbar-with-profile.tsx
  ui-builder/src/features/controllers/navbar.tsx
  ui-builder/src/features/controllers/sign-in-basic.tsx
  ui-builder/src/features/controllers/sign-up-basic.tsx
  ui-builder/src/features/data-source/data-source-form.tsx
  ui-builder/src/features/elements/extensions/nav/nav-menu.tsx
  ui-builder/src/features/elements/extensions/video.tsx
  ui-builder/src/features/selection/use-selected-component.ts
  ui-builder/src/features/states/use-get-states.tsx
Due: none

DTX-404 Implementing run 'export database as csv files' as ecs task and its dependencies
  ao-api/controllers/database/get_database_job.go
  ao-api/database-jobs/export-as-csv/Dockerfile
  ao-api/database-jobs/export-as-csv/bash.sh
  ao-api/database-jobs/export-as-dump-file/Dockerfile
  ao-api/database-jobs/export-as-dump-file/bash.sh
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/database_job.go
  ao-api/services/databaseService/run_database_job.go
  ao-api/stores/databaseStore/add_database_job.go
  ao-api/stores/databaseStore/set_database_job_status.go
Due: build api, deploy api

DTX-395/DTX-413: add export tables as Dump file & CSV
  ui/src/api/index.ts
  ui/src/api/types.ts
  ui/src/features/database/export-database.tsx
  ui/src/pages/tables.tsx
Due: build ui, deploy ui

dtx 409 411: css class binding, toggle element visibility
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/advanced/layers.tsx
  ui-builder/src/features/advanced/overlay.tsx
  ui-builder/src/features/data-source/data-editor.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/elements/extensions/video.tsx
Due: none

DTX-417: improve-UI builder(top bar). Simple components: About us left & right
  ui-builder/src/assets/components/about-left.png
  ui-builder/src/assets/components/about-right.png
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/about-right.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/top-bar.tsx
Due: none

dtx-418: fix profile
  ui/src/api/index.ts
  ui/src/features/provider/form.tsx
  ui/src/features/ui/drawer.tsx
  ui/src/pages/provider.tsx
  ui/src/pages/user-management.tsx
Due: build ui, deploy ui

dtx-420: send user token in request if authorized is checked
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/data-source/data-source-form.tsx
  ui-builder/src/features/elements/extensions/youtube.tsx
  ui-builder/src/features/elements/index.ts
Due: none

DTX-414 Improvement on 'http-call', 'twitter-send-tweet' and 'slack-send-message' tasks
  ao-api/app/app.go
  predefinedImages/tasks/http-call/main.go
  predefinedImages/tasks/send-email/main.go
  predefinedImages/tasks/slack-message/main.go
  predefinedImages/tasks/twitter-send-tweet/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  tasks/dotenx/http_call.yaml
  tasks/sendGrid/send-email.yaml
  tasks/slack/slack_message.yaml
  tasks/twitter/twitter_send_tweet.yaml
Due: build api, build runner, deploy api, deploy runner

:bug: Don't render empty string as x-show
  .gitlab-ci.yml
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bar.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_content.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_form.go
  ao-api/controllers/uibuilder/publishutils/convert_icon.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_input.go
  ao-api/controllers/uibuilder/publishutils/convert_link.go
  ao-api/controllers/uibuilder/publishutils/convert_select.go
  ao-api/controllers/uibuilder/publishutils/convert_slider.go
  ao-api/controllers/uibuilder/publishutils/convert_submit_button.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convert_text_area.go
Due: build api, deploy api

Dtx 416
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_event.go
  ao-api/controllers/uibuilder/publishutils/types.go
Due: build api, deploy api

DTX-423 :: customers grid & logo grid : change tile options to tab view
  ui-builder/src/features/controllers/customers-grid.tsx
  ui-builder/src/features/controllers/customers-logo-grid.tsx
Due: none

Dtx 424 425 426
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/advanced/layers.tsx
  ui-builder/src/features/elements/extensions/box.tsx
  ui-builder/src/features/elements/extensions/button.tsx
  ui-builder/src/features/elements/extensions/nav/navbar.tsx
  ui-builder/src/features/elements/extensions/select.tsx
  ui-builder/src/features/style/simple-shadows-editor.tsx
Due: none

Dtx 427 - :bug: Persist all the global states
  ao-api/controllers/uibuilder/publishutils/function_store.go
Due: build api, deploy api

dtx 428: support dnd between layers and canvas
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/advanced/element-dragger-layer.tsx
  ui-builder/src/features/advanced/element-dragger.tsx
  ui-builder/src/features/advanced/layers.tsx
  ui-builder/src/features/advanced/overlay.tsx
  ui-builder/src/features/dnd/droppable-portal.tsx
  ui-builder/src/features/dnd/droppable.tsx
Due: none

Dtx 432 - Add page, url and global stores before anything else to the js file
  ao-api/controllers/uibuilder/publishutils/function_store.go
Due: build api, deploy api

Dtx 433 Render body of datasource as renderTextSource
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
Due: build api, deploy api

Dtx 407: Add Picture element that accepts an image for each breakpoint
  ui-builder/src/features/advanced/overlay.tsx
  ui-builder/src/features/elements/extensions/picture.tsx
  ui-builder/src/features/elements/index.ts
Due: none

dtx-434: do not render dnd handlers if element is hidden
  ui-builder/src/features/advanced/overlay.tsx
  ui-builder/src/features/advanced/renderer.tsx
Due: none

dtx-435: implement render element as
  ui-builder/src/features/elements/extensions/box.tsx
  ui-builder/src/features/elements/extensions/columns.tsx
  ui-builder/src/features/elements/extensions/stack.tsx
  ui-builder/src/features/elements/extensions/text.tsx
Due: none

DTX-429: handle error when user wants to make a table for a project without DB
  ui/src/features/database/tables.tsx
  ui/src/pages/tables.tsx
Due: build ui, deploy ui

Fix type error
  ui-builder/src/features/controllers/pricing-simple-2.tsx
  ui-builder/src/features/controllers/pricing-simple.tsx
  ui-builder/src/features/elements/index.ts
Due: none

DTX-437:implement a link button to backend builder from UI builder
  ui-builder/src/features/page/top-bar.tsx
Due: none

DTX-415 Improvement on 'google-new-email' trigger
  ao-api/app/app.go
  predefinedImages/triggers/google-new-email/main.go
  runner/executors/awsLambda/deploy_all_triggers.sh
  triggers/google/google_new_email.yaml
Due: build api, build runner, deploy api, deploy runner

DTX-233: add access token and project tag access from sidebar
  ui/src/features/ui/layout.tsx
  ui/src/features/ui/sidebar.tsx
  ui/src/internal/access-token.tsx
  ui/src/pages/user-management.tsx
Due: build ui, deploy ui

DTX-233-2: change some styles in access token section
  ui/src/features/ui/sidebar.tsx
  ui/src/internal/access-token.tsx
Due: build ui, deploy ui

DTX-438 Fix bug of database connections
  ao-api/db/dbutil/util.go
Due: build api, deploy api

DTX-233-3: add confirmation for generate and delete token
  ui/src/internal/access-token.tsx
Due: build ui, deploy ui

DTX-440: change provider select type design ( add logos )
  ui/src/features/provider/form.tsx
Due: build ui, deploy ui

Update README.md
  README.md
Due: none

Dtx 442 - render elements as per "As" property. Also, reset heading tags' styles
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/function_store.go
  ao-api/controllers/uibuilder/publishutils/style_store.go
Due: build api, deploy api

DTX-440-b: bug fix and label bold
  ui/src/features/provider/form.tsx
Due: build ui, deploy ui

:bug: print the events
  ao-api/controllers/uibuilder/publishutils/function_store.go
Due: build api, deploy api

Remove the extra double quotes when rendering EventAction
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_event.go
Due: build api, deploy api

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
