Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, build ui-ecommerce, build ui builder, deploy api, deploy scheduler, deploy runner, deploy ui, deploy ui-ecommerce, deploy ui builder

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
    folder: ui
    build_dest: dist
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

build ui-ecommerce:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    folder: ui-builder
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

build ui builder:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
    folder: ui-builder
    build_dest: dist
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

Save original file name in object store
  ao-api/controllers/objectstore/upload_handler.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/objectstore_model.go
  ao-api/stores/objectstoreStore/add_object.go
  ao-api/stores/objectstoreStore/get_object.go
  ao-api/stores/objectstoreStore/list_files.go
Due: build api, deploy api

Dtx 608 - add simple footer
  ui-builder/src/assets/components/footer-simple.png
  ui-builder/src/features/components/basic-components/professional-socials.tsx
  ui-builder/src/features/components/footer-grid.tsx
  ui-builder/src/features/components/footer-simple.tsx
  ui-builder/src/features/components/index.ts
  ui-builder/src/features/elements/extensions/image.tsx
Due: build ui builder, deploy ui builder

Save original file name in object store (#281)
  ao-api/controllers/objectstore/upload_handler.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/objectstore_model.go
  ao-api/stores/objectstoreStore/add_object.go
  ao-api/stores/objectstoreStore/get_object.go
  ao-api/stores/objectstoreStore/list_files.go
Due: build api, deploy api

Just for trigger Gitlab runner
  ao-api/app/app.go
Due: build api, deploy api

Add simple line divider, rename Container to Frame
  ui-builder/src/assets/components/divider-simple-line.png
  ui-builder/src/features/components/divider-simple-line.tsx
  ui-builder/src/features/components/divider-simple-title.tsx
  ui-builder/src/features/components/helpers/component-wrapper.tsx
  ui-builder/src/features/components/index.ts
Due: build ui builder, deploy ui builder

Get page name and form id from route params
  ao-api/app/app.go
  ao-api/controllers/uiForm/add_new_response.go
Due: build api, deploy api

DTX-612 (#280)
  ao-api/app/app.go
  ao-api/controllers/uiForm/add_new_response.go
  ao-api/controllers/uiForm/controller.go
  ao-api/controllers/uiForm/get_ui_page_response_list.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/ui_form_model.go
  ao-api/services/uiFormService/add_new_response.go
  ao-api/services/uiFormService/get_ui_page_response_list.go
  ao-api/services/uiFormService/interface.go
  ao-api/stores/uiFormStore/add_new_response.go
  ao-api/stores/uiFormStore/get_ui_page_response_list.go
  ao-api/stores/uiFormStore/store.go
Due: build api, deploy api

Dtx 622
  .gitlab-ci.yml
Due: build ui builder, deploy ui builder

remove duplicate animation preset
  ui-builder/src/features/animations/presets.ts
Due: build ui builder, deploy ui builder

fix simple animation editor issues
  ui-builder/src/features/style/simple-animation-editor.tsx
Due: build ui builder, deploy ui builder

E-commerce add product validation
  ui-ecommerce/src/api/index.ts
  ui-ecommerce/src/features/ui/image-drop.tsx
  ui-ecommerce/src/pages/new-product.tsx
  ui-ecommerce/src/pages/products.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

DTX-614 Add an endpoint to get details of specific scheduled email pipeline
  ao-api/app/app.go
  ao-api/controllers/ecommerce/get_email_pipeline.go
Due: build api, deploy api

add edit product
  ui-ecommerce/src/api/index.ts
  ui-ecommerce/src/api/types.ts
  ui-ecommerce/src/features/app/routes.tsx
  ui-ecommerce/src/pages/edit-product.tsx
  ui-ecommerce/src/pages/products.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

implement simple animations editor
  ui-builder/src/features/components/hero-cta-left.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/simple/stylers/columns-styler.tsx
  ui-builder/src/features/style/simple-animation-editor.tsx
  ui-builder/src/utils/deserialize.ts
  ui-builder/src/utils/join-scripts.ts
Due: build ui builder, deploy ui builder

show float numbers with 2 decimal points
  ui-ecommerce/src/pages/products.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

Improvement on project initial setup time
  ao-api/controllers/project/add_project_action.go
  ao-api/services/databaseService/add_table.go
  ao-api/services/databaseService/add_table_column.go
  ao-api/services/projectService/initial_setup.go
  ao-api/services/projectService/interface.go
  ao-api/stores/databaseStore/add_table.go
  ao-api/stores/databaseStore/add_table_column.go
  ao-api/stores/databaseStore/database_store.go
Due: build api, deploy api

Use just one connection to database for ecommerce initial setup
  ao-api/controllers/project/add_project_action.go
  ao-api/services/projectService/initial_setup.go
  ao-api/services/projectService/interface.go
Due: build api, deploy api

DTX-537 Improvement on project initial setup time (#282)
  ao-api/controllers/project/add_project_action.go
  ao-api/services/databaseService/add_table.go
  ao-api/services/databaseService/add_table_column.go
  ao-api/services/projectService/initial_setup.go
  ao-api/services/projectService/interface.go
  ao-api/stores/databaseStore/add_table.go
  ao-api/stores/databaseStore/add_table_column.go
  ao-api/stores/databaseStore/database_store.go
Due: build api, deploy api

fix bought items details script
  ui-builder/src/features/ecommerce/theme4/bought-item-details.js
Due: build ui builder, deploy ui builder

DTX-624 Add custom queries of e-commerce dashboard to back-end
  ao-api/app/app.go
  ao-api/controllers/ecommerce/run_predefined_queries.go
Due: build api, deploy api

add form script
  ui-builder/src/features/scripts/form.js
Due: build ui builder, deploy ui builder

allow form component to take name
  ui-builder/src/features/components/form.tsx
Due: build ui builder, deploy ui builder

Render name property for input and select
  ao-api/controllers/uibuilder/publishutils/convert_input.go
  ao-api/controllers/uibuilder/publishutils/convert_select.go
Due: build api, deploy api

Render name property for input and select (#283)
  ao-api/controllers/uibuilder/publishutils/convert_input.go
  ao-api/controllers/uibuilder/publishutils/convert_select.go
Due: build api, deploy api

set input name to label
  ui-builder/src/features/components/form.tsx
  ui-builder/src/features/simple/stylers/text-styler.tsx
Due: build ui builder, deploy ui builder

add edit schedule
  ui-ecommerce/src/api/index.ts
  ui-ecommerce/src/api/types.ts
  ui-ecommerce/src/features/app/routes.tsx
  ui-ecommerce/src/pages/audience.tsx
  ui-ecommerce/src/pages/edit-product.tsx
  ui-ecommerce/src/pages/new-product.tsx
  ui-ecommerce/src/pages/update-schedule.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

fix attachments
  ui-builder/src/features/ecommerce/theme4/bought-item-details.js
  ui-builder/src/features/ecommerce/theme4/theme.ts
Due: build ui builder, deploy ui builder

fix form logic
  ui-builder/src/features/components/component.ts
  ui-builder/src/features/components/form.tsx
  ui-builder/src/features/scripts/form.js
  ui-builder/src/features/simple/left-sidebar.tsx
Due: build ui builder, deploy ui builder

fix editorjs
  ui-ecommerce/src/features/editor/editor.tsx
  ui-ecommerce/src/pages/create-schedule.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

add content to new product
  ui-ecommerce/src/features/editor/editor.tsx
  ui-ecommerce/src/pages/new-product.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

fix update schedule
  ui-ecommerce/src/pages/update-schedule.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

fix edit product
  ui-ecommerce/src/pages/edit-product.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

fix schedule default value
  ui-ecommerce/src/pages/update-schedule.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  build ui-ecommerce: any of: ui-ecommerce/**/*
  build ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
  deploy api: any of: ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
  deploy ui-ecommerce: any of: ui-ecommerce/**/*
  deploy ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
