Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lambda_functions, build api, build ui, build ui-ecommerce, build ui-form, build ui builder, deploy api, deploy ui, deploy ui-ecommerce, deploy ui-form, deploy ui builder

Path conditions:
  lambda_functions: any of: functions.csv
  build api: any of: ao-api/**/*
  build ui: any of: ui/**/*
  build ui-ecommerce: any of: ui-ecommerce/**/*
  build ui-form: any of: ui-form/**/*
  build ui builder: any of: ui-builder/**/*
  deploy api: any of: ao-api/**/*
  deploy ui: any of: ui/**/*
  deploy ui-ecommerce: any of: ui-ecommerce/**/*
  deploy ui-form: any of: ui-form/**/*
  deploy ui builder: any of: ui-builder/**/*

Update README file of DoTenX Github repository (#326)
  README.md
Due: none

Reverted to original compose file.
  docker-compose-db.yaml
  docker-compose.yaml
  pg_hba.conf
  postgresql.conf
Due: none

update the dependencies
  ui-builder/package.json
Due: build ui builder, deploy ui builder

update the lock file
  ui-builder/pnpm-lock.yaml
Due: build ui builder, deploy ui builder

Migrate jotai to the latest version
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: build ui builder, deploy ui builder

Migrate jotai to the latest version (#328)
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: build ui builder, deploy ui builder

Fix docker-compose file
  ao-api/Dockerfile
  docker-compose.yaml
Due: build api, deploy api

Update README file
  README.md
Due: none

Add ai_website as a new type of project and its dependencies
  ao-api/controllers/project/add_project_action.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/go.mod
  ao-api/go.sum
  ao-api/models/project_model.go
  ao-api/stores/projectStore/add_project.go
  ao-api/stores/projectStore/get_project.go
Due: build api, deploy api

Add ai_website as a new type of project and its dependencies (#332)
  ao-api/controllers/project/add_project_action.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/go.mod
  ao-api/go.sum
  ao-api/models/project_model.go
  ao-api/stores/projectStore/add_project.go
  ao-api/stores/projectStore/get_project.go
Due: build api, deploy api

Change DTO of creating ai_website projects endpoint to sync with front-end
  ao-api/controllers/project/add_project_action.go
Due: build api, deploy api

Change DTO of creating ai_website projects endpoint to sync with front-end (#333)
  ao-api/controllers/project/add_project_action.go
Due: build api, deploy api

add create ai website wizard
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/app.tsx
  ui-builder/src/pages/ai-components/business-inputs.tsx
  ui-builder/src/pages/ai-components/contact-inputs.tsx
  ui-builder/src/pages/ai-components/logo-step.tsx
  ui-builder/src/pages/ai-components/navigation-buttons.tsx
  ui-builder/src/pages/ai-components/use-screen-size.ts
  ui-builder/src/pages/create-ai-website-page.tsx
Due: build ui builder, deploy ui builder

add create ai website wizard (#334)
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/app.tsx
  ui-builder/src/pages/ai-components/business-inputs.tsx
  ui-builder/src/pages/ai-components/contact-inputs.tsx
  ui-builder/src/pages/ai-components/logo-step.tsx
  ui-builder/src/pages/ai-components/navigation-buttons.tsx
  ui-builder/src/pages/ai-components/use-screen-size.ts
  ui-builder/src/pages/create-ai-website-page.tsx
Due: build ui builder, deploy ui builder

Implement verify and assign domain to projects
  ao-api/.env
  ao-api/app/app.go
  ao-api/config/config.go
  ao-api/controllers/internalController/handle_domain_purchase.go
  ao-api/controllers/project/add_project_action.go
  ao-api/controllers/project/get_project_domain_handler.go
  ao-api/controllers/project/handle_certificate_issuance.go
  ao-api/controllers/project/handle_domain_registration.go
  ao-api/controllers/project/set_project_external_domain_handler.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/project_domain_model.go
  ao-api/models/project_model.go
  ao-api/pkg/utils/utils.go
  ao-api/services/internalService/handle_domain_purchase.go
  ao-api/services/internalService/interface.go
  ao-api/services/projectService/check_domain_availability.go
  ao-api/services/projectService/event_bridge_rule.go
  ao-api/services/projectService/event_bridge_scheduler.go
  ao-api/services/projectService/get_domain_payment_link.go
  ao-api/services/projectService/handle_certificate_issuance.go
  ao-api/services/projectService/handle_domain_registration.go
  ao-api/services/projectService/interface.go
  ao-api/services/projectService/register_domain.go
  ao-api/stores/projectStore/get_project_by_tag.go
  ao-api/stores/projectStore/get_project_domain_by_cert_arn.go
  ao-api/stores/projectStore/project_store.go
  ao-api/stores/projectStore/upsert_project_domain.go
Due: build api, deploy api

Fix bug of EventBridge rule name length
  ao-api/services/projectService/event_bridge_rule.go
Due: build api, deploy api

Fix bug of EventBridge event pattern
  ao-api/services/projectService/event_bridge_rule.go
Due: build api, deploy api

Fix bug of EventBridge target setting
  ao-api/services/projectService/event_bridge_rule.go
Due: build api, deploy api

Fix bug of EventBridge rule configuration
  ao-api/services/projectService/event_bridge_rule.go
Due: build api, deploy api

Fix handling certificate issuance bug
  ao-api/controllers/project/handle_certificate_issuance.go
  ao-api/services/projectService/handle_certificate_issuance.go
Due: build api, deploy api

Add new role for EventBridge rule
  ao-api/.env
  ao-api/config/config.go
  ao-api/services/projectService/event_bridge_rule.go
Due: build api, deploy api

Add some logs for debugging
  ao-api/controllers/project/handle_certificate_issuance.go
  ao-api/services/projectService/event_bridge_rule.go
Due: build api, deploy api

Add some logs for debugging
  ao-api/controllers/project/handle_certificate_issuance.go
Due: build api, deploy api

Fix handling certificate issuance endpoint dto
  ao-api/controllers/project/handle_certificate_issuance.go
Due: build api, deploy api

Update certificate verification flow and add required attributes to project domains
  ao-api/controllers/project/set_project_external_domain_handler.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/project_domain_model.go
  ao-api/models/project_model.go
  ao-api/pkg/utils/aws_route53_helper.go
  ao-api/services/projectService/event_bridge_rule.go
  ao-api/services/projectService/handle_certificate_issuance.go
  ao-api/services/projectService/register_domain.go
  ao-api/stores/projectStore/get_project_domain.go
  ao-api/stores/projectStore/get_project_domain_by_cert_arn.go
  ao-api/stores/projectStore/upsert_project_domain.go
Due: build api, deploy api

Fix bug of adding CNAME record for certificate validation
  ao-api/controllers/project/set_project_external_domain_handler.go
Due: build api, deploy api

Add tls verification records to hosted zone when user purchased domain from us
  ao-api/services/projectService/handle_domain_registration.go
Due: build api, deploy api

Updating registration status when needed
  ao-api/services/internalService/handle_domain_purchase.go
  ao-api/services/projectService/handle_domain_registration.go
Due: build api, deploy api

Add validation to set domain endpoint when the domain will be purchased from us
  ao-api/controllers/project/set_project_external_domain_handler.go
Due: build api, deploy api
