Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
  script:
  - cd ui
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./build
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy ui:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    CORE_USERNAME: ${DEV_CORE_USERNAME}
    CORE_PASSWORD: ${DEV_CORE_PASSWORD}
    AWS_ACCESS_KEY_ID: ${DEV_AWS_ACCESS_KEY_ID}
    AWS_SECRET_ACCESS_KEY: ${DEV_AWS_SECRET_ACCESS_KEY}
    BUCKET: app.dotenx.com
    environment: prod
  ...

Add comparison table
  ui-builder/src/assets/components/comparison-table-simple.png
  ui-builder/src/features/controllers/comparison-table-simple.tsx
  ui-builder/src/features/controllers/helpers/tabs-options.tsx
  ui-builder/src/features/controllers/index.ts
Due: none

Dtx 287 Add hero with parallax simple component
  ui-builder/src/assets/components/hero-parallax.png
  ui-builder/src/features/controllers/basic-components/title-subtitle-cta.tsx
  ui-builder/src/features/controllers/hero-cta-left.tsx
  ui-builder/src/features/controllers/hero-cta-right.tsx
  ui-builder/src/features/controllers/hero-full-width.tsx
  ui-builder/src/features/controllers/hero-parallax.tsx
  ui-builder/src/features/controllers/index.ts
Due: none

add new simple components: pricing - logo grid- grid card - image gallery
  ui-builder/src/assets/components/customer-logo-grid.png
  ui-builder/src/assets/components/feature-center-cards.jpg
  ui-builder/src/assets/components/gallery-basic-rounded.png
  ui-builder/src/assets/components/pricing-simple-2.jpg
  ui-builder/src/features/controllers/customers-logo-grid.tsx
  ui-builder/src/features/controllers/feature-center-cards.tsx
  ui-builder/src/features/controllers/gallery-basic-rounded.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/pricing-simple-2.tsx
Due: none

Dtx 288
  ui-builder/src/assets/components/team-round-center.png
  ui-builder/src/features/controllers/basic-components/bio.tsx
  ui-builder/src/features/controllers/basic-components/professional-socials.tsx
  ui-builder/src/features/controllers/helpers/grid-column-slider.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/pricing-simple.tsx
  ui-builder/src/features/controllers/team-round-center.tsx
Due: none

DTX-286 Implement reading trigger definitions from s3 bucket that cli stores definition files on it
  ao-api/app/app.go
  ao-api/models/triggers.go
  ao-api/services/predefinedTaskService/service.go
  ao-api/services/triggersService/service.go
Due: build api, deploy api

Dtx 289
  ui-builder/src/assets/components/team-round-left.png
  ui-builder/src/features/controllers/basic-components/bio.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/team-round-left.tsx
Due: none

:bug: Fix image render in simple mode
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/controllers/basic-components/professional-socials.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/simple/simple-renderer.tsx
Due: none

Fix json input
  ui/README.md
  ui/package-lock.json
  ui/package.json
  ui/src/api/index.ts
  ui/src/api/types.ts
  ui/src/features/atoms/index.ts
  ui/src/features/automation/action-bar.tsx
  ui/src/features/flow/flow.tsx
  ui/src/features/flow/task-node.tsx
  ui/src/features/flow/use-flow.ts
  ui/src/features/task/settings.tsx
  ui/src/features/task/test-step.tsx
  ui/src/features/task/use-settings.ts
  ui/src/features/ui/help-popover.tsx
  ui/src/features/ui/index.ts
  ui/src/features/ui/info.tsx
  ui/src/features/ui/json-editor-input.tsx
  ui/src/features/ui/page-title.tsx
  ui/src/internal/internal-api.ts
  ui/src/internal/task-builder.tsx
Due: build ui, deploy ui

Add select row by id
  ao-api/app/app.go
  ao-api/controllers/database/select_row_by_id_action.go
  ao-api/controllers/database/select_row_by_id_publicly_action.go
  ao-api/services/databaseService/interface.go
  ao-api/services/databaseService/select_row_by_id.go
  ao-api/stores/databaseStore/database_store.go
  ao-api/stores/databaseStore/select_row_by_id.go
  ao-api/stores/databaseStore/select_rows.go
Due: build api, deploy api

New simple : FAQ basic styled -divider simple title -feautre with details on left and right
  ui-builder/src/assets/components/divider-simple-title.png
  ui-builder/src/assets/components/faq-basic-styled.png
  ui-builder/src/assets/components/feature-details-left.png
  ui-builder/src/assets/components/feature-details-right.png
  ui-builder/src/features/controllers/divider-simple-title.tsx
  ui-builder/src/features/controllers/faq-basic-styled.tsx
  ui-builder/src/features/controllers/feature-details-left.tsx
  ui-builder/src/features/controllers/feature-details-right.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/simple/simple-canvas.tsx
Due: none

Dynamic simple details
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/types.ts
  ui-builder/src/assets/components/details.png
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/about-right.tsx
  ui-builder/src/features/controllers/basic-components/professional-socials.tsx
  ui-builder/src/features/controllers/basic-components/title-subtitle-cta.tsx
  ui-builder/src/features/controllers/card-list.tsx
  ui-builder/src/features/controllers/create-form.tsx
  ui-builder/src/features/controllers/dynamics/details.tsx
  ui-builder/src/features/controllers/footer-grid.tsx
  ui-builder/src/features/controllers/helpers/grid-column-slider.tsx
  ui-builder/src/features/controllers/hero-parallax.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/list.tsx
  ui-builder/src/features/controllers/pricing-simple.tsx
  ui-builder/src/features/data-bindings/data-source-form.tsx
  ui-builder/src/features/data-bindings/use-get-states.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/elements/extensions/chart-bar.tsx
  ui-builder/src/features/elements/extensions/image.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/ui/intelinput.tsx
Due: none

Dtx 294 - replace tabtab with our implementation
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/about-right.tsx
  ui-builder/src/features/controllers/chart-bar.tsx
  ui-builder/src/features/controllers/feature-details-left.tsx
  ui-builder/src/features/controllers/feature-details-right.tsx
  ui-builder/src/features/controllers/footer-grid.tsx
  ui-builder/src/features/controllers/helpers/draggable-tabs.tsx
  ui-builder/src/features/controllers/helpers/tabs-options.tsx1
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/pricing-simple-2.tsx
  ui-builder/src/features/controllers/pricing-simple.tsx
  ui-builder/src/features/controllers/team-round-center.tsx
  ui-builder/src/features/controllers/team-round-left.tsx
Due: none

Add simp comp 3 : add components name and feature grid with image
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/about-right.tsx
  ui-builder/src/features/controllers/card-list.tsx
  ui-builder/src/features/controllers/comparison-table-simple.tsx
  ui-builder/src/features/controllers/create-form.tsx
  ui-builder/src/features/controllers/customers-grid.tsx
  ui-builder/src/features/controllers/customers-logo-grid.tsx
  ui-builder/src/features/controllers/divider-simple-title.tsx
  ui-builder/src/features/controllers/dynamics/details.tsx
  ui-builder/src/features/controllers/faq-basic-styled.tsx
  ui-builder/src/features/controllers/faq-basic.tsx
  ui-builder/src/features/controllers/feature-center-grid.tsx
  ui-builder/src/features/controllers/feature-details-left.tsx
  ui-builder/src/features/controllers/feature-details-right.tsx
  ui-builder/src/features/controllers/feature-grid-images.tsx
  ui-builder/src/features/controllers/footer-grid.tsx
  ui-builder/src/features/controllers/gallery-basic-rounded.tsx
  ui-builder/src/features/controllers/gallery-basic.tsx
  ui-builder/src/features/controllers/helpers.tsx
  ui-builder/src/features/controllers/hero-cta-left.tsx
  ui-builder/src/features/controllers/hero-cta-right.tsx
  ui-builder/src/features/controllers/hero-full-width.tsx
  ui-builder/src/features/controllers/hero-parallax.tsx
  ui-builder/src/features/controllers/hero.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/list.tsx
  ui-builder/src/features/controllers/pricing-simple-2.tsx
  ui-builder/src/features/controllers/pricing-simple.tsx
  ui-builder/src/features/controllers/sign-in-basic.tsx
  ui-builder/src/features/controllers/sign-up-basic.tsx
  ui-builder/src/features/controllers/team-center-grid.tsx
  ui-builder/src/features/controllers/team-round-center.tsx
  ui-builder/src/features/controllers/team-round-left.tsx
  ui-builder/tsconfig.json
Due: none

State and text
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/about-right.tsx
  ui-builder/src/features/controllers/basic-components/bio.tsx
  ui-builder/src/features/controllers/basic-components/title-subtitle-cta.tsx
  ui-builder/src/features/controllers/card-list.tsx
  ui-builder/src/features/controllers/comparison-table-simple.tsx
  ui-builder/src/features/controllers/customers-grid.tsx
  ui-builder/src/features/controllers/customers-logo-grid.tsx
  ui-builder/src/features/controllers/divider-simple-title.tsx
  ui-builder/src/features/controllers/dynamics/details.tsx
  ui-builder/src/features/controllers/faq-basic-styled.tsx
  ui-builder/src/features/controllers/faq-basic.tsx
  ui-builder/src/features/controllers/feature-center-cards.tsx
  ui-builder/src/features/controllers/feature-center-grid.tsx
  ui-builder/src/features/controllers/feature-details-left.tsx
  ui-builder/src/features/controllers/feature-details-right.tsx
  ui-builder/src/features/controllers/feature-grid-images.tsx
  ui-builder/src/features/controllers/footer-grid.tsx
  ui-builder/src/features/controllers/hero-cta-left.tsx
  ui-builder/src/features/controllers/hero-cta-right.tsx
  ui-builder/src/features/controllers/hero-full-width.tsx
  ui-builder/src/features/controllers/hero.tsx
  ui-builder/src/features/controllers/list.tsx
  ui-builder/src/features/controllers/pricing-simple-2.tsx
  ui-builder/src/features/controllers/pricing-simple.tsx
  ui-builder/src/features/controllers/sign-in-basic.tsx
  ui-builder/src/features/controllers/sign-up-basic.tsx
  ui-builder/src/features/controllers/team-center-grid.tsx
  ui-builder/src/features/elements/extensions/box.tsx
  ui-builder/src/features/elements/extensions/slider.tsx
  ui-builder/src/features/elements/extensions/text.tsx
  ui-builder/src/features/ui/intelinput.tsx
  ui-builder/src/utils/deserialize.ts
Due: none

Dtx 298
  ao-api/controllers/uibuilder/publishutils/convert_text.go
Due: build api, deploy api

:bug: A data source state is added when setting form's request
  ui-builder/src/features/data-bindings/data-source-form.tsx
  ui-builder/src/features/elements/extensions/form.tsx
Due: none

Conditions
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/controllers/card-list.tsx
  ui-builder/src/features/controllers/chart-bar.tsx
  ui-builder/src/features/controllers/create-form.tsx
  ui-builder/src/features/controllers/dynamics/details.tsx
  ui-builder/src/features/controllers/helpers/draggable-tabs.tsx
  ui-builder/src/features/controllers/list.tsx
  ui-builder/src/features/data-bindings/data-editor.tsx
  ui-builder/src/features/data-bindings/data-source-form.tsx
  ui-builder/src/features/data-bindings/data-source-store.ts
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/elements/extensions/form.tsx
  ui-builder/src/features/elements/extensions/nav/navbar.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/simple/element-select.tsx
  ui-builder/src/features/ui/intelinput.tsx
Due: none

Add color options
  ui-builder/src/assets/components/customer-grid.png
  ui-builder/src/assets/components/customer-logo-grid.png
  ui-builder/src/assets/components/feature-grid-images.png
  ui-builder/src/assets/components/hero-parallax.png
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/about-right.tsx
  ui-builder/src/features/controllers/basic-components/color-options.tsx
  ui-builder/src/features/controllers/customers-grid.tsx
  ui-builder/src/features/controllers/customers-logo-grid.tsx
  ui-builder/src/features/controllers/divider-simple-title.tsx
  ui-builder/src/features/controllers/faq-basic-styled.tsx
  ui-builder/src/features/controllers/faq-basic.tsx
  ui-builder/src/features/controllers/feature-center-cards.tsx
  ui-builder/src/features/controllers/feature-center-grid.tsx
  ui-builder/src/features/controllers/feature-details-left.tsx
  ui-builder/src/features/controllers/feature-details-right.tsx
  ui-builder/src/features/controllers/feature-grid-images.tsx
  ui-builder/src/features/controllers/footer-grid.tsx
  ui-builder/src/features/controllers/gallery-basic-rounded.tsx
  ui-builder/src/features/controllers/gallery-basic.tsx
  ui-builder/src/features/controllers/helpers.tsx
  ui-builder/src/features/controllers/hero-cta-left.tsx
  ui-builder/src/features/controllers/hero-cta-right.tsx
  ui-builder/src/features/controllers/hero-full-width.tsx
  ui-builder/src/features/controllers/hero-parallax.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/elements/extensions/chart-bar.tsx
  ui-builder/src/features/simple/simple-canvas.tsx
  ui-builder/src/features/ui/intelinput.tsx
Due: none

Dtx 300
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_event.go
Due: build api, deploy api

:bug: Send bad request if trying to publish a page that doesn't exist
  ao-api/controllers/uibuilder/publish_page.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/stores/uibuilderStore/get_page.go
Due: build api, deploy api

DTX-214-2
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/navbar-with-auth.tsx
  ui-builder/src/features/controllers/navbar.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/elements/extensions/collapsible.tsx
  ui-builder/src/features/elements/index.ts
Due: none

Dtx 214- Render Icon, Collapsible, Dropdown, fix text and datasource url
  ao-api/controllers/uibuilder/publishutils/convert_collapsible.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_content.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_collapsed.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_opened.go
  ao-api/controllers/uibuilder/publishutils/convert_icon.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
Due: build api, deploy api

Fix pages
  ui-builder/src/app.tsx
  ui-builder/src/assets/components/area-chart.png
  ui-builder/src/assets/components/bar-chart.png
  ui-builder/src/assets/components/bubble-chart.png
  ui-builder/src/assets/components/doughnut-chart.png
  ui-builder/src/assets/components/line-chart.png
  ui-builder/src/assets/components/pie-chart.png
  ui-builder/src/assets/components/polar-area-chart.png
  ui-builder/src/assets/components/radar-chart.png
  ui-builder/src/assets/components/scatter-chart.png
  ui-builder/src/features/advanced/advanced.tsx
  ui-builder/src/features/controllers/chart-bar.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/elements/extensions/chart-bubble.tsx
  ui-builder/src/features/elements/extensions/chart-scatter.tsx
  ui-builder/src/features/elements/extensions/dropdown.tsx
  ui-builder/src/features/elements/index.ts
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/page-form.tsx
  ui-builder/src/features/page/page-list.tsx
  ui-builder/src/features/page/page-selection.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/simple/simple.tsx
  ui-builder/src/features/states/use-get-states.tsx
  ui-builder/src/features/style/layout-editor.tsx
  ui-builder/src/pages/builder.tsx
  ui-builder/src/pages/home.tsx
Due: none

:sparkles: Render Navbar, fix render link
  ao-api/controllers/uibuilder/publishutils/convert_menue_button.go
  ao-api/controllers/uibuilder/publishutils/convert_nav_menu.go
  ao-api/controllers/uibuilder/publishutils/convert_navbar.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
Due: build api, deploy api

DTX-304 Add default index page for each project when it created
  ao-api/controllers/project/add_project_action.go
  ao-api/services/projectService/add_project.go
  ao-api/services/projectService/import_project.go
  ao-api/services/projectService/interface.go
  docker-compose.yaml
Due: build api, deploy api

:bug: Fix the text elements in simple sign-in/up
  ui-builder/src/features/controllers/basic-components/round-input-with-label.ts
  ui-builder/src/features/controllers/sign-in-basic.tsx
  ui-builder/src/features/controllers/sign-up-basic.tsx
Due: none

DTX-303: complete color options and add gallery with tile - gallery with caption
  ui-builder/src/assets/components/chart-bar.png
  ui-builder/src/assets/components/gallery-with-title.png
  ui-builder/src/assets/components/gelly-with-caption.png
  ui-builder/src/features/controllers/chart-bar.tsx
  ui-builder/src/features/controllers/comparison-table-simple.tsx
  ui-builder/src/features/controllers/feature-center-cards.tsx
  ui-builder/src/features/controllers/footer-grid.tsx
  ui-builder/src/features/controllers/gallery-with-caption.tsx
  ui-builder/src/features/controllers/gallery-with-title.tsx
  ui-builder/src/features/controllers/helpers.tsx
  ui-builder/src/features/controllers/hero.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/pricing-simple-2.tsx
  ui-builder/src/features/controllers/pricing-simple.tsx
  ui-builder/src/features/controllers/team-round-center.tsx
Due: none

:bug: fix datasource rendering
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
Due: build api, deploy api

:bug: Remove the space from dataSourceName in simple sign in/up
  ui-builder/src/features/controllers/helpers/tabs-options.tsx1
  ui-builder/src/features/simple/element-select.tsx
Due: none

:sparkles: Render event-action type Navigate
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_event.go
  ao-api/controllers/uibuilder/publishutils/types.go
  ui-builder/src/features/simple/element-select.tsx
Due: build api, deploy api

:bug: Return empty string if state part is not set
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_event.go
Due: build api, deploy api

DTX-299 Implement views for database
  ao-api/app/app.go
  ao-api/controllers/database/delete_view_action.go
  ao-api/controllers/database/get_tables_list_action.go
  ao-api/controllers/database/get_view_details_action.go
  ao-api/controllers/database/get_views_list_action.go
  ao-api/controllers/database/run_view_query_action.go
  ao-api/controllers/database/run_view_query_publicly_action.go
  ao-api/controllers/database/upsert_view_action.go
  ao-api/models/database_view.go
  ao-api/services/databaseService/delete_view.go
  ao-api/services/databaseService/get_view_details.go
  ao-api/services/databaseService/get_views_list.go
  ao-api/services/databaseService/interface.go
  ao-api/services/databaseService/is_view_public.go
  ao-api/services/databaseService/run_view_query.go
  ao-api/services/databaseService/upsert_view.go
  ao-api/services/projectService/add_project.go
  ao-api/services/projectService/import_project.go
  ao-api/services/projectService/interface.go
  ao-api/stores/databaseStore/create_views_table.go
  ao-api/stores/databaseStore/database_store.go
  ao-api/stores/databaseStore/delete_row.go
  ao-api/stores/databaseStore/delete_view.go
  ao-api/stores/databaseStore/get_view_details.go
  ao-api/stores/databaseStore/get_views_list.go
  ao-api/stores/databaseStore/is_view_public.go
  ao-api/stores/databaseStore/run_view_query.go
  ao-api/stores/databaseStore/select_rows.go
  ao-api/stores/databaseStore/upsert_view.go
  ao-api/stores/redisStore/store.go
Due: build api, deploy api

:bug: Fix rendering of card-list and pricing components
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/list-card.tsx
  ui-builder/src/features/controllers/pricing-simple-2.tsx
  ui-builder/src/features/controllers/pricing-simple.tsx
Due: none

DTX-328: Support the index page which always exists
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/app.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/pricing-simple-2.tsx
  ui-builder/src/features/controllers/pricing-simple.tsx
  ui-builder/src/features/controllers/sign-in-basic.tsx
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/page-form.tsx
  ui-builder/src/features/page/page-list.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/pages/home.tsx
Due: none

DTX-312: Deleting simple Sign-in/up should remove their datasources too
  ui-builder/src/features/controllers/controller.ts
  ui-builder/src/features/controllers/gallery-with-caption.tsx
  ui-builder/src/features/controllers/gallery-with-title.tsx
  ui-builder/src/features/controllers/sign-in-basic.tsx
  ui-builder/src/features/controllers/sign-up-basic.tsx
  ui-builder/src/features/data-source/data-source-store.ts
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/elements/elements-store.ts
  ui-builder/src/features/page/project-store.ts
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/simple/element-select.tsx
Due: none

Dtx 325
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/function_store.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
  ui-builder/src/features/controllers/list-card.tsx
Due: build api, deploy api

DTX-329 Implement database isolation with username and password with admin privilege...
  ao-api/db/dbutil/util.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/database_user.go
  ao-api/services/projectService/add_project.go
  ao-api/stores/projectStore/create_db_user_and_grant_access.go
  ao-api/stores/projectStore/project_store.go
Due: build api, deploy api

DTX-331: fix change animation and sort css properties
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/actions/action.tsx
  ui-builder/src/features/controllers/dynamics/details.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/style/class-editor.tsx
  ui-builder/src/features/style/css-properties-editor.tsx
  ui-builder/src/utils/deserialize.ts
Due: none

DTX-333 Fix bug of projects that haven't database
  ao-api/services/projectService/get_project.go
  ao-api/services/projectService/get_project_by_tag.go
Due: build api, deploy api

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
