Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, build ui-ecommerce, build ui builder, deploy api, deploy scheduler, deploy runner, deploy ui, deploy ui-ecommerce, deploy ui builder

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
    folder: ui
    build_dest: dist
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

build ui-ecommerce:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    folder: ui-builder
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

build ui builder:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
    folder: ui-builder
    build_dest: dist
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

fix merge conflicts
  ui-ecommerce/src/pages/new-product.tsx
  ui-ecommerce/src/pages/products.tsx
  ui-ecommerce/src/pages/sales.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

Update 'Stripe create payment link' task to creating invoices for checkout session
  predefinedImages/tasks/stripe-create-payment-link/go.mod
  predefinedImages/tasks/stripe-create-payment-link/go.sum
  predefinedImages/tasks/stripe-create-payment-link/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  tasks/stripe/stripe_create_payment_link.yml
Due: build runner, deploy runner

Comment some lines
  runner/executors/awsLambda/deploy_all_tasks.sh
Due: build runner, deploy runner

DTX-555 Update 'Stripe create payment link' task to creating invoices for che… (#263)
  predefinedImages/tasks/stripe-create-payment-link/go.mod
  predefinedImages/tasks/stripe-create-payment-link/go.sum
  predefinedImages/tasks/stripe-create-payment-link/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  tasks/stripe/stripe_create_payment_link.yml
Due: build runner, deploy runner

Just for trigger Gitlab runner
  ao-api/app/app.go
Due: build api, deploy api

Fix bug of creating payemnt link for recurring payments
  predefinedImages/tasks/stripe-create-payment-link/main.go
Due: none

DTX-554 Add an endpoint for create order (adding records to tables) when payment completed
  ao-api/app/app.go
  ao-api/controllers/ecommerce/create_order.go
Due: build api, deploy api

add setup integration
  ui-ecommerce/src/api/index.ts
  ui-ecommerce/src/api/types.ts
  ui-ecommerce/src/features/hooks/use-create-form.ts
  ui-ecommerce/src/pages/audience.tsx
  ui-ecommerce/src/pages/new-product.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

DTX-555-1 Fix bug of creating payment link for recurring payments (#266)
  predefinedImages/tasks/stripe-create-payment-link/main.go
Due: none

Implementing 'Run custom query' task as a predefined task
  predefinedImages/tasks/database-run-custom-query/Dockerfile
  predefinedImages/tasks/database-run-custom-query/go.mod
  predefinedImages/tasks/database-run-custom-query/go.sum
  predefinedImages/tasks/database-run-custom-query/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  tasks/database/run-custom-query.yaml
Due: build runner, deploy runner

Implementing 'Run custom query' task as a predefined task (#268)
  predefinedImages/tasks/database-run-custom-query/Dockerfile
  predefinedImages/tasks/database-run-custom-query/go.mod
  predefinedImages/tasks/database-run-custom-query/go.sum
  predefinedImages/tasks/database-run-custom-query/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  tasks/database/run-custom-query.yaml
Due: build runner, deploy runner

DTX-556 Implementing scheduling emails feature and minor improvement
  ao-api/app/app.go
  ao-api/controllers/ecommerce/create_email_pipeline.go
  ao-api/controllers/ecommerce/ecommerce_controller.go
  ao-api/controllers/ecommerce/get_email_pipelines.go
Due: build api, deploy api

Add html_content field to products table of e-commerce projects
  ao-api/controllers/project/add_project_action.go
Due: build api, deploy api

Add html_content field to products table of e-commerce projects (#269)
  ao-api/controllers/project/add_project_action.go
Due: build api, deploy api

Add basic components
  ui-builder/src/assets/components/basic-button.png
  ui-builder/src/assets/components/basic-image.png
  ui-builder/src/assets/components/basic-text.png
  ui-builder/src/features/controllers/basic-button.tsx
  ui-builder/src/features/controllers/basic-image.tsx
  ui-builder/src/features/controllers/basic-text.tsx
  ui-builder/src/features/controllers/helpers/component-wrapper.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/simple/stylers/box-styler.tsx
  ui-builder/src/features/style/alignment-editor.tsx
Due: build ui builder, deploy ui builder

Add basic components (#270)
  ui-builder/src/assets/components/basic-button.png
  ui-builder/src/assets/components/basic-image.png
  ui-builder/src/assets/components/basic-text.png
  ui-builder/src/features/controllers/basic-button.tsx
  ui-builder/src/features/controllers/basic-image.tsx
  ui-builder/src/features/controllers/basic-text.tsx
  ui-builder/src/features/controllers/helpers/component-wrapper.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/simple/stylers/box-styler.tsx
  ui-builder/src/features/style/alignment-editor.tsx
Due: build ui builder, deploy ui builder

DTX-562 Add metadate to scheduled emails of ecomerce projects and implementing update details of them
  ao-api/Dockerfile
  ao-api/app/app.go
  ao-api/controllers/ecommerce/create_email_pipeline.go
  ao-api/controllers/ecommerce/get_email_pipelines.go
  ao-api/controllers/ecommerce/update_email_pipeline.go
  ao-api/go.mod
  ao-api/go.sum
Due: build api, deploy api

DTX-564: ui builder ecommerce checkout
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/ecommerce.ts
  ui-builder/src/features/components/component.ts
  ui-builder/src/features/components/index.ts
  ui-builder/src/features/ecommerce/components/cart.tsx
  ui-builder/src/features/ecommerce/index.ts
  ui-builder/src/features/scripts/cart.js
  ui-builder/src/features/scripts/product.js
  ui-builder/src/features/simple/left-sidebar.tsx
  ui-builder/src/features/simple/simple.tsx
Due: build ui builder, deploy ui builder

use Component instead of Controller
  ui-builder/src/features/components/basic-button.tsx
  ui-builder/src/features/components/basic-image.tsx
  ui-builder/src/features/components/basic-text.tsx
Due: build ui builder, deploy ui builder

Fix the module name
  ui-builder/src/features/components/basic-button.tsx
  ui-builder/src/features/components/basic-image.tsx
  ui-builder/src/features/components/basic-text.tsx
Due: build ui builder, deploy ui builder

add schedule
  ui-ecommerce/package.json
  ui-ecommerce/pnpm-lock.yaml
  ui-ecommerce/src/api/index.ts
  ui-ecommerce/src/features/app/routes.tsx
  ui-ecommerce/src/features/ui/table.tsx
  ui-ecommerce/src/pages/audience.tsx
  ui-ecommerce/src/pages/create-schedule.tsx
  ui-ecommerce/src/pages/new-product.tsx
  ui-ecommerce/src/pages/products.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

Impelemnting new plans and limitations based on project type
  ao-api/Dockerfile
  ao-api/controllers/internalController/controller.go
  ao-api/controllers/project/set_project_external_domain_handler.go
  ao-api/pkg/utils/plan.go
  ao-api/services/crudService/activation.go
  ao-api/services/executionService/check_access.go
  ao-api/services/internalService/interface.go
  ao-api/services/internalService/list_domains.go
  ao-api/services/internalService/list_projects.go
  ao-api/services/internalService/process_updating_plan.go
  ao-api/services/projectService/add_project.go
  ao-api/services/projectService/check_access.go
  ao-api/services/projectService/interface.go
  ao-api/services/uibuilderService/check_access.go
  ao-api/services/userManagementService/check_access.go
Due: build api, deploy api

implement theme 4
  ui-builder/src/features/ecommerce/index.ts
  ui-builder/src/features/ecommerce/theme4/components.tsx
  ui-builder/src/features/ecommerce/theme4/theme.ts
  ui-builder/src/features/elements/constructor.ts
  ui-builder/src/features/simple/left-sidebar.tsx
Due: build ui builder, deploy ui builder

Update project types to compatiable with new plans
  ao-api/controllers/project/add_project_action.go
Due: build api, deploy api

:bug: Use ElementId in styles when available
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_area.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bubble.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_doughnut.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_line.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_pie.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_polararea.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_radar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_scatter.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_content.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_collapsed.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_opened.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_extension.go
  ao-api/controllers/uibuilder/publishutils/convert_form.go
  ao-api/controllers/uibuilder/publishutils/convert_icon.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_input.go
  ao-api/controllers/uibuilder/publishutils/convert_link.go
  ao-api/controllers/uibuilder/publishutils/convert_menue_button.go
  ao-api/controllers/uibuilder/publishutils/convert_nav_menu.go
  ao-api/controllers/uibuilder/publishutils/convert_navbar.go
  ao-api/controllers/uibuilder/publishutils/convert_picture.go
  ao-api/controllers/uibuilder/publishutils/convert_select.go
  ao-api/controllers/uibuilder/publishutils/convert_slider.go
  ao-api/controllers/uibuilder/publishutils/convert_submit_button.go
  ao-api/controllers/uibuilder/publishutils/convert_template.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convert_text_area.go
Due: build api, deploy api

:bug: Use ElementId in styles when available (#271)
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_area.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bubble.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_doughnut.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_line.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_pie.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_polararea.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_radar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_scatter.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_content.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_collapsed.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_opened.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_extension.go
  ao-api/controllers/uibuilder/publishutils/convert_form.go
  ao-api/controllers/uibuilder/publishutils/convert_icon.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_input.go
  ao-api/controllers/uibuilder/publishutils/convert_link.go
  ao-api/controllers/uibuilder/publishutils/convert_menue_button.go
  ao-api/controllers/uibuilder/publishutils/convert_nav_menu.go
  ao-api/controllers/uibuilder/publishutils/convert_navbar.go
  ao-api/controllers/uibuilder/publishutils/convert_picture.go
  ao-api/controllers/uibuilder/publishutils/convert_select.go
  ao-api/controllers/uibuilder/publishutils/convert_slider.go
  ao-api/controllers/uibuilder/publishutils/convert_submit_button.go
  ao-api/controllers/uibuilder/publishutils/convert_template.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convert_text_area.go
Due: build api, deploy api

Better error handling
  ao-api/controllers/project/project_dependent_setup.go
Due: build api, deploy api

DTX-560 Implemnting new plans and limitations based on project type (#272)
  ao-api/Dockerfile
  ao-api/controllers/internalController/controller.go
  ao-api/controllers/project/add_project_action.go
  ao-api/controllers/project/project_dependent_setup.go
  ao-api/controllers/project/set_project_external_domain_handler.go
  ao-api/pkg/utils/plan.go
  ao-api/services/crudService/activation.go
  ao-api/services/executionService/check_access.go
  ao-api/services/internalService/interface.go
  ao-api/services/internalService/list_domains.go
  ao-api/services/internalService/list_projects.go
  ao-api/services/internalService/process_updating_plan.go
  ao-api/services/projectService/add_project.go
  ao-api/services/projectService/check_access.go
  ao-api/services/projectService/interface.go
  ao-api/services/uibuilderService/check_access.go
  ao-api/services/userManagementService/check_access.go
Due: build api, deploy api

add default data to editor
  ui-ecommerce/src/features/editor/config.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

fix typo
  ui-ecommerce/src/api/index.ts
Due: build ui-ecommerce, deploy ui-ecommerce

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  build ui-ecommerce: any of: ui-ecommerce/**/*
  build ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
  deploy api: any of: ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
  deploy ui-ecommerce: any of: ui-ecommerce/**/*
  deploy ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
