Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
  script:
  - cd ui
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./build
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy ui:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    CORE_USERNAME: ${DEV_CORE_USERNAME}
    CORE_PASSWORD: ${DEV_CORE_PASSWORD}
    AWS_ACCESS_KEY_ID: ${DEV_AWS_ACCESS_KEY_ID}
    AWS_SECRET_ACCESS_KEY: ${DEV_AWS_SECRET_ACCESS_KEY}
    BUCKET: app.dotenx.com
    environment: prod
  ...

DTX-439 Implementing 'import csv file' feature for importing table rows
  ao-api/app/app.go
  ao-api/controllers/database/import_csv_file_action.go
  ao-api/services/databaseService/import_csv_file.go
  ao-api/services/databaseService/interface.go
Due: build api, deploy api

:bug: Fix rendering default value of body in dataSource fetch
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
Due: build api, deploy api

Dtx 447 1 - Fix rendering option param in dataSources
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_content.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_collapsed.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_opened.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_form.go
  ao-api/controllers/uibuilder/publishutils/convert_icon.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_link.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
Due: build api, deploy api

DTX-251: change gallery Simple Components select options to tab view & fix bug ( GridTemplateColumns default value )
  ui-builder/src/features/controllers/faq-basic-styled.tsx
  ui-builder/src/features/controllers/faq-basic.tsx
  ui-builder/src/features/controllers/gallery-basic-rounded.tsx
  ui-builder/src/features/controllers/gallery-basic.tsx
  ui-builder/src/features/controllers/gallery-with-caption.tsx
  ui-builder/src/features/controllers/gallery-with-title.tsx
Due: none

Dtx 449 - :bug: Fix renderTextStates
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_event.go
Due: build api, deploy api

Update LICENSE
  LICENSE
Due: none

Update README.md
  README.md
Due: none

Add the missing consts
  ui/src/constants/index.ts
Due: build ui, deploy ui

Revert the wrong changes
  ui/src/api/admin.ts
  ui/src/features/app/routes.tsx
  ui/src/features/ui/sidebar.tsx
Due: build ui, deploy ui

simple components changes
  ui-builder/src/assets/components/gallery-basic.png
  ui-builder/src/assets/components/navbar-with-profile.png
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/about-right.tsx
  ui-builder/src/features/controllers/comparison-table-simple.tsx
  ui-builder/src/features/controllers/customers-grid.tsx
  ui-builder/src/features/controllers/divider-simple-title.tsx
  ui-builder/src/features/controllers/dynamics/details.tsx
  ui-builder/src/features/controllers/faq-basic-styled.tsx
  ui-builder/src/features/controllers/faq-basic.tsx
  ui-builder/src/features/controllers/feature-center-cards.tsx
  ui-builder/src/features/controllers/feature-center-grid.tsx
  ui-builder/src/features/controllers/feature-details-left.tsx
  ui-builder/src/features/controllers/feature-details-right.tsx
  ui-builder/src/features/controllers/feature-grid-images.tsx
  ui-builder/src/features/controllers/footer-grid.tsx
  ui-builder/src/features/controllers/gallery-basic.tsx
  ui-builder/src/features/controllers/hero-cta-left.tsx
  ui-builder/src/features/controllers/hero-cta-right.tsx
  ui-builder/src/features/controllers/hero-full-width.tsx
  ui-builder/src/features/controllers/hero-parallax.tsx
  ui-builder/src/features/controllers/hero.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/navbar-with-auth.tsx
  ui-builder/src/features/controllers/navbar-with-profile.tsx
  ui-builder/src/features/controllers/pricing-simple-2.tsx
  ui-builder/src/features/controllers/pricing-simple.tsx
  ui-builder/src/features/controllers/sign-in-basic.tsx
  ui-builder/src/features/controllers/sign-up-basic.tsx
  ui-builder/src/features/controllers/team-center-grid.tsx
  ui-builder/src/features/controllers/team-round-center.tsx
  ui-builder/src/features/page/top-bar.tsx
Due: none

DTX-439-1 Implementing 'import csv file' feature as ecs task and its dependencies
  ao-api/.env
  ao-api/.env.production
  ao-api/app/app.go
  ao-api/config/config.go
  ao-api/controllers/database/import_csv_file_action.go
  ao-api/database-jobs/import-csv/Dockerfile
  ao-api/database-jobs/import-csv/bash.sh
  ao-api/services/databaseService/import_csv_file.go
  ao-api/services/databaseService/import_csv_file_internal.go
  ao-api/services/databaseService/interface.go
  ao-api/stores/databaseStore/database_store.go
  ao-api/stores/databaseStore/get_database_user.go
Due: build api, deploy api

move simple comps last changes gitlab > github
  ui-builder/src/assets/components/gallery-basic.png
  ui-builder/src/assets/components/navbar-with-profile.png
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/about-right.tsx
  ui-builder/src/features/controllers/comparison-table-simple.tsx
  ui-builder/src/features/controllers/customers-grid.tsx
  ui-builder/src/features/controllers/divider-simple-title.tsx
  ui-builder/src/features/controllers/dynamics/details.tsx
  ui-builder/src/features/controllers/faq-basic-styled.tsx
  ui-builder/src/features/controllers/faq-basic.tsx
  ui-builder/src/features/controllers/feature-center-cards.tsx
  ui-builder/src/features/controllers/feature-center-grid.tsx
  ui-builder/src/features/controllers/feature-details-left.tsx
  ui-builder/src/features/controllers/feature-details-right.tsx
  ui-builder/src/features/controllers/feature-grid-images.tsx
  ui-builder/src/features/controllers/footer-grid.tsx
  ui-builder/src/features/controllers/gallery-basic.tsx
  ui-builder/src/features/controllers/hero-cta-left.tsx
  ui-builder/src/features/controllers/hero-cta-right.tsx
  ui-builder/src/features/controllers/hero-full-width.tsx
  ui-builder/src/features/controllers/hero-parallax.tsx
  ui-builder/src/features/controllers/hero.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/navbar-with-auth.tsx
  ui-builder/src/features/controllers/navbar-with-profile.tsx
  ui-builder/src/features/controllers/pricing-simple-2.tsx
  ui-builder/src/features/controllers/pricing-simple.tsx
  ui-builder/src/features/controllers/sign-in-basic.tsx
  ui-builder/src/features/controllers/sign-up-basic.tsx
  ui-builder/src/features/controllers/team-center-grid.tsx
  ui-builder/src/features/controllers/team-round-center.tsx
  ui-builder/src/features/page/top-bar.tsx
Due: none

DTX-456: Simple component improvements (#180)
  ui-builder/src/assets/components/gallery-basic.png
  ui-builder/src/assets/components/navbar-with-profile.png
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/about-right.tsx
  ui-builder/src/features/controllers/comparison-table-simple.tsx
  ui-builder/src/features/controllers/customers-grid.tsx
  ui-builder/src/features/controllers/divider-simple-title.tsx
  ui-builder/src/features/controllers/dynamics/details.tsx
  ui-builder/src/features/controllers/faq-basic-styled.tsx
  ui-builder/src/features/controllers/faq-basic.tsx
  ui-builder/src/features/controllers/feature-center-cards.tsx
  ui-builder/src/features/controllers/feature-center-grid.tsx
  ui-builder/src/features/controllers/feature-details-left.tsx
  ui-builder/src/features/controllers/feature-details-right.tsx
  ui-builder/src/features/controllers/feature-grid-images.tsx
  ui-builder/src/features/controllers/footer-grid.tsx
  ui-builder/src/features/controllers/gallery-basic.tsx
  ui-builder/src/features/controllers/hero-cta-left.tsx
  ui-builder/src/features/controllers/hero-cta-right.tsx
  ui-builder/src/features/controllers/hero-full-width.tsx
  ui-builder/src/features/controllers/hero-parallax.tsx
  ui-builder/src/features/controllers/hero.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/navbar-with-auth.tsx
  ui-builder/src/features/controllers/navbar-with-profile.tsx
  ui-builder/src/features/controllers/pricing-simple-2.tsx
  ui-builder/src/features/controllers/pricing-simple.tsx
  ui-builder/src/features/controllers/sign-in-basic.tsx
  ui-builder/src/features/controllers/sign-up-basic.tsx
  ui-builder/src/features/controllers/team-center-grid.tsx
  ui-builder/src/features/controllers/team-round-center.tsx
  ui-builder/src/features/page/top-bar.tsx
Due: none

fix .env
  ui/.env.production
Due: build ui, deploy ui

fix duplicate import
  ui-builder/src/features/controllers/index.ts
Due: none

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: none

support for heads and tailwind
  ui-builder/src/features/frame/hotkey.tsx
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/page/update-frame-head.ts
  ui-builder/src/utils/index.ts
Due: none

Execute custom head codes in UI builder (#181)
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/frame/hotkey.tsx
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/page/update-frame-head.ts
  ui-builder/src/utils/index.ts
  ui/.env.production
Due: build ui, deploy ui

Render class bindings, fix conditional rendering
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_area.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bubble.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_doughnut.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_line.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_pie.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_polararea.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_radar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_scatter.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_content.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_form.go
  ao-api/controllers/uibuilder/publishutils/convert_icon.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_input.go
  ao-api/controllers/uibuilder/publishutils/convert_link.go
  ao-api/controllers/uibuilder/publishutils/convert_select.go
  ao-api/controllers/uibuilder/publishutils/convert_slider.go
  ao-api/controllers/uibuilder/publishutils/convert_submit_button.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convert_text_area.go
  ao-api/controllers/uibuilder/publishutils/types.go
Due: build api, deploy api

Don't wrap the return value of renderTextStates in back ticks
  ao-api/controllers/uibuilder/publishutils/convert_box.go
Due: build api, deploy api

DTX-461 Add preview endpoint for ui-builder pages
  ao-api/app/app.go
  ao-api/controllers/uibuilder/preview_page.go
  ao-api/pkg/utils/utils.go
Due: build api, deploy api

DTX-460 Add dotenx-cli source code to dotenx-internal (as a folder)
  cli/.gitignore
  cli/.goreleaser.yaml
  cli/README.md
  cli/cmd/config.go
  cli/cmd/deploy_function.go
  cli/cmd/root.go
  cli/cmd/test_function.go
  cli/config/constants.go
  cli/go.mod
  cli/go.sum
  cli/main.go
  cli/models/credentials.go
  cli/models/function.go
  cli/models/tasks.go
  cli/models/triggers.go
  cli/npm-pkg/package.json
  cli/npm-pkg/postinstall.js
  cli/templates/go1.x/deploy.yaml
  cli/templates/go1.x/template.yaml
  cli/utils/http_helper.go
  cli/utils/utils.go
Due: none

add new merge requests
  ui-builder/package.json
  ui-builder/src/features/advanced/overlay.tsx
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/data-source/data-source-form.tsx
  ui-builder/src/features/elements/extensions/input.tsx
  ui-builder/src/features/elements/extensions/select.tsx
  ui-builder/src/features/elements/extensions/textarea.tsx
  ui-builder/src/features/states/use-get-states.tsx
Due: none

Refactor rendering events and fix intersection event
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_area.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bubble.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_doughnut.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_line.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_pie.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_polararea.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_radar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_scatter.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_content.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_collapsed.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_opened.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_form.go
  ao-api/controllers/uibuilder/publishutils/convert_icon.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_input.go
  ao-api/controllers/uibuilder/publishutils/convert_link.go
  ao-api/controllers/uibuilder/publishutils/convert_menue_button.go
  ao-api/controllers/uibuilder/publishutils/convert_nav_menu.go
  ao-api/controllers/uibuilder/publishutils/convert_navbar.go
  ao-api/controllers/uibuilder/publishutils/convert_select.go
  ao-api/controllers/uibuilder/publishutils/convert_slider.go
  ao-api/controllers/uibuilder/publishutils/convert_submit_button.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convert_text_area.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
Due: build api, deploy api

Render Picture element
  ao-api/controllers/uibuilder/publishutils/convert_picture.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
Due: build api, deploy api

Fix the default image
  ao-api/controllers/uibuilder/publishutils/convert_picture.go
Due: build api, deploy api

WIP
  ui-builder/src/features/advanced/element-dragger-layer.tsx
  ui-builder/src/features/controllers/helpers.tsx
  ui-builder/src/features/simple/element-select.tsx
  ui-builder/src/features/simple/simple.tsx
Due: none

use portal to render component preview
  ui-builder/src/features/simple/element-select.tsx
Due: none

add preview simple component and tooltips
  ui-builder/src/features/advanced/element-dragger-layer.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/simple/element-select.tsx
  ui-builder/src/features/simple/simple.tsx
Due: none

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
