Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, build ui-ecommerce, build ui builder, deploy api, deploy scheduler, deploy runner, deploy ui, deploy ui-ecommerce, deploy ui builder

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
    folder: ui
    build_dest: dist
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

build ui-ecommerce:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    folder: ui-builder
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

build ui builder:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
    folder: ui-builder
    build_dest: dist
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

Add testimonial-slider-2
  ui-builder/src/assets/components/testimonial-slider-2.png
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/components/testimonial-slider-2.tsx
  ui-builder/src/features/scripts/testimonial-slider-2.js
Due: build ui builder, deploy ui builder

fix external domain value
  ui/src/pages/domains.tsx
Due: build ui, deploy ui

don't toggle browser full screen on preview
  ui-builder/src/features/page/top-bar.tsx
Due: build ui builder, deploy ui builder

fix inner components add button (can't click)
  ui-builder/src/features/simple/simple-renderer.tsx
Due: build ui builder, deploy ui builder

Add limitation to plans for file storage and check it in ao-api service
  ao-api/app/app.go
  ao-api/controllers/internalController/controller.go
  ao-api/controllers/objectstore/upload_handler.go
  ao-api/services/internalService/get_file_storage_usage.go
  ao-api/services/internalService/interface.go
  ao-api/services/objectstoreService/get_usage_by_project_type.go
  ao-api/services/objectstoreService/interface.go
  ao-api/stores/objectstoreStore/get_usage_by_project_type.go
  ao-api/stores/objectstoreStore/objectstore_store.go
Due: build api, deploy api

Fix bug of null service that used in internal service
  ao-api/app/app.go
  ao-api/services/internalService/interface.go
Due: build api, deploy api

Update README.md
  README.md
Due: none

DTX-783 Add limitation to plans for file storage and check it in ao-api service (#298)
  ao-api/app/app.go
  ao-api/controllers/internalController/controller.go
  ao-api/controllers/objectstore/upload_handler.go
  ao-api/services/internalService/get_file_storage_usage.go
  ao-api/services/internalService/interface.go
  ao-api/services/objectstoreService/get_usage_by_project_type.go
  ao-api/services/objectstoreService/interface.go
  ao-api/stores/objectstoreStore/get_usage_by_project_type.go
  ao-api/stores/objectstoreStore/objectstore_store.go
Due: build api, deploy api

fix navbar
  ui-builder/src/features/components/navbar.tsx
  ui-builder/src/features/scripts/navbar.js
  ui-builder/src/features/simple/palette.tsx
  ui-builder/src/features/ui/image-drop.tsx
Due: build ui builder, deploy ui builder

remove unused file
  ui-builder/src/features/components/navbar-with-auth.tsx
Due: build ui builder, deploy ui builder

Change External domain field value in Domains
  ui-ecommerce/src/pages/domains.tsx
  ui-form/src/pages/domains.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

DTX-764, DTX-787 Add three endpoints for creating a completion for the chat messages, creating ui component and generating image (with openai api)
  ao-api/.env
  ao-api/.env.mohsen
  ao-api/.env.production
  ao-api/app/app.go
  ao-api/config/config.go
  ao-api/controllers/openAI/controller.go
  ao-api/controllers/openAI/create_chat_completion.go
  ao-api/controllers/openAI/create_image.go
  ao-api/controllers/openAI/generate_ui_component.go
Due: build api, deploy api

Add form-email-input-2
  ui-builder/src/assets/components/form-email-input-2.png
  ui-builder/src/features/components/form-email-input-2.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/elements/constructor.ts
  ui-builder/src/features/simple/palette.tsx
  ui-builder/src/features/simple/stylers/input-styler.tsx
Due: build ui builder, deploy ui builder

Minor fixes related to the issues in a template
  ui-builder/src/features/components/feature-grid-image-tag.tsx
  ui-builder/src/features/components/navbar.tsx
  ui-builder/src/features/simple/stylers/link-styler.tsx
Due: build ui builder, deploy ui builder

Add required columns for implementing multiple version of e-commerce products
  ao-api/services/projectService/initial_setup.go
Due: build api, deploy api

Add required columns for implementing multiple version of e-commerce products (#299)
  ao-api/services/projectService/initial_setup.go
Due: build api, deploy api

Add versions to products of e-commerce projects
  ao-api/app/app.go
  ao-api/controllers/ecommerce/create_order.go
  ao-api/controllers/ecommerce/create_product.go
  ao-api/controllers/ecommerce/create_stripe_payment_link.go
  ao-api/controllers/ecommerce/get_tp_user_product.go
  ao-api/controllers/ecommerce/list_tp_user_products.go
  ao-api/controllers/ecommerce/update_product.go
Due: build api, deploy api

Add about-right-5 and about-left-5
  ui-builder/src/assets/components/about-left-5.png
  ui-builder/src/assets/components/about-right-5.png
  ui-builder/src/features/components/about-left-5.tsx
  ui-builder/src/features/components/about-right-5.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/elements/constructor.ts
Due: build ui builder, deploy ui builder

Fix bug of creating payment link
  ao-api/controllers/ecommerce/create_stripe_payment_link.go
Due: build api, deploy api

Add footer-simple-center and footer-simple-without-icon
  ui-builder/src/assets/components/footer-simple-center.png
  ui-builder/src/assets/components/footer-simple-without-icon.png
  ui-builder/src/features/components/footer-simple-center.tsx
  ui-builder/src/features/components/footer-simple-without-icon.tsx
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder

UI builder add TeamIndividualMember2 simple
  ui-builder/src/assets/components/Individual-team-member-2.png
  ui-builder/src/assets/components/Individual-team-member.png
  ui-builder/src/assets/components/team-individual-member.png
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/components/team-individual-member-2.tsx
Due: build ui builder, deploy ui builder

Fix bug of updating product
  ao-api/controllers/ecommerce/update_product.go
Due: build api, deploy api

fix about 5
  ui-builder/src/features/components/about-left-5.tsx
  ui-builder/src/features/components/about-right-5.tsx
Due: build ui builder, deploy ui builder

Fix bug of list tp user products and details of them
  ao-api/controllers/ecommerce/get_tp_user_product.go
  ao-api/controllers/ecommerce/list_tp_user_products.go
Due: build api, deploy api

Fix bug of list tp user products
  ao-api/controllers/ecommerce/list_tp_user_products.go
Due: build api, deploy api

Add hero-with-bg-two-cta and hero-with-bg-one-cta
  ui-builder/src/assets/components/hero-with-bg-one-cta.png
  ui-builder/src/assets/components/hero-with-bg-two-cta.png
  ui-builder/src/features/components/hero-with-bg-one-cta.tsx
  ui-builder/src/features/components/hero-with-bg-two-cta.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/simple/font-sizes.tsx
Due: build ui builder, deploy ui builder

Fix typo
  ao-api/services/projectService/initial_setup.go
Due: build api, deploy api

DTX-794-1 Fix typo (#300)
  ao-api/services/projectService/initial_setup.go
Due: build api, deploy api

Fix IconStyler and enhance about-left and right
  ui-builder/src/features/components/about-left.tsx
  ui-builder/src/features/components/about-right.tsx
  ui-builder/src/features/simple/stylers/icon-styler.tsx
Due: build ui builder, deploy ui builder

Add hero-with-image-two-cta
  ui-builder/src/assets/components/hero-with-image-two-cta.png
  ui-builder/src/features/components/hero-with-image-two-cta.tsx
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder

Implementing discount code for invoices of e-commerce project
  ao-api/app/app.go
  ao-api/controllers/ecommerce/create_discount_code.go
  ao-api/controllers/ecommerce/create_stripe_payment_link.go
  ao-api/controllers/ecommerce/delete_discount_code.go
  ao-api/controllers/ecommerce/list_discount_codes.go
  ao-api/services/projectService/initial_setup.go
Due: build api, deploy api

Just for trigger Gitlab runner
  ao-api/controllers/ecommerce/create_discount_code.go
Due: build api, deploy api

Add an endpoint to update discount codes
  ao-api/app/app.go
  ao-api/controllers/ecommerce/update_discount_code.go
Due: build api, deploy api

Fix bug of delete and update discount code
  ao-api/controllers/ecommerce/delete_discount_code.go
  ao-api/controllers/ecommerce/update_discount_code.go
Due: build api, deploy api

Fix bug of delete and update discount code
  ao-api/controllers/ecommerce/create_discount_code.go
  ao-api/controllers/ecommerce/delete_discount_code.go
  ao-api/controllers/ecommerce/update_discount_code.go
Due: build api, deploy api

Fix bug of create and update discount code
  ao-api/controllers/ecommerce/create_discount_code.go
  ao-api/controllers/ecommerce/update_discount_code.go
Due: build api, deploy api

Fix bug of update discount code
  ao-api/controllers/ecommerce/update_discount_code.go
Due: build api, deploy api

Add discount codes table to initial setup of e-commerce projects
  ao-api/services/projectService/initial_setup.go
Due: build api, deploy api

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  build ui-ecommerce: any of: ui-ecommerce/**/*
  build ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
  deploy api: any of: ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
  deploy ui-ecommerce: any of: ui-ecommerce/**/*
  deploy ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
