Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
  script:
  - cd ui
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./build
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy ui:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    CORE_USERNAME: ${DEV_CORE_USERNAME}
    CORE_PASSWORD: ${DEV_CORE_PASSWORD}
    AWS_ACCESS_KEY_ID: ${DEV_AWS_ACCESS_KEY_ID}
    AWS_SECRET_ACCESS_KEY: ${DEV_AWS_SECRET_ACCESS_KEY}
    BUCKET: app.dotenx.com
    environment: prod
  ...

improve plugin list
  ui-builder/src/features/plugins/plugin-list.tsx
Due: none

remove log
  ui-builder/src/features/page/update-frame-head.ts
Due: none

add mantine prism package
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: none

implement plugin element
  ui-builder/src/features/elements/extensions/plugin.tsx
  ui-builder/src/features/elements/index.ts
Due: none

improve plugin create
  ui-builder/src/pages/plugin-create.tsx
Due: none

Implementing preview for ui pages
  ui-builder/src/api/api.ts
  ui-builder/src/features/page/actions.tsx
Due: none

Remove some logs and add useful comments
  ao-api/controllers/oauth/special_providers.go
  ao-api/oauth/provider/provider.go
Due: build api, deploy api

Add Mailchimp integration and main tasks, triggers
  ao-api/controllers/oauth/oauth_integration_callback.go
  ao-api/controllers/oauth/special_providers.go
  ao-api/oauth/provider/provider.go
  ao-api/pkg/utils/utils.go
  integrations/mailchimp.yaml
  predefinedImages/tasks/mailchimp-add-new-subscriber/Dockerfile
  predefinedImages/tasks/mailchimp-add-new-subscriber/go.mod
  predefinedImages/tasks/mailchimp-add-new-subscriber/go.sum
  predefinedImages/tasks/mailchimp-add-new-subscriber/main.go
  predefinedImages/tasks/mailchimp-archive-subscriber/Dockerfile
  predefinedImages/tasks/mailchimp-archive-subscriber/go.mod
  predefinedImages/tasks/mailchimp-archive-subscriber/go.sum
  predefinedImages/tasks/mailchimp-archive-subscriber/main.go
  predefinedImages/triggers/mailchimp-new-subscriber/Dockerfile
  predefinedImages/triggers/mailchimp-new-subscriber/go.mod
  predefinedImages/triggers/mailchimp-new-subscriber/go.sum
  predefinedImages/triggers/mailchimp-new-subscriber/main.go
  predefinedImages/triggers/mailchimp-new-unsubscriber/Dockerfile
  predefinedImages/triggers/mailchimp-new-unsubscriber/go.mod
  predefinedImages/triggers/mailchimp-new-unsubscriber/go.sum
  predefinedImages/triggers/mailchimp-new-unsubscriber/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  runner/executors/awsLambda/deploy_all_triggers.sh
  tasks/mailchimp/mailchimp-add-new-subscriber.yaml
  tasks/mailchimp/mailchimp-archive-subscriber.yaml
  triggers/mailchimp/mailchimp-new-subscriber.yaml
  triggers/mailchimp/mailchimp-new-unsubscriber.yaml
Due: build api, build runner, deploy api, deploy runner

Update providers.json file to add mailchimp as oauth provider
  ao-api/providers.json
Due: build api, deploy api

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: none

fix bugs
  ui/.env.production
  ui/src/features/ui/sidebar.tsx
  ui/src/pages/tables.tsx
Due: build ui, deploy ui

Add new table for git integration to migration
  ao-api/app/app.go
  ao-api/controllers/gitIntegration/controller.go
  ao-api/db/migrate/postgresql/migration.go
Due: build api, deploy api

Add new categories for project templates
  ao-api/controllers/marketplace/list_categories.go
Due: build api, deploy api

:bug: convert fonts only when the fonts property exists on the page
  ao-api/controllers/uibuilder/publishutils/convertor.go
Due: build api, deploy api

Add an endpoint to return list of categories
  ao-api/app/app.go
Due: build api, deploy api

Just for trigger Gitlab runner
  ao-api/app/app.go
Due: build api, deploy api

Implementing crud endpoints of ui extensions
  ao-api/app/app.go
  ao-api/controllers/marketplace/list_categories.go
  ao-api/controllers/uiExtension/controller.go
  ao-api/controllers/uiExtension/delete_extension.go
  ao-api/controllers/uiExtension/get_extension.go
  ao-api/controllers/uiExtension/list_extensions.go
  ao-api/controllers/uiExtension/upsert_extension.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/uipage_model.go
  ao-api/services/uiExtensionService/delete_extensions.go
  ao-api/services/uiExtensionService/get_extension.go
  ao-api/services/uiExtensionService/interface.go
  ao-api/services/uiExtensionService/list_extensions.go
  ao-api/services/uiExtensionService/upsert_extension.go
  ao-api/stores/uiExtensionStore/delete_extensions.go
  ao-api/stores/uiExtensionStore/get_extension.go
  ao-api/stores/uiExtensionStore/list_extensions.go
  ao-api/stores/uiExtensionStore/store.go
  ao-api/stores/uiExtensionStore/upsert_extension.go
Due: build api, deploy api

fix public component hover bug
  ui-builder/src/features/page/actions.tsx
Due: none

Add an endpoint to return publish and preview url
  ao-api/app/app.go
  ao-api/controllers/uibuilder/get_page_urls.go
Due: build api, deploy api

Just for trigger Gitlab runner
  ao-api/controllers/uibuilder/get_page_urls.go
Due: build api, deploy api

Add an endpoint to return publish and preview url and its dependencies
  ao-api/controllers/uibuilder/publish_page.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/uipage_model.go
  ao-api/services/uibuilderService/interface.go
  ao-api/services/uibuilderService/set_status.go
  ao-api/stores/uibuilderStore/set_page_status.go
  ao-api/stores/uibuilderStore/uibuilder_store.go
Due: build api, deploy api

Improvement on get page urls endpoint
  ao-api/controllers/uibuilder/get_page_urls.go
  ao-api/controllers/uibuilder/preview_page.go
Due: build api, deploy api

Improvement on get page urls endpoint
  ao-api/controllers/uibuilder/get_page_urls.go
Due: build api, deploy api

Fix minor bug of updating status of previewed page
  ao-api/controllers/uibuilder/preview_page.go
Due: build api, deploy api

integrate with backend api
  ui-builder/src/app.tsx
  ui-builder/src/features/advanced/element-dragger-layer.tsx
  ui-builder/src/features/elements/extensions/extension.tsx
  ui-builder/src/features/extensions/api.tsx
  ui-builder/src/features/extensions/extension-form.tsx
  ui-builder/src/features/extensions/extension-list.tsx
  ui-builder/src/features/page/use-get-project-tag.ts
  ui-builder/src/features/states/utils.ts
  ui-builder/src/pages/extension-create.tsx
  ui-builder/src/pages/extension-edit.tsx
  ui-builder/src/pages/extension.tsx
  ui-builder/src/pages/extensions.tsx
Due: none

Update README.md
  README.md
Due: none

render extension children
  ui-builder/src/features/elements/extensions/box.tsx
  ui-builder/src/features/elements/extensions/extension.tsx
Due: none

show extension name
  ui-builder/src/features/elements/extensions/extension.tsx
Due: none

change extension code to init and action
  ui-builder/src/features/extensions/api.tsx
  ui-builder/src/features/extensions/extension-form.tsx
  ui-builder/src/pages/extension.tsx
Due: none

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
