Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
  script:
  - cd ui
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./build
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy ui:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    CORE_USERNAME: ${DEV_CORE_USERNAME}
    CORE_PASSWORD: ${DEV_CORE_PASSWORD}
    AWS_ACCESS_KEY_ID: ${DEV_AWS_ACCESS_KEY_ID}
    AWS_SECRET_ACCESS_KEY: ${DEV_AWS_SECRET_ACCESS_KEY}
    BUCKET: app.dotenx.com
    environment: prod
  ...

refactor files page
  ui-ecommerce/src/features/app/routes.tsx
  ui-ecommerce/src/pages/files.tsx
Due: none

refactor domains page
  ui-ecommerce/src/pages/domains.tsx
Due: none

remove unused mantine colors
  ui-ecommerce/src/features/app/app.tsx
Due: none

refactor new product page
  ui-ecommerce/src/pages/new-product.tsx
Due: none

fix minor issues
  ui-ecommerce/src/features/app/routes.tsx
  ui-ecommerce/src/pages/analytics.tsx
  ui-ecommerce/src/pages/audience.tsx
  ui-ecommerce/src/pages/domains.tsx
  ui-ecommerce/src/pages/not-found.tsx
Due: none

Clean up again and remove repeated parts
  ao-api/.env
  ao-api/config/config.go
  ao-api/controllers/internalController/controller.go
  ao-api/services/executionService/execute_tasks.go
  ao-api/services/executionService/start_pipeline.go
  ao-api/services/executionService/start_pipeline_by_endpoint.go
  ao-api/services/executionService/start_pipeline_by_name.go
  ao-api/stores/pipelineStore/task_status_and_result.go
Due: build api, deploy api

fix plus button
  ui-ecommerce/src/pages/home.tsx
Due: none

change text black to slate
  ui-ecommerce/src/features/ui/new-layout.tsx
Due: none

remove dead code
  ui-ecommerce/src/api/index.ts
  ui-ecommerce/src/features/atoms/index.ts
  ui-ecommerce/src/features/hooks/use-sliding-pane.ts
  ui-ecommerce/src/features/ui/complex-field.tsx
  ui-ecommerce/src/features/ui/description.tsx
  ui-ecommerce/src/features/ui/field.tsx
  ui-ecommerce/src/features/ui/form.tsx
  ui-ecommerce/src/features/ui/index.ts
  ui-ecommerce/src/features/ui/input-or-select.tsx
  ui-ecommerce/src/features/ui/new-layout.tsx
  ui-ecommerce/src/features/ui/new-select.tsx
  ui-ecommerce/src/internal/upload-file-form.tsx
  ui-ecommerce/src/pages/files.tsx
Due: none

improve products page
  ui-ecommerce/src/pages/products.tsx
Due: none

minor refactor
  ui-ecommerce/src/pages/analytics.tsx
  ui-ecommerce/src/pages/audience.tsx
  ui-ecommerce/src/pages/new-product.tsx
  ui-ecommerce/src/pages/sales.tsx
Due: none

format
  ui-ecommerce/pnpm-lock.yaml
  ui-ecommerce/src/pages/products.tsx
  ui-ecommerce/src/pages/sales.tsx
Due: none

update react query
  ui-ecommerce/package.json
  ui-ecommerce/pnpm-lock.yaml
  ui-ecommerce/src/api/index.ts
  ui-ecommerce/src/api/types.ts
  ui-ecommerce/src/features/app/app.tsx
  ui-ecommerce/src/features/ui/hooks/use-get-project-tag.ts
  ui-ecommerce/src/internal/upload-file-form.tsx
  ui-ecommerce/src/pages/audience.tsx
  ui-ecommerce/src/pages/domains.tsx
  ui-ecommerce/src/pages/files.tsx
  ui-ecommerce/src/pages/home.tsx
  ui-ecommerce/src/pages/products.tsx
  ui-ecommerce/src/pages/sales.tsx
Due: none

implement image drop
  ui-ecommerce/src/features/ui/image-drop.tsx
  ui-ecommerce/src/pages/new-product.tsx
Due: none

add price field to product
  ui-ecommerce/src/pages/new-product.tsx
Due: none

update packages
  ui-ecommerce/package.json
  ui-ecommerce/pnpm-lock.yaml
Due: none

Implementing AWS Event Bridge Scheduler for checking triggers
  ao-api/go.mod
  ao-api/go.sum
  ao-api/services/triggersService/create_event_bridge_scheduler.go
  ao-api/services/triggersService/handle_event_bridge_scheduler.go
  ao-api/services/triggersService/service.go
Due: build api, deploy api

Resolve some minor problems
  ao-api/services/executionService/execute_tasks.go
  ao-api/services/executionService/interface.go
  ao-api/services/executionService/task_execution_result.go
  ao-api/stores/pipelineStore/pipeline_store.go
  ao-api/stores/pipelineStore/task_status_and_result.go
Due: build api, deploy api

DTX-514 Remove runner and scheduler logic, clean up ao-api and fix bug of running tasks (#240)
  ao-api/.env
  ao-api/app/app.go
  ao-api/config/config.go
  ao-api/controllers/execution/get_next_task_action.go
  ao-api/controllers/execution/task_execution_result.go
  ao-api/controllers/internalController/controller.go
  ao-api/models/tasks.go
  ao-api/services/executionService/execute_tasks.go
  ao-api/services/executionService/get_interaction_res.go
  ao-api/services/executionService/get_next_task.go
  ao-api/services/executionService/interface.go
  ao-api/services/executionService/start_pipeline.go
  ao-api/services/executionService/start_pipeline_by_endpoint.go
  ao-api/services/executionService/start_pipeline_by_name.go
  ao-api/services/executionService/task_execution_result.go
  ao-api/stores/pipelineStore/pipeline_store.go
  ao-api/stores/pipelineStore/task_status_and_result.go
Due: build api, deploy api

Just for trigger Gitlab runner
  ao-api/app/app.go
Due: build api, deploy api

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: none

Fix UI routing for projects page
  ui/src/features/app/sidebar.tsx
Due: build ui, deploy ui

Implementing AWS Event Bridge Scheduler for checking triggers
  ao-api/.env
  ao-api/app/app.go
  ao-api/config/config.go
  ao-api/controllers/trigger/handle_event_bridge_scheduler.go
  ao-api/services/triggersService/create_event_bridge_scheduler.go
  ao-api/services/triggersService/handle_event_bridge_scheduler.go
  ao-api/services/triggersService/service.go
  ao-api/services/triggersService/start_checking.go
Due: build api, deploy api

Fix minor bugs of event bridge scheduler
  ao-api/services/crudService/activation.go
  ao-api/services/crudService/event_bridge_scheduler.go
  ao-api/services/crudService/pipeline_services.go
  ao-api/services/triggersService/create_event_bridge_scheduler.go
  ao-api/services/triggersService/service.go
Due: build api, deploy api

Fix minor bugs of event bridge scheduler
  ao-api/services/crudService/event_bridge_scheduler.go
Due: build api, deploy api

Remove some constant variables and read them from env file
  ao-api/.env
  ao-api/config/config.go
  ao-api/controllers/trigger/handle_event_bridge_scheduler.go
  ao-api/services/crudService/event_bridge_scheduler.go
Due: build api, deploy api

Fix typo
  ao-api/config/config.go
  ao-api/services/crudService/event_bridge_scheduler.go
  ao-api/services/executionService/execute_tasks.go
Due: build api, deploy api

Make CreateEventBridgeScheduler function more flexible
  ao-api/services/crudService/event_bridge_scheduler.go
  ao-api/services/crudService/pipeline_services.go
Due: build api, deploy api

Update trigger checking rate
  ao-api/.env
Due: build api, deploy api

implement element constructor helpers
  ui-builder/src/features/elements/constructor.ts
Due: none

refactor
  ui-builder/src/features/ecommerce/components/header.tsx
  ui-builder/src/features/ecommerce/components/product-item.tsx
  ui-builder/src/features/ecommerce/components/product-list.tsx
  ui-builder/src/features/elements/extensions/button.tsx
  ui-builder/src/features/elements/extensions/columns.tsx
  ui-builder/src/features/elements/extensions/link.tsx
  ui-builder/src/features/elements/extensions/text.tsx
Due: none

implement sofa theme structure
  ui-builder/src/features/ecommerce/sofa/theme.ts
Due: none

add sofa controller
  ui-builder/src/features/ecommerce/index.ts
  ui-builder/src/features/ecommerce/sofa/controller.tsx
Due: none

add element unstyled method
  ui-builder/src/features/elements/element.tsx
Due: none

add inter font
  ui-builder/src/features/style/generate-styles.ts
Due: none

change default font to inter
  ui-builder/src/features/style/generate-styles.ts
Due: none

add navbar style
  ui-builder/src/features/ecommerce/sofa/theme.ts
Due: none

unstyle btn and txt
  ui-builder/src/features/elements/constructor.ts
Due: none

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
