Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*

refactor gallery basic
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/controllers/gallery-basic.tsx
  ui-builder/src/features/simple/simple-renderer.tsx
Due: none

refactor gallery basic rounded
  ui-builder/src/features/controllers/gallery-basic-rounded.tsx
Due: none

refactor gallery with title
  ui-builder/src/features/controllers/gallery-basic-rounded.tsx
  ui-builder/src/features/controllers/gallery-with-title.tsx
Due: none

refactor gallery with caption
  ui-builder/src/features/controllers/gallery-with-caption.tsx
Due: none

refactor hero full width
  ui-builder/src/features/controllers/hero-full-width.tsx
Due: none

refactor hero cta left
  ui-builder/src/features/controllers/hero-cta-left.tsx
Due: none

refactor hero cta right
  ui-builder/src/features/controllers/hero-cta-left.tsx
  ui-builder/src/features/controllers/hero-cta-right.tsx
  ui-builder/src/features/controllers/hero-full-width.tsx
Due: none

refactor hero parallax
  ui-builder/src/features/controllers/hero-parallax.tsx
Due: none

refactor hero parallax
  ui-builder/src/features/controllers/basic-components/title-subtitle-cta.tsx
  ui-builder/src/features/controllers/hero-parallax.tsx
Due: none

refactor navbar
  ui-builder/src/features/controllers/helpers/dnd-tabs.tsx
  ui-builder/src/features/controllers/navbar.tsx
Due: none

refactor navbar with cta
  ui-builder/src/features/controllers/navbar-with-cta.tsx
Due: none

dont show navbar variants for now (the need heavy refactor)
  ui-builder/src/features/controllers/index.ts
Due: none

refactor pricing simple
  ui-builder/src/features/controllers/pricing-simple.tsx
  ui-builder/src/features/ui/text-element-input.tsx
Due: none

refactor pricing simple 2
  ui-builder/src/features/controllers/pricing-simple-2.tsx
Due: none

refactor sign in basic
  ui-builder/src/features/controllers/sign-in-basic.tsx
Due: none

refactor sign up basic
  ui-builder/src/features/controllers/sign-up-basic.tsx
Due: none

refactor remaining simple components
  ui-builder/src/features/controllers/basic-components/bio.tsx
  ui-builder/src/features/controllers/basic-components/professional-socials.tsx
  ui-builder/src/features/controllers/team-center-grid.tsx
  ui-builder/src/features/controllers/team-round-center.tsx
  ui-builder/src/features/controllers/team-round-left.tsx
  ui-builder/src/features/controllers/testimonial-simple.tsx
Due: none

format
  ui-builder/src/features/actions/navigate.tsx
  ui-builder/src/features/actions/toggle-state.tsx
  ui-builder/src/features/animations/editor.tsx
  ui-builder/src/features/animations/options.ts
  ui-builder/src/features/controllers/comparison-table-simple.tsx
  ui-builder/src/features/dnd/draggable.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/ui/style-input.tsx
Due: none

fix bug
  ui/src/features/database/custom-query.tsx
  ui/src/features/user-groups/form.tsx
  ui/src/features/user-groups/list.tsx
Due: build ui, deploy ui

Fixing bug of user's custom query and git integration import project
  ao-api/Dockerfile
  ao-api/go.mod
  ao-api/go.sum
  ao-api/models/project_model.go
  ao-api/services/gitIntegrationService/import_project.go
  ao-api/services/marketplaceService/export_project.go
  ao-api/stores/databaseStore/run_database_query.go
Due: build api, deploy api

Improvement on printing logs
  ao-api/stores/databaseStore/run_database_query.go
Due: build api, deploy api

fix bug (#221)
  ui/src/features/database/custom-query.tsx
  ui/src/features/user-groups/form.tsx
  ui/src/features/user-groups/list.tsx
Due: build ui, deploy ui

DTX-497 Fixing bug of user's custom query and git integration import project (#222)
  ao-api/Dockerfile
  ao-api/go.mod
  ao-api/go.sum
  ao-api/models/project_model.go
  ao-api/services/gitIntegrationService/import_project.go
  ao-api/services/marketplaceService/export_project.go
  ao-api/stores/databaseStore/run_database_query.go
Due: build api, deploy api

fix form request default values
  ui-builder/src/features/elements/extensions/form.tsx
Due: none

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: none

:bug: Update form render to match the data source changes
  ao-api/controllers/uibuilder/publishutils/convert_form.go
Due: build api, deploy api

fix form request default values (#223)
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/elements/extensions/form.tsx
Due: none

:bug: Update form render to match the data source changes (#224)
  ao-api/controllers/uibuilder/publishutils/convert_form.go
Due: build api, deploy api

Adding Airtable integration and main tasks, triggers
  integrations/airtable.yaml
  predefinedImages/tasks/airtable-create-record/Dockerfile
  predefinedImages/tasks/airtable-create-record/go.mod
  predefinedImages/tasks/airtable-create-record/go.sum
  predefinedImages/tasks/airtable-create-record/main.go
  predefinedImages/triggers/airtable-new-record/Dockerfile
  predefinedImages/triggers/airtable-new-record/go.mod
  predefinedImages/triggers/airtable-new-record/go.sum
  predefinedImages/triggers/airtable-new-record/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  runner/executors/awsLambda/deploy_all_triggers.sh
  tasks/airtable/airtable-create-record.yaml
  triggers/airtable/airtable-new-record.yaml
Due: build runner, deploy runner

Fix bug of Airtable refresh token request status code
  ao-api/oauth/exchange_refresh_token.go
Due: build api, deploy api

Remove unnecessary condition
  ao-api/oauth/exchange_refresh_token.go
Due: build api, deploy api

Remove unnecessary logs
  ao-api/controllers/oauth/special_providers.go
Due: build api, deploy api

DTX-496 Adding Airtable integration and main tasks, triggers (#225)
  ao-api/.env
  ao-api/controllers/integration/controller.go
  ao-api/controllers/oauth/oauth.go
  ao-api/controllers/oauth/oauth_integration_callback.go
  ao-api/controllers/oauth/special_providers.go
  ao-api/oauth/exchange_refresh_token.go
  ao-api/oauth/provider/provider.go
  ao-api/pkg/utils/utils.go
  integrations/airtable.yaml
  predefinedImages/tasks/airtable-create-record/Dockerfile
  predefinedImages/tasks/airtable-create-record/go.mod
  predefinedImages/tasks/airtable-create-record/go.sum
  predefinedImages/tasks/airtable-create-record/main.go
  predefinedImages/triggers/airtable-new-record/Dockerfile
  predefinedImages/triggers/airtable-new-record/go.mod
  predefinedImages/triggers/airtable-new-record/go.sum
  predefinedImages/triggers/airtable-new-record/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  runner/executors/awsLambda/deploy_all_triggers.sh
  tasks/airtable/airtable-create-record.yaml
  triggers/airtable/airtable-new-record.yaml
Due: build api, build runner, deploy api, deploy runner

replaced zustand deprecated `create` method
  ui-builder/src/features/atoms/index.ts
  ui-builder/src/features/clipboard/clipboard.ts
  ui-builder/src/features/data-source/data-source-store.ts
  ui-builder/src/features/elements/elements-store.ts
  ui-builder/src/features/page/project-store.ts
  ui-builder/src/features/selection/selection-store.ts
  ui-builder/src/features/states/page-states-store.ts
  ui-builder/src/features/style/classes-store.ts
Due: none

remove unused atom
  ui-builder/src/features/atoms/index.ts
Due: none

add object hash package
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: none

implement unsaved changes message
  ui-builder/src/features/elements/elements-store.ts
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/style/font-form.tsx
Due: none

Update providers.json file to add Airtable as oauth provider
  ao-api/providers.json
Due: build api, deploy api

show window alert when unsaved changes
  ui-builder/src/features/page/top-bar.tsx
Due: none

:bug: Set the default values in data source fetch
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
Due: build api, deploy api
