Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, build ui-ecommerce, build ui builder, deploy api, deploy scheduler, deploy runner, deploy ui, deploy ui-ecommerce, deploy ui builder

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
    folder: ui
    build_dest: dist
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

build ui-ecommerce:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    folder: ui-builder
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

build ui builder:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
    folder: ui-builder
    build_dest: dist
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

Add two trigger of HubSpot to bash script of deploying triggers
  predefinedImages/deploy_all_triggers.sh
Due: none

Implementing 'HubSpot new email event' trigger
  predefinedImages/triggers/hubspot-new-email-event/Dockerfile
  predefinedImages/triggers/hubspot-new-email-event/go.mod
  predefinedImages/triggers/hubspot-new-email-event/go.sum
  predefinedImages/triggers/hubspot-new-email-event/main.go
  triggers/hubspot/hubspot-new-email-event.yaml
Due: none

Implementing 'HubSpot new email event' trigger (#314)
  predefinedImages/triggers/hubspot-new-email-event/Dockerfile
  predefinedImages/triggers/hubspot-new-email-event/go.mod
  predefinedImages/triggers/hubspot-new-email-event/go.sum
  predefinedImages/triggers/hubspot-new-email-event/main.go
  triggers/hubspot/hubspot-new-email-event.yaml
Due: none

Update scopes of HubSpot Oauth app
  ao-api/providers.json
  predefinedImages/deploy_all_triggers.sh
Due: build api, deploy api

Add intro-video README.md
  README.md
Due: none

Add intro-video README.md (#315)
  README.md
Due: none

Implementing a Golang service to creating certificate and redirect root domains to www.{root_domain}
  ao-api/.env
  ao-api/.env.mohsen
  ao-api/.env.production
  ao-api/config/config.go
  ao-api/controllers/project/set_project_external_domain_handler.go
  ao-api/go-nginx-service/go-nginx.service
  ao-api/go-nginx-service/go.mod
  ao-api/go-nginx-service/go.sum
  ao-api/go-nginx-service/main.go
Due: build api, deploy api

Fix bug of nginx server url
  ao-api/.env
  ao-api/.env.mohsen
  ao-api/.env.production
Due: build api, deploy api

Change flow of setup external domain using our nginx service
  ao-api/controllers/project/set_project_external_domain_handler.go
  ao-api/controllers/project/verify_certificate_handler.go
Due: build api, deploy api

Implementing some open-ai tasks
  integrations/openai.yml
  predefinedImages/tasks/open-ai-generate-image/Dockerfile
  predefinedImages/tasks/open-ai-generate-image/go.mod
  predefinedImages/tasks/open-ai-generate-image/go.sum
  predefinedImages/tasks/open-ai-generate-image/main.go
  predefinedImages/tasks/open-ai-send-prompt/Dockerfile
  predefinedImages/tasks/open-ai-send-prompt/go.mod
  predefinedImages/tasks/open-ai-send-prompt/go.sum
  predefinedImages/tasks/open-ai-send-prompt/main.go
  tasks/openai/generate-image.yaml
  tasks/openai/send-prompt.yaml
Due: none

Implementing 'Dropbox Create text file' task
  predefinedImages/tasks/dropbox-create-text-file/Dockerfile
  predefinedImages/tasks/dropbox-create-text-file/go.mod
  predefinedImages/tasks/dropbox-create-text-file/go.sum
  predefinedImages/tasks/dropbox-create-text-file/main.go
  tasks/dropbox/create-text-file.yaml
Due: none

Implementing 'Open AI create blog post' task
  predefinedImages/tasks/open-ai-create-blog-post/Dockerfile
  predefinedImages/tasks/open-ai-create-blog-post/go.mod
  predefinedImages/tasks/open-ai-create-blog-post/go.sum
  predefinedImages/tasks/open-ai-create-blog-post/main.go
  tasks/openai/create-blog-post.yaml
Due: none

Improvement on 'Create blog post' task
  predefinedImages/tasks/open-ai-create-blog-post/main.go
  tasks/openai/create-blog-post.yaml
Due: none

fix save bug
  ui/src/features/automation/use-save.ts
Due: build ui, deploy ui

fix build error
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/ecommerce/index.tsx
  ui-ecommerce/src/features/ui/field.tsx
  ui-ecommerce/src/features/ui/new-select.tsx
  ui/src/pages/git/github.tsx
Due: build ui, build ui-ecommerce, build ui builder, deploy ui, deploy ui-ecommerce, deploy ui builder

change gitlab ci
  .gitlab-ci.yml
Due: build ui builder, deploy ui builder

Implementing 'Create story on Medium' task
  integrations/medium.yml
  predefinedImages/tasks/medium-create-story/Dockerfile
  predefinedImages/tasks/medium-create-story/go.mod
  predefinedImages/tasks/medium-create-story/go.sum
  predefinedImages/tasks/medium-create-story/main.go
  tasks/medium/create-story.yaml
Due: none

update the lockfile
  ui/pnpm-lock.yaml
Due: build ui, deploy ui

update lock file
  ui/pnpm-lock.yaml
Due: build ui, deploy ui

Implementing 'Create tweet by Open AI' task
  predefinedImages/tasks/open-ai-create-tweet/Dockerfile
  predefinedImages/tasks/open-ai-create-tweet/go.mod
  predefinedImages/tasks/open-ai-create-tweet/go.sum
  predefinedImages/tasks/open-ai-create-tweet/main.go
  tasks/openai/create-blog-post.yaml
  tasks/openai/create-tweet.yaml
Due: none

Fix bug of 'Create story on Medium' task
  predefinedImages/tasks/medium-create-story/main.go
  tasks/medium/create-story.yaml
Due: none

Fix bug of 'Create story on Medium' task
  predefinedImages/tasks/medium-create-story/main.go
Due: none

Change color code of one task node
  tasks/medium/create-story.yaml
Due: none

DTX-884: fix save automation payload and build errors (#316)
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/ecommerce/index.tsx
  ui-ecommerce/src/features/ui/field.tsx
  ui-ecommerce/src/features/ui/new-select.tsx
  ui/src/features/automation/use-save.ts
  ui/src/pages/git/github.tsx
Due: build ui, build ui-ecommerce, build ui builder, deploy ui, deploy ui-ecommerce, deploy ui builder

DTX-883 Implementing some open-ai tasks and also implementing tasks that can connect to them (#317)
  integrations/medium.yml
  integrations/openai.yml
  predefinedImages/tasks/dropbox-create-text-file/Dockerfile
  predefinedImages/tasks/dropbox-create-text-file/go.mod
  predefinedImages/tasks/dropbox-create-text-file/go.sum
  predefinedImages/tasks/dropbox-create-text-file/main.go
  predefinedImages/tasks/medium-create-story/Dockerfile
  predefinedImages/tasks/medium-create-story/go.mod
  predefinedImages/tasks/medium-create-story/go.sum
  predefinedImages/tasks/medium-create-story/main.go
  predefinedImages/tasks/open-ai-create-blog-post/Dockerfile
  predefinedImages/tasks/open-ai-create-blog-post/go.mod
  predefinedImages/tasks/open-ai-create-blog-post/go.sum
  predefinedImages/tasks/open-ai-create-blog-post/main.go
  predefinedImages/tasks/open-ai-create-tweet/Dockerfile
  predefinedImages/tasks/open-ai-create-tweet/go.mod
  predefinedImages/tasks/open-ai-create-tweet/go.sum
  predefinedImages/tasks/open-ai-create-tweet/main.go
  predefinedImages/tasks/open-ai-generate-image/Dockerfile
  predefinedImages/tasks/open-ai-generate-image/go.mod
  predefinedImages/tasks/open-ai-generate-image/go.sum
  predefinedImages/tasks/open-ai-generate-image/main.go
  predefinedImages/tasks/open-ai-send-prompt/Dockerfile
  predefinedImages/tasks/open-ai-send-prompt/go.mod
  predefinedImages/tasks/open-ai-send-prompt/go.sum
  predefinedImages/tasks/open-ai-send-prompt/main.go
  tasks/dropbox/create-text-file.yaml
  tasks/medium/create-story.yaml
  tasks/openai/create-blog-post.yaml
  tasks/openai/create-tweet.yaml
  tasks/openai/generate-image.yaml
  tasks/openai/send-prompt.yaml
Due: none

Add new tasks to functions.csv file
  functions.csv
Due: none

Improvement 'Create Facebook post by Open AI', 'Create Instagram post by Open AI' tasks
  predefinedImages/tasks/open-ai-create-facebook-blog-post/Dockerfile
  predefinedImages/tasks/open-ai-create-facebook-blog-post/go.mod
  predefinedImages/tasks/open-ai-create-facebook-blog-post/go.sum
  predefinedImages/tasks/open-ai-create-facebook-blog-post/main.go
  predefinedImages/tasks/open-ai-create-instagram-post/Dockerfile
  predefinedImages/tasks/open-ai-create-instagram-post/go.mod
  predefinedImages/tasks/open-ai-create-instagram-post/go.sum
  predefinedImages/tasks/open-ai-create-instagram-post/main.go
  tasks/openai/create-facebook-blog-post.yaml
  tasks/openai/create-instagram-post.yaml
Due: none

Improvement 'Create Facebook post by Open AI', 'Create Instagram post by Open AI' tasks (#319)
  predefinedImages/tasks/open-ai-create-facebook-blog-post/Dockerfile
  predefinedImages/tasks/open-ai-create-facebook-blog-post/go.mod
  predefinedImages/tasks/open-ai-create-facebook-blog-post/go.sum
  predefinedImages/tasks/open-ai-create-facebook-blog-post/main.go
  predefinedImages/tasks/open-ai-create-instagram-post/Dockerfile
  predefinedImages/tasks/open-ai-create-instagram-post/go.mod
  predefinedImages/tasks/open-ai-create-instagram-post/go.sum
  predefinedImages/tasks/open-ai-create-instagram-post/main.go
  tasks/openai/create-facebook-blog-post.yaml
  tasks/openai/create-instagram-post.yaml
Due: none

Add some limitation to open AI tasks
  predefinedImages/tasks/open-ai-create-instagram-post/main.go
  predefinedImages/tasks/open-ai-create-tweet/main.go
  tasks/openai/create-instagram-post.yaml
  tasks/openai/create-tweet.yaml
Due: none

Add some limitation to open AI tasks (#320)
  predefinedImages/tasks/open-ai-create-instagram-post/main.go
  predefinedImages/tasks/open-ai-create-tweet/main.go
  tasks/openai/create-instagram-post.yaml
  tasks/openai/create-tweet.yaml
Due: none

Just for trigger Gitlab runner
  ao-api/app/app.go
Due: build api, deploy api

Extend tasks execution time limitation
  ao-api/.env
Due: build api, deploy api

Add logs for better bug fix
  ao-api/services/executionService/execute_tasks.go
Due: build api, deploy api

Fix bug of printing logs
  ao-api/services/executionService/execute_tasks.go
Due: build api, deploy api

DTX-887 Fixing the bug that cause timeout some tasks (#322)
  ao-api/.env
  ao-api/services/executionService/execute_tasks.go
Due: build api, deploy api

add about with link
  ui-builder/src/assets/components/about-left-with-link.png
  ui-builder/src/assets/components/about-right-with-link.png
  ui-builder/src/features/components/about-left-with-link.tsx
  ui-builder/src/features/components/about-right-with-link.tsx
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  build ui-ecommerce: any of: ui-ecommerce/**/*
  build ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
  deploy api: any of: ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
  deploy ui-ecommerce: any of: ui-ecommerce/**/*
  deploy ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
