Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*

Add url to objectstore
  ao-api/controllers/objectstore/get_file_handler.go
  ao-api/controllers/objectstore/get_public_file_handler.go
  ao-api/controllers/objectstore/upload_handler.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/objectstore_model.go
  ao-api/stores/objectstoreStore/add_object.go
  ao-api/stores/objectstoreStore/list_files.go
Due: build api, deploy api

DTX-22 Fix bug of table deletion
  ao-api/stores/databaseStore/delete_table.go
Due: build api, deploy api

Fix update task with output bug
  ui/src/features/flow/use-flow.ts
Due: build ui, deploy ui

Add public endpoints
  ao-api/app/app.go
  ao-api/controllers/execution/start_pipeline_action.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/pipeline_model.go
  ao-api/services/executionService/interface.go
  ao-api/services/executionService/start_pipeline_by_endpoint.go
  ao-api/stores/pipelineStore/get_pipeline_by_endpoint.go
  ao-api/stores/pipelineStore/get_pipeline_id_by_endpoint.go
  ao-api/stores/pipelineStore/pipeline_store.go
Due: build api, deploy api

Add the endpoint to set interaction's access
  ao-api/app/app.go
  ao-api/controllers/crud/set_interaction_access.go
  ao-api/services/crudService/inteface.go
  ao-api/services/crudService/set_interaction_access.go
  ao-api/stores/pipelineStore/pipeline_store.go
  ao-api/stores/pipelineStore/set_interaction_access.go
Due: build api, deploy api

Update README.md
  README.md
Due: none

Set authorized user groups for interactions and templates
  ao-api/app/app.go
  ao-api/controllers/crud/set_user_groups.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/services/crudService/inteface.go
  ao-api/services/crudService/set_user_group.go
  ao-api/services/executionService/start_pipeline.go
  ao-api/stores/pipelineStore/pipeline_store.go
  ao-api/stores/pipelineStore/set_user_groups.go
Due: build api, deploy api

set access
  ui/src/api/index.ts
  ui/src/api/types.ts
  ui/src/features/automation/list.tsx
  ui/src/features/hooks/use-modal.ts
Due: build ui, deploy ui

fix new interaction name label
  ui/src/features/automation/save-form.tsx
Due: build ui, deploy ui

Fix the pipeline - add PATCH method to allowed methods in CORS settings
  .gitlab-ci.yml
  ao-api/pkg/middlewares/cors.go
Due: build api, deploy api

DTX-76 Add eBay new orders trigger and improvement on exchanging refresh tokens
  ao-api/.env
  ao-api/.env.production
  ao-api/app/app.go
  ao-api/config/config.go
  ao-api/controllers/oauth/oauth.go
  ao-api/controllers/oauth/oauth_integration_callback.go
  ao-api/controllers/oauth/oauth_third_party_integration_callback.go
  ao-api/controllers/oauth/oauth_webhook.go
  ao-api/controllers/oauth/special_providers.go
  ao-api/controllers/oauth/third_party_oauth.go
  ao-api/oauth/exchange_refresh_token.go
  ao-api/oauth/oauth.go
  ao-api/oauth/provider/provider.go
  ao-api/pkg/utils/utils.go
  ao-api/providers.json
  ao-api/services/integrationService/service.go
  ao-api/services/triggersService/start_checking.go
  integrations/ebay.yaml
  predefinedImages/triggers/ebay-new-order/Dockerfile
  predefinedImages/triggers/ebay-new-order/go.mod
  predefinedImages/triggers/ebay-new-order/go.sum
  predefinedImages/triggers/ebay-new-order/main.go
  triggers/ebay/ebay-new-order.yaml
Due: build api, deploy api

DTX-83 Improvement error handling and fix issue of returning 500 for CRUD endpoints
  ao-api/controllers/database/delete_row_action.go
  ao-api/controllers/database/select_rows_action.go
  ao-api/stores/databaseStore/delete_row.go
  ao-api/stores/databaseStore/update_row.go
Due: build api, deploy api

Add UserGroups field to the pipelines
  ao-api/models/pipeline_model.go
  ao-api/stores/pipelineStore/get_all_pipelines.go
Due: build api, deploy api

fix modal issue
  ui/src/features/automation/list.tsx
Due: build ui, deploy ui

Restrict execution of interactions by user groups
  ao-api/controllers/execution/start_pipeline_by_name_action.go
  ao-api/controllers/userManagement/login.go
  ao-api/controllers/userManagement/oauth_login.go
  ao-api/models/pipeline_model.go
  ao-api/pkg/middlewares/local_token_type.go
  ao-api/pkg/middlewares/oauth_middleware.go
  ao-api/pkg/utils/utils.go
  ao-api/services/executionService/interface.go
  ao-api/services/executionService/start_pipeline_by_name.go
  ao-api/stores/pipelineStore/pipeline_store_get.go
Due: build api, deploy api

DTX-97 Add Starshipit create order task
  integrations/starshipit.yaml
  predefinedImages/tasks/starshipit-create-order/Dockerfile
  predefinedImages/tasks/starshipit-create-order/go.mod
  predefinedImages/tasks/starshipit-create-order/go.sum
  predefinedImages/tasks/starshipit-create-order/main.go
  runner/executors/awsLambda/deploy_function.sh
  tasks/starshipit/starshipit-create-order.yaml
Due: build runner, deploy runner

DTX-98 Add arrays and json as type of column tables
  ao-api/controllers/database/add_table_column_action.go
  ao-api/db/base_db.sql
  ao-api/stores/databaseStore/insert_row.go
  ao-api/stores/databaseStore/select_rows.go
  ao-api/stores/databaseStore/update_row.go
Due: build api, deploy api

Dtx 95
  .DS_Store
  ao-api/.DS_Store
  ao-api/app/app.go
  ao-api/controllers/execution/start_pipeline_by_name_action.go
  ao-api/controllers/predefinedTask/controller.go
  ao-api/models/runner_job.go
  ao-api/models/task_constants.go
  ao-api/models/task_field.go
  ao-api/pkg/formatter/formatter.go
  ao-api/pkg/formatter/funcs.go
  ao-api/pkg/formatter/test.json
  ao-api/pkg/utils/utils.go
  ao-api/services/executionService/get_next_task.go
  ao-api/services/executionService/map_fields_utils.go
  ao-api/services/executionService/start_pipeline_by_name.go
  ao-api/services/utopiopsService/service.go
  predefinedImages/tasks/database-insert-query/main.go
  tasks/database/add-record.yaml
  tasks/jira/create-jira-ticket.yaml
Due: build api, deploy api

Files bugs
  ui/src/internal/upload-file-form.tsx
  ui/src/pages/files.tsx
Due: build ui, deploy ui

DTX-95-1 Change source code of db tasks to compatible with latest changes
  predefinedImages/tasks/database-select-query/main.go
  predefinedImages/tasks/database-update-query/main.go
  runner/executors/awsLambda/deploy_function.sh
  tasks/database/get-records.yaml
  tasks/database/update-record.yaml
Due: build runner, deploy runner

Fix files ui spacing
  ui/src/pages/files.tsx
Due: build ui, deploy ui

add public endpoints
  ui/src/api/index.ts
  ui/src/features/automation/list.tsx
Due: build ui, deploy ui

has dynamic variables flag added
  ao-api/controllers/predefinedTask/controller.go
  ao-api/services/predefinedTaskService/service.go
Due: build api, deploy api

DTX-95-2 Fix minor bug of new column types (json)
  ao-api/controllers/database/add_table_column_action.go
  ao-api/db/base_db.sql
  ao-api/stores/databaseStore/select_rows.go
Due: build api, deploy api

DTX-100 Support adding integration manually for tp users
  ao-api/controllers/integration/controller.go
  triggers/ebay/ebay-new-order.yaml
Due: build api, deploy api

DTX-101 Fix bug of runner environment variables
  .gitlab-ci.yml
  ao-api/app/app.go
  ao-api/services/triggersService/start_checking.go
  runner/.env.production
Due: build api, build runner, deploy api, deploy runner

add interaction user group
  ui/src/api/index.ts
  ui/src/api/types.ts
  ui/src/features/automation/list.tsx
  ui/src/features/hooks/use-modal.ts
Due: build ui, deploy ui

DTX-102 Start pipelines (by triggers) in ao-api (based on Lambda function response) instead of start inside the Lambda function
  ao-api/services/triggersService/start_checking.go
  predefinedImages/triggers/dropbox-upload-new-file/main.go
  predefinedImages/triggers/ebay-new-order/main.go
  predefinedImages/triggers/facebook-publish-new-post/main.go
  predefinedImages/triggers/google-new-email/main.go
  predefinedImages/triggers/slack-new-message/main.go
  predefinedImages/triggers/stripe-new-invoice/main.go
  predefinedImages/triggers/stripe-payment-completed/main.go
  predefinedImages/triggers/twitter-new-tweet/main.go
  predefinedImages/triggers/typeform-new-response/main.go
  runner/executors/awsLambda/deploy_all_triggers.sh
  triggers/dropbox/dropbox-upload-new-file.yaml
  triggers/ebay/ebay-new-order.yaml
  triggers/facebook/facebook-publish-new-post.yaml
  triggers/google/google_new_email.yaml
  triggers/slack/slack-new-message.yaml
  triggers/stripe/stripe-new-invoice.yml
  triggers/stripe/stripe-payment-completed.yml
  triggers/twitter/twitter_new_tweet.yaml
  triggers/typeform/typeform-new-response.yaml
Due: build api, build runner, deploy api, deploy runner

Fix interaction
  ao-api/services/crudService/pipeline_services.go
  ao-api/services/executionService/start_pipeline_by_name.go
Due: build api, deploy api

Dtx 92 ui
  ui/src/api/types.ts
  ui/src/constants/index.ts
  ui/src/features/automation/use-save.ts
  ui/src/features/database/record-form.tsx
  ui/src/features/database/table-endpoints.tsx
  ui/src/features/flow/task-node.tsx
  ui/src/features/flow/use-flow.ts
  ui/src/features/provider/form.tsx
  ui/src/features/task/settings.tsx
  ui/src/features/task/use-settings.ts
  ui/src/features/ui/complex-field.tsx
  ui/src/features/ui/field.tsx
  ui/src/features/ui/textarea.tsx
  ui/src/pages/table.tsx
Due: build ui, deploy ui

transfer interaction body debugged
  ao-api/controllers/execution/start_pipeline_by_name_action.go
  ao-api/services/crudService/pipeline_services.go
  ao-api/services/executionService/check_access.go
  ao-api/services/executionService/check_return_values.go
  ao-api/services/executionService/get_next_task.go
  ao-api/services/executionService/map_fields_utils.go
  ao-api/services/executionService/set_executiontime.go
  ao-api/services/executionService/start_pipeline_by_name.go
Due: build api, deploy api

DTX-103 Send request to set task return values from runner (based on Lambda function response)
  predefinedImages/tasks/create-jira-ticket/main.go
  predefinedImages/tasks/database-insert-query/main.go
  predefinedImages/tasks/database-select-query/main.go
  predefinedImages/tasks/http-call/main.go
  predefinedImages/tasks/send-email/main.go
  predefinedImages/tasks/slack-message/main.go
  predefinedImages/tasks/stripe-create-customer/main.go
  predefinedImages/tasks/stripe-find-customer/main.go
  predefinedImages/tasks/stripe-update-customer/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  runner/executors/awsLambda/execute.go
  tasks/database/add-record.yaml
  tasks/database/get-records.yaml
  tasks/dotenx/http_call.yaml
  tasks/jira/create-jira-ticket.yaml
  tasks/sendGrid/send-email.yaml
  tasks/slack/slack_message.yaml
  tasks/stripe/stripe_create_customer.yml
  tasks/stripe/stripe_find_customer.yml
  tasks/stripe/stripe_update_customer.yml
Due: build runner, deploy runner

Json editor
  ui/package-lock.json
  ui/package.json
  ui/src/api/types.ts
  ui/src/features/automation/use-save.ts
  ui/src/features/database/record-form.tsx
  ui/src/features/flow/flow.tsx
  ui/src/features/flow/use-flow.ts
  ui/src/features/task/settings.tsx
  ui/src/features/task/use-settings.ts
  ui/src/features/ui/complex-field.tsx
  ui/src/features/ui/json-editor.tsx
Due: build ui, deploy ui

UI builder
  ui-builder/.eslintrc.json
  ui-builder/.gitignore
  ui-builder/.prettierrc.json
  ui-builder/index.html
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/postcss.config.cjs
  ui-builder/public/favicon.png
  ui-builder/src/app.tsx
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/canvas-wrapper.tsx
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/data-editor.tsx
  ui-builder/src/features/data-source-form.tsx
  ui-builder/src/features/data-source-store.ts
  ui-builder/src/features/draggable.tsx
  ui-builder/src/features/droppable.tsx
  ui-builder/src/features/page-states.ts
  ui-builder/src/features/selection-store.ts
  ui-builder/src/features/settings.tsx
  ui-builder/src/features/side-bar.tsx
  ui-builder/src/features/top-bar.tsx
  ui-builder/src/features/viewport-store.ts
  ui-builder/src/index.css
  ui-builder/src/main.tsx
  ui-builder/src/vite-env.d.ts
  ui-builder/tailwind.config.cjs
  ui-builder/tsconfig.json
  ui-builder/tsconfig.node.json
  ui-builder/vite.config.ts
Due: none

Add the jobs to build and deploy ui-builder
  .gitlab-ci.yml
  ui-builder/.env.prod
Due: deploy api

Add the UI builder page endpoints
  ao-api/app/app.go
  ao-api/controllers/uibuilder/delete_page.go
  ao-api/controllers/uibuilder/get_page.go
  ao-api/controllers/uibuilder/list_pages.go
  ao-api/controllers/uibuilder/uibuilder_conroller.go
  ao-api/controllers/uibuilder/upsert_page.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/uipage_model.go
  ao-api/services/uibuilderService/delete_page.go
  ao-api/services/uibuilderService/get_page.go
  ao-api/services/uibuilderService/interface.go
  ao-api/services/uibuilderService/list_pages.go
  ao-api/services/uibuilderService/upsert_page.go
  ao-api/stores/uibuilderStore/delete_page.go
  ao-api/stores/uibuilderStore/get_page.go
  ao-api/stores/uibuilderStore/list_pages.go
  ao-api/stores/uibuilderStore/uibuilder_store.go
  ao-api/stores/uibuilderStore/upsert_page.go
Due: build api, deploy api

First layer index
  .DS_Store
  ao-api/.DS_Store
  ao-api/models/task_field.go
  ao-api/pkg/utils/utils.go
  ao-api/services/.DS_Store
  ao-api/services/crudService/pipeline_services.go
  ao-api/services/executionService/get_next_task.go
  ao-api/services/executionService/map_fields_utils.go
  ao-api/services/executionService/start_pipeline_by_name.go
Due: build api, deploy api

notifyService added
  ao-api/.env
  ao-api/config/config.go
  ao-api/go.mod
  ao-api/go.sum
  ao-api/services/notifyService/service.go
Due: build api, deploy api

welcome message added to register flow
  ao-api/app/app.go
  ao-api/controllers/userManagement/controller.go
  ao-api/controllers/userManagement/register.go
  ao-api/services/notifyService/service.go
Due: build api, deploy api

DTX-105 Fix run mini tasks to compatible with the latest changes and also fix other minor bugs
  ao-api/app/app.go
  ao-api/models/runner_job.go
  ao-api/services/crudService/pipeline_services.go
  ao-api/services/executionService/map_fields_utils.go
  ao-api/services/integrationService/service.go
  predefinedImages/tasks/http-call/main.go
  predefinedImages/triggers/slack-new-message/main.go
  tasks/database/get-records.yaml
  tasks/dotenx/run-mini-tasks.yaml
  tasks/dotenx/run-node-code.yaml
  tasks/starshipit/starshipit-create-order.yaml
  ui/package-lock.json
  ui/src/api/types.ts
  ui/src/features/automation/use-save.ts
  ui/src/features/flow/use-flow.ts
  ui/src/features/task/settings.tsx
Due: build api, build ui, deploy api, deploy ui
