Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*

:bug: Set the default values in data source fetch (#226)
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
Due: build api, deploy api

:bug: Add functions to nav_menu and navbar templates
  ao-api/controllers/uibuilder/publishutils/convert_nav_menu.go
  ao-api/controllers/uibuilder/publishutils/convert_navbar.go
Due: build api, deploy api

:bug: Add functions to nav_menu and navbar templates (#227)
  ao-api/controllers/uibuilder/publishutils/convert_nav_menu.go
  ao-api/controllers/uibuilder/publishutils/convert_navbar.go
Due: build api, deploy api

implement duplicate page
  ui-builder/src/features/page/actions.tsx
Due: none

update package lock json
  ui/package-lock.json
Due: build ui, deploy ui

use pnpm instead of npm
  ui/package-lock.json
  ui/pnpm-lock.yaml
Due: build ui, deploy ui

change tailwind config to cjs
  ui/tailwind.config.cjs
Due: build ui, deploy ui

fix type error
  ui/src/pages/domains.tsx
Due: build ui, deploy ui

fix fmt script
  ui/package.json
Due: build ui, deploy ui

format lock file
  ui/pnpm-lock.yaml
Due: build ui, deploy ui

format files
  ui/src/api/index.ts
  ui/src/api/types.ts
  ui/src/features/automation/edge-settings.tsx
  ui/src/internal/task-builder.tsx
  ui/src/pages/git/git.tsx
Due: build ui, deploy ui

remove unused packages
  ui/package.json
  ui/pnpm-lock.yaml
Due: build ui, deploy ui

update packages
  ui/package.json
  ui/pnpm-lock.yaml
Due: build ui, deploy ui

change port to 3000
  ui/vite.config.ts
Due: build ui, deploy ui

remove dead code
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/features/ui/sidebar.tsx
  ui/src/features/ui/tour.tsx
Due: build ui, deploy ui

update deploy files
  ui/Dockerfile
  ui/Dockerfile.dev
  ui/nginx.conf
Due: build ui, deploy ui

:bug: Pass renderEvents to MenuButton's template
  ao-api/controllers/uibuilder/publishutils/convert_menue_button.go
Due: build api, deploy api

:bug: Pass renderEvents to MenuButton's template (#229)
  ao-api/controllers/uibuilder/publishutils/convert_menue_button.go
Due: build api, deploy api

add react hooks eslint
  ui/.eslintrc.json
  ui/package.json
  ui/pnpm-lock.yaml
Due: build ui, deploy ui

migrate flow package
  ui/src/features/app/app.tsx
  ui/src/features/flow/flow.tsx
  ui/src/features/flow/use-flow.ts
  ui/src/features/flow/use-layout.ts
Due: build ui, deploy ui

Adding Gumroad integration and main tasks/triggers
  ao-api/controllers/oauth/oauth_integration_callback.go
  ao-api/controllers/oauth/special_providers.go
  ao-api/oauth/exchange_refresh_token.go
  ao-api/oauth/provider/provider.go
  ao-api/pkg/utils/utils.go
  integrations/gumroad.yaml
  predefinedImages/triggers/gumroad-new-sale/Dockerfile
  predefinedImages/triggers/gumroad-new-sale/go.mod
  predefinedImages/triggers/gumroad-new-sale/go.sum
  predefinedImages/triggers/gumroad-new-sale/main.go
  predefinedImages/triggers/gumroad-new-subscriber/Dockerfile
  predefinedImages/triggers/gumroad-new-subscriber/go.mod
  predefinedImages/triggers/gumroad-new-subscriber/go.sum
  predefinedImages/triggers/gumroad-new-subscriber/main.go
  runner/executors/awsLambda/deploy_all_triggers.sh
  triggers/gumroad/gumroad-new-sale.yaml
  triggers/gumroad/gumroad-new-subscriber.yaml
Due: build api, build runner, deploy api, deploy runner

Adding Gumroad integration and main tasks/triggers (#230)
  ao-api/controllers/oauth/oauth_integration_callback.go
  ao-api/controllers/oauth/special_providers.go
  ao-api/oauth/exchange_refresh_token.go
  ao-api/oauth/provider/provider.go
  ao-api/pkg/utils/utils.go
  integrations/gumroad.yaml
  predefinedImages/triggers/gumroad-new-sale/Dockerfile
  predefinedImages/triggers/gumroad-new-sale/go.mod
  predefinedImages/triggers/gumroad-new-sale/go.sum
  predefinedImages/triggers/gumroad-new-sale/main.go
  predefinedImages/triggers/gumroad-new-subscriber/Dockerfile
  predefinedImages/triggers/gumroad-new-subscriber/go.mod
  predefinedImages/triggers/gumroad-new-subscriber/go.sum
  predefinedImages/triggers/gumroad-new-subscriber/main.go
  runner/executors/awsLambda/deploy_all_triggers.sh
  triggers/gumroad/gumroad-new-sale.yaml
  triggers/gumroad/gumroad-new-subscriber.yaml
Due: build api, build runner, deploy api, deploy runner

dtx-502: duplicate page and unsaved message (#228)
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/clipboard/clipboard.ts
  ui-builder/src/features/data-source/data-source-store.ts
  ui-builder/src/features/elements/elements-store.ts
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/project-store.ts
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/selection/selection-store.ts
  ui-builder/src/features/states/page-states-store.ts
  ui-builder/src/features/style/classes-store.ts
  ui-builder/src/features/style/font-form.tsx
Due: none

Add Gumroad OAuth provider to providers.json file
  ao-api/providers.json
Due: build api, deploy api

Just for trigger Gitlab runner
  ao-api/app/app.go
Due: build api, deploy api

implement sidebar (wip)
  ui/src/features/app/sidebar.tsx
Due: build ui, deploy ui

improve new sidebar design
  ui/src/features/app/sidebar.tsx
Due: build ui, deploy ui

add zustand
  ui/package.json
  ui/pnpm-lock.yaml
Due: build ui, deploy ui

refactor and fix flow logic
  ui/src/api/types.ts
  ui/src/features/atoms/index.ts
  ui/src/features/automation/use-action-bar.tsx
  ui/src/features/automation/use-new.ts
  ui/src/features/automation/use-save.ts
  ui/src/features/automation/use-update.ts
  ui/src/features/flow/flow-store.ts
  ui/src/features/flow/index.ts
  ui/src/features/flow/task-node.tsx
  ui/src/features/flow/trigger-node.tsx
  ui/src/features/flow/use-clear-status.ts
  ui/src/features/flow/use-delete-node.ts
  ui/src/features/flow/use-flow.ts
  ui/src/features/flow/use-layout.ts
  ui/src/features/task/settings.tsx
  ui/src/features/task/use-settings.ts
  ui/src/features/task/use-task-status.ts
  ui/src/features/trigger/list.tsx
Due: build ui, deploy ui

Backend builder: fix and refactor workflow issues (#232)
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/api/types.ts
  ui/src/features/app/sidebar.tsx
  ui/src/features/atoms/index.ts
  ui/src/features/automation/use-action-bar.tsx
  ui/src/features/automation/use-new.ts
  ui/src/features/automation/use-save.ts
  ui/src/features/automation/use-update.ts
  ui/src/features/flow/flow-store.ts
  ui/src/features/flow/index.ts
  ui/src/features/flow/task-node.tsx
  ui/src/features/flow/trigger-node.tsx
  ui/src/features/flow/use-clear-status.ts
  ui/src/features/flow/use-delete-node.ts
  ui/src/features/flow/use-flow.ts
  ui/src/features/flow/use-layout.ts
  ui/src/features/task/settings.tsx
  ui/src/features/task/use-settings.ts
  ui/src/features/task/use-task-status.ts
  ui/src/features/trigger/list.tsx
Due: build ui, deploy ui

improve sidebar
  ui/src/features/app/routes.tsx
  ui/src/features/app/sidebar.tsx
  ui/src/features/ui/layout.tsx
Due: build ui, deploy ui

refactor sidebar
  ui/src/features/app/sidebar.tsx
Due: build ui, deploy ui

improve sidebar
  ui/src/features/app/sidebar.tsx
  ui/src/features/ui/content-wrapper.tsx
  ui/src/features/ui/layout.tsx
  ui/src/pages/table.tsx
  ui/src/pages/tables.tsx
Due: build ui, deploy ui

UI new layout
  ui/src/features/app/routes.tsx
  ui/src/features/automation/list.tsx
  ui/src/features/database/custom-query.tsx
  ui/src/features/database/export-database.tsx
  ui/src/features/database/tables.tsx
  ui/src/features/provider/form.tsx
  ui/src/features/provider/list.tsx
  ui/src/features/ui/buttons.tsx
  ui/src/features/ui/index.ts
  ui/src/features/ui/layout.tsx
  ui/src/features/ui/new-leyout.tsx
  ui/src/features/ui/sidebar.tsx
  ui/src/features/ui/table.tsx
  ui/src/features/user-groups/form.tsx
  ui/src/features/user-groups/list.tsx
  ui/src/pages/domains.tsx
  ui/src/pages/files.tsx
  ui/src/pages/git/git.tsx
  ui/src/pages/git/github.tsx
  ui/src/pages/interactions.tsx
  ui/src/pages/providers.tsx
  ui/src/pages/table.tsx
  ui/src/pages/tables.tsx
  ui/src/pages/user-groups.tsx
  ui/src/pages/user-management.tsx
  ui/src/pages/workflows.tsx
Due: build ui, deploy ui

:hammer: Support unicode
  ao-api/controllers/uibuilder/publishutils/convertor.go
Due: build api, deploy api
