Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, build ui-ecommerce, build ui builder, deploy api, deploy scheduler, deploy runner, deploy ui, deploy ui-ecommerce, deploy ui builder

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  build ui-ecommerce: any of: ui-ecommerce/**/*
  build ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
  deploy api: any of: ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
  deploy ui-ecommerce: any of: ui-ecommerce/**/*
  deploy ui builder: any of: ui-builder/**/*, .gitlab-ci.yml

allow box elements to add multiple children
  ui-builder/src/features/elements/elements-store.ts
  ui-builder/src/features/simple/simple-renderer.tsx
Due: build ui builder, deploy ui builder

make grid responsive by default
  ui-builder/src/features/components/basic-columns.tsx
Due: build ui builder, deploy ui builder

fix issues
  ui-builder/src/assets/components/basic-box.png
  ui-builder/src/features/components/basic-box.tsx
  ui-builder/src/features/components/basic-button.tsx
  ui-builder/src/features/components/basic-columns.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/simple/stylers/button-styler.tsx
Due: build ui builder, deploy ui builder

fix preview crashes
  ui-builder/src/features/elements/element.tsx
Due: build ui builder, deploy ui builder

Add background-image editor
  ui-builder/src/features/components/feature-center-grid.tsx
  ui-builder/src/features/components/helpers.tsx
  ui-builder/src/features/components/helpers/component-wrapper.tsx
  ui-builder/src/features/simple/stylers/box-styler.tsx
  ui-builder/src/features/style/background-editor.tsx
  ui-builder/src/features/style/background-image-editor.tsx
Due: build ui builder, deploy ui builder

fix input rendering
  ui-builder/src/features/advanced/overlay.tsx
  ui-builder/src/features/dnd/draggable.tsx
  ui-builder/src/features/elements/extensions/input.tsx
Due: build ui builder, deploy ui builder

fix input value does not reset
  ui-builder/src/features/ui/style-input.tsx
Due: build ui builder, deploy ui builder

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: build ui builder, deploy ui builder

add dashboard links
  ui-builder/src/features/page/top-bar.tsx
Due: build ui builder, deploy ui builder

fix simple mode issues
  ui-builder/src/features/simple/simple-renderer.tsx
  ui-builder/src/features/simple/stylers/text-styler.tsx
Due: build ui builder, deploy ui builder

Refactor integrations, add an endpoint to get profile of connected account and implementing update integration feature
  ao-api/app/app.go
  ao-api/controllers/integration/add_integration.go
  ao-api/controllers/integration/controller.go
  ao-api/controllers/integration/delete_integration.go
  ao-api/controllers/integration/get_all_integrations.go
  ao-api/controllers/integration/get_connected_account.go
  ao-api/controllers/integration/get_integration_type_fields.go
  ao-api/controllers/integration/get_integration_types.go
  ao-api/controllers/integration/update_integration.go
  ao-api/pkg/utils/utils.go
  ao-api/services/integrationService/add_integration.go
  ao-api/services/integrationService/delete_integration.go
  ao-api/services/integrationService/get_all_integrations.go
  ao-api/services/integrationService/get_all_integrations_for_account_by_type.go
  ao-api/services/integrationService/get_connected_account.go
  ao-api/services/integrationService/get_integration_by_name.go
  ao-api/services/integrationService/get_integration_fields.go
  ao-api/services/integrationService/get_integration_for_tp_user.go
  ao-api/services/integrationService/get_integration_types.go
  ao-api/services/integrationService/service.go
  ao-api/services/integrationService/update_integration.go
  ao-api/stores/integrationStore/add_integration.go
  ao-api/stores/integrationStore/check_tasks_for_integration.go
  ao-api/stores/integrationStore/check_triggers_for_integration.go
  ao-api/stores/integrationStore/delete_integration.go
  ao-api/stores/integrationStore/get_all_integrations.go
  ao-api/stores/integrationStore/get_integration_by_name.go
  ao-api/stores/integrationStore/get_integration_for_tp_user.go
  ao-api/stores/integrationStore/get_integrations_by_type.go
  ao-api/stores/integrationStore/store.go
  ao-api/stores/integrationStore/update_integration.go
Due: build api, deploy api

implement color palettes
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/components/basic-button.tsx
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/simple/palette.tsx
  ui-builder/src/features/simple/simple.tsx
  ui-builder/src/features/style/generate-styles.ts
Due: build ui builder, deploy ui builder

Fix bug of updating integration
  ao-api/stores/integrationStore/update_integration.go
Due: build api, deploy api

Fix bug of updating integration
  ao-api/controllers/integration/update_integration.go
Due: build api, deploy api

Fix bug of get connected account endpoint
  ao-api/controllers/integration/get_connected_account.go
Due: build api, deploy api

Better message for error handling
  ao-api/services/integrationService/get_connected_account.go
Due: build api, deploy api

Render styles in custom codes
  ao-api/controllers/uibuilder/publishutils/convertor.go
Due: build api, deploy api

Add validation to integrations for sendGrid and stripe
  ao-api/controllers/integration/add_integration.go
  ao-api/controllers/integration/update_integration.go
Due: build api, deploy api

DTX-682 Show link of project UI in email that send when customers buy product(s)
  ao-api/controllers/ecommerce/create_order.go
Due: build api, deploy api

add update integration
  ui-ecommerce/src/api/index.ts
  ui-ecommerce/src/api/types.ts
  ui-ecommerce/src/features/app/CheckIntegration.tsx
  ui-ecommerce/src/features/app/updateIntegrationForm.tsx
  ui-ecommerce/src/features/hooks/use-create-form.ts
  ui-ecommerce/src/pages/audience.tsx
  ui-ecommerce/src/pages/edit-product.tsx
  ui-ecommerce/src/pages/new-product.tsx
  ui-ecommerce/src/pages/products.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

DTX-691 Refactor integrations, add an endpoint to get profile of connected account and implementing update integration feature (#290)
  ao-api/app/app.go
  ao-api/controllers/integration/add_integration.go
  ao-api/controllers/integration/controller.go
  ao-api/controllers/integration/delete_integration.go
  ao-api/controllers/integration/get_all_integrations.go
  ao-api/controllers/integration/get_connected_account.go
  ao-api/controllers/integration/get_integration_type_fields.go
  ao-api/controllers/integration/get_integration_types.go
  ao-api/controllers/integration/update_integration.go
  ao-api/pkg/utils/utils.go
  ao-api/services/integrationService/add_integration.go
  ao-api/services/integrationService/delete_integration.go
  ao-api/services/integrationService/get_all_integrations.go
  ao-api/services/integrationService/get_all_integrations_for_account_by_type.go
  ao-api/services/integrationService/get_connected_account.go
  ao-api/services/integrationService/get_integration_by_name.go
  ao-api/services/integrationService/get_integration_fields.go
  ao-api/services/integrationService/get_integration_for_tp_user.go
  ao-api/services/integrationService/get_integration_types.go
  ao-api/services/integrationService/service.go
  ao-api/services/integrationService/update_integration.go
  ao-api/stores/integrationStore/add_integration.go
  ao-api/stores/integrationStore/check_tasks_for_integration.go
  ao-api/stores/integrationStore/check_triggers_for_integration.go
  ao-api/stores/integrationStore/delete_integration.go
  ao-api/stores/integrationStore/get_all_integrations.go
  ao-api/stores/integrationStore/get_integration_by_name.go
  ao-api/stores/integrationStore/get_integration_for_tp_user.go
  ao-api/stores/integrationStore/get_integrations_by_type.go
  ao-api/stores/integrationStore/store.go
  ao-api/stores/integrationStore/update_integration.go
Due: build api, deploy api

fix palettes in backend
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/types.ts
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/add-page-form.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/page/use-update.ts
  ui-builder/src/features/simple/palette.tsx
  ui-builder/src/features/style/font-form.tsx
  ui-builder/src/features/style/generate-styles.ts
  ui-builder/src/features/style/typography-editor.tsx
Due: build ui builder, deploy ui builder

add ui builder link
  ui-form/index.html
  ui-form/src/features/app/sidebar.tsx
Due: none

parse palette color
  ui-builder/src/features/simple/palette.tsx
  ui-builder/src/features/style/background-editor.tsx
Due: build ui builder, deploy ui builder

add more palettes
  ui-builder/src/features/simple/palette.tsx
  ui-builder/src/features/style/background-editor.tsx
Due: build ui builder, deploy ui builder

Add box shadow editor
  ui-builder/src/features/components/basic-box.tsx
  ui-builder/src/features/components/helpers/component-wrapper.tsx
  ui-builder/src/features/simple/stylers/box-styler.tsx
  ui-builder/src/features/style/simple-mode-shadows-editor.tsx
Due: build ui builder, deploy ui builder

Save color palette after saving page
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/add-page-form.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/page/use-update.ts
  ui-builder/src/features/simple/palette.tsx
Due: build ui builder, deploy ui builder

fix UI shows pop-up for form submission when status code is not 200
  ui-builder/src/features/scripts/form.js
Due: build ui builder, deploy ui builder

Fix components not getting page name
  ui-builder/src/features/simple/left-sidebar.tsx
Due: build ui builder, deploy ui builder

Add initial value to edit product content form
  ui-ecommerce/src/pages/edit-product.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

Render product content with prose
  ui-ecommerce/src/pages/products.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

update packages
  ui-ecommerce/package.json
  ui-ecommerce/pnpm-lock.yaml
Due: build ui-ecommerce, deploy ui-ecommerce

DTX-704 Add an endpoint to return review (just rate currently) of e-commerce product...
  ao-api/app/app.go
  ao-api/controllers/ecommerce/get_tp_user_review.go
Due: build api, deploy api

support color palette for all stylers
  ui-builder/src/features/simple/stylers/box-styler.tsx
  ui-builder/src/features/simple/stylers/icon-picker.tsx
  ui-builder/src/features/simple/stylers/icon-styler.tsx
  ui-builder/src/features/style/alignment-editor.tsx
  ui-builder/src/features/style/background-editor.tsx
  ui-builder/src/features/style/border-editor.tsx
  ui-builder/src/features/style/simple-mode-shadows-editor.tsx
  ui-builder/src/features/style/typography-editor.tsx
Due: build ui builder, deploy ui builder

Add file name to key of object store (file management)
  ao-api/controllers/objectstore/upload_handler.go
Due: build api, deploy api

fix simple input render
  ui-builder/src/features/simple/simple-renderer.tsx
Due: build ui builder, deploy ui builder

Dtx 686 - Add hero-with-rating
  ui-builder/src/assets/components/hero-with-rating.png
  ui-builder/src/features/components/about-right.tsx
  ui-builder/src/features/components/hero-with-rating.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/simple/palette.tsx
  ui-builder/src/utils/deserialize.ts
Due: build ui builder, deploy ui builder

Add file name to key of object store (file management) (#291)
  ao-api/controllers/objectstore/upload_handler.go
Due: build api, deploy api

Show display name of attachments in get tp user bought products endpoint
  ao-api/controllers/ecommerce/get_tp_user_product.go
Due: build api, deploy api

Add an endpoint to return all page names and number of form submission for each of them
  ao-api/app/app.go
  ao-api/controllers/uibuilder/get_page.go
  ao-api/controllers/uibuilder/list_pages_with_more_details.go
  ao-api/pkg/utils/utils.go
  ao-api/services/uiFormService/get_number_of_form_submission.go
  ao-api/services/uiFormService/interface.go
  ao-api/stores/uiFormStore/get_number_of_form_submission.go
  ao-api/stores/uiFormStore/store.go
  ao-api/stores/uibuilderStore/get_page.go
Due: build api, deploy api
