Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*

DTX-208: Image in the stack is not displayed correctly
  ui-builder/.env.development
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/default-values.ts
Due: none

DTX-205: Text option doesn't change when switching between text components
  ui-builder/src/features/settings.tsx
Due: none

DTX-219: fix responsive columns
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/settings.tsx
Due: none

DTX-218: UI builder: animation on scroll into view
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/data-editor.tsx
  ui-builder/src/features/draggable.tsx
Due: none

DTX-220: UI builder: support link css selectors
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/class-editor.tsx
Due: none

DTX-192: UI builder: copy and paste component
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/clipboard.ts
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/droppable.tsx
Due: none

mini task fix bugs
  ui/src/features/task/settings.tsx
  ui/src/features/task/use-settings.ts
  ui/src/features/ui/json-editor.tsx
Due: build ui, deploy ui

Update README.md
  README.md
Due: none

DTX-223: UI builder navbar
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/component-selector.tsx
  ui-builder/src/features/default-values.ts
  ui-builder/src/features/draggable.tsx
  ui-builder/src/features/droppable.tsx
  ui-builder/src/features/settings.tsx
Due: none

DTX-191: UI builder: select all and multiple select
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/class-editor.tsx
  ui-builder/src/features/clipboard.ts
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/component-selector.tsx
  ui-builder/src/features/droppable.tsx
  ui-builder/src/features/selection-store.ts
  ui-builder/src/features/settings.tsx
  ui-builder/src/features/styles-editor.tsx
  ui-builder/src/features/use-selected-component.ts
Due: none

Render visible animations
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
Due: build api, deploy api

DTX-225: task and trigger output test
  ui/src/api/index.ts
  ui/src/api/types.ts
  ui/src/features/automation/use-save.ts
  ui/src/features/task/settings.tsx
  ui/src/features/task/test-step.tsx
  ui/src/features/task/use-settings.ts
  ui/src/features/trigger/form.tsx
  ui/src/features/trigger/use-form.ts
  ui/src/features/ui/complex-field.tsx
  ui/src/features/ui/field.tsx
  ui/src/features/ui/group-select.tsx
  ui/src/features/ui/input-or-select.tsx
  ui/src/features/ui/json-editor.tsx
  ui/src/features/ui/new-select.tsx
Due: build ui, deploy ui

change opacity
  ui-builder/src/features/component-selector.tsx
Due: none

Fix bug of interaction fields
  ao-api/services/crudService/pipeline_services.go
Due: build api, deploy api

Parse json editor to primitive values for test step
  ui/src/features/task/test-step.tsx
Due: build ui, deploy ui

on_test_stage field added for task and tiggers yaml to determine they are not ready to be shown
  ao-api/models/task_constants.go
  ao-api/models/triggers.go
  ao-api/services/predefinedTaskService/service.go
  ao-api/services/triggersService/service.go
  tasks/dotenx/http_call.yaml
  tasks/dotenx/read-file.yaml
  tasks/dotenx/run-mini-tasks.yaml
  tasks/dotenx/run-node-code.yaml
  tasks/dotenx/run_image.yaml
  tasks/dotenx/test_multi_output.yaml
  tasks/dotenx/write-file.yaml
  tasks/gitlab/add_gitlab_member.yaml
  tasks/gitlab/remove_gitlab_member.yaml
  tasks/google/create-google-spreadsheet.yaml
  tasks/google/read-google-spreadsheet.yaml
  tasks/jira/create-jira-ticket.yaml
  tasks/woocommerce/woocommerce-create-coupon.yml
  tasks/woocommerce/woocommerce-create-customer.yml
  tasks/woocommerce/woocommerce-create-product.yml
  triggers/dotenx/schedule.yaml
  triggers/dropbox/dropbox-upload-new-file.yaml
  triggers/instagram/instagram-new-post.yaml
  triggers/woocommerce/woocommerce-new-order.yml
Due: build api, deploy api

DTX-240 Change credentials of OAuth app of Facebook
  ao-api/providers.json
Due: build api, deploy api

Simple mode
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/app.tsx
  ui-builder/src/assets/components/cta.png
  ui-builder/src/assets/components/hero.png
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/component-inserter.tsx
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/component-selector.tsx
  ui-builder/src/features/controllers/controller.ts
  ui-builder/src/features/controllers/cta.tsx
  ui-builder/src/features/controllers/hero.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/image-drop.tsx
  ui-builder/src/features/settings.tsx
  ui-builder/src/features/simple-canvas.tsx
  ui-builder/src/features/simple-options.tsx
  ui-builder/src/features/top-bar.tsx
  ui-builder/src/features/viewport-store.ts
  ui-builder/src/pages/simple.tsx
  ui-builder/src/utils/controller-utils.ts
Due: none

Fix test trigger
  ui/src/api/types.ts
  ui/src/features/task/test-step.tsx
Due: build ui, deploy ui

DTX-187 Change credentials of OAuth app of Google and Dropbox and also fix minor bugs of run instantly
  ao-api/controllers/execution/run_instantly.go
  ao-api/providers.json
  predefinedImages/triggers/facebook-publish-new-post/main.go
  runner/executors/awsLambda/deploy_all_triggers.sh
  triggers/facebook/facebook-publish-new-post.yaml
Due: build api, build runner, deploy api, deploy runner

Dtx 112
  ao-api/.env.production
  ao-api/app/app.go
  ao-api/controllers/database/delete_row_action.go
  ao-api/controllers/database/select_rows_action.go
  ao-api/services/databaseService/delete_row.go
  ao-api/services/databaseService/interface.go
  ao-api/services/databaseService/select_rows.go
  ao-api/services/internalService/list_tp_users.go
  ao-api/stores/databaseStore/database_store.go
  ao-api/stores/databaseStore/delete_row.go
  ao-api/stores/databaseStore/select_rows.go
  predefinedImages/tasks/database-select-query/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  tasks/database/get-records.yaml
  ui/src/api/index.ts
  ui/src/api/types.ts
  ui/src/features/database/table-endpoints.tsx
  ui/src/pages/table.tsx
  ui/src/pages/user-management.tsx
Due: build api, build runner, build ui, deploy api, deploy runner, deploy ui

DTX-112-1 Fix minor bug of type conversion of get db records task
  predefinedImages/tasks/database-select-query/main.go
Due: none

DTX-244 Filter default tables in get table list endpoint
  ao-api/controllers/database/get_tables_list_action.go
Due: build api, deploy api

:bug: Should always render the table even if there are no rows
  ui/src/features/ui/table.tsx
  ui/src/pages/table.tsx
Due: build ui, deploy ui

Add meta tag to support responsiveness in Chrome
  ao-api/controllers/uibuilder/publishutils/convertor.go
Due: build api, deploy api

DTX-241 Implement strategy for triggers
  ao-api/.env
  ao-api/.env.mohsen
  ao-api/.env.production
  ao-api/config/config.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/tasks.go
  ao-api/models/trigger_checker.go
  ao-api/models/triggers.go
  ao-api/services/crudService/pipeline_services.go
  ao-api/services/executionService/set_executiontime.go
  ao-api/services/triggersService/start_checking.go
  ao-api/stores/pipelineStore/delete_pipeline.go
  ao-api/stores/pipelineStore/pipeline_store.go
  ao-api/stores/triggerStore/add_trigger_object_list.go
  ao-api/stores/triggerStore/delete_trigger_object_list_by_trigger_name.go
  ao-api/stores/triggerStore/get_trigger_object_list_by_trigger_name.go
  ao-api/stores/triggerStore/store.go
  ao-api/stores/triggerStore/update_trigger_object_list_by_trigger_name.go
  predefinedImages/triggers/ebay-new-order/main.go
  predefinedImages/triggers/google-new-email/main.go
  predefinedImages/triggers/slack-new-message/main.go
  predefinedImages/triggers/twitter-new-tweet/main.go
  predefinedImages/triggers/typeform-new-response/main.go
  runner/executors/awsLambda/deploy_all_triggers.sh
  triggers/ebay/ebay-new-order.yaml
  triggers/google/google_new_email.yaml
  triggers/slack/slack-new-message.yaml
  triggers/twitter/twitter_new_tweet.yaml
  triggers/typeform/typeform-new-response.yaml
Due: build api, build runner, deploy api, deploy runner

Dtx 242
  ui-builder/src/assets/components/sc-sign-in-basic.png
  ui-builder/src/features/controllers/basic-components/base.ts
  ui-builder/src/features/controllers/basic-components/round-button.ts
  ui-builder/src/features/controllers/basic-components/round-input-with-label.ts
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/sign-in-basic.tsx
  ui-builder/src/features/controllers/sign-up-basic.tsx
  ui-builder/src/features/elements/extensions/link.tsx
  ui-builder/src/features/elements/extensions/text.tsx
Due: none

Dtx 228
  ao-api/miniTasks/convert_execute_task.go
  ao-api/miniTasks/convert_function_call.go
  ao-api/miniTasks/convertor.go
  ao-api/miniTasks/miniTasks.yaml
  ao-api/models/runner_job.go
  ao-api/pkg/utils/functions/http_getrequest.js
  ao-api/pkg/utils/functions/http_request.js
  ao-api/services/crudService/pipeline_services.go
  ao-api/services/executionService/get_next_task.go
  tasks/dotenx/custom_task.yaml
  ui/package-lock.json
  ui/package.json
  ui/src/api/types.ts
  ui/src/features/atoms/index.ts
  ui/src/features/automation/use-save.ts
  ui/src/features/flow/use-flow.ts
  ui/src/features/hooks/use-sliding-pane.ts
  ui/src/features/integration/form.tsx
  ui/src/features/task/settings.tsx
  ui/src/features/task/test-step.tsx
  ui/src/features/task/use-settings.ts
  ui/src/features/ui/index.ts
  ui/src/features/ui/sliding-pane.tsx
  ui/src/internal/steps-summary.tsx
  ui/src/internal/task-builder.tsx
Due: build api, build ui, deploy api, deploy ui

Register login
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/app.tsx
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/controllers/basic-components/round-button.ts
  ui-builder/src/features/controllers/sign-in-basic.tsx
  ui-builder/src/features/controllers/sign-up-basic.tsx
  ui-builder/src/features/data-bindings/data-source-form.tsx
  ui-builder/src/features/data-bindings/data-source-store.ts
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/elements/extensions/button.tsx
  ui-builder/src/features/elements/extensions/form.tsx
  ui-builder/src/features/elements/extensions/nav/menu-button.tsx
  ui-builder/src/features/elements/extensions/nav/navbar.tsx
  ui-builder/src/features/elements/extensions/submit.tsx
  ui-builder/src/features/elements/extensions/textarea.tsx
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/add-page-form.tsx
  ui-builder/src/features/page/page-selection.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/simple/component-inserter.tsx
  ui-builder/src/features/simple/element-select.tsx
  ui-builder/src/features/simple/simple-canvas.tsx
  ui-builder/src/features/simple/simple-renderer.tsx
  ui-builder/src/features/style/generate-styles.ts
  ui-builder/src/features/viewport/device-selection.tsx
  ui-builder/src/features/viewport/viewport-selection.tsx
  ui-builder/src/pages/home.tsx
  ui-builder/src/pages/simple.tsx
  ui-builder/src/utils/constants.ts
Due: none

Dynamic list
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/assets/components/card-list.png
  ui-builder/src/features/advanced/canvas.tsx
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/controllers/card-list.tsx
  ui-builder/src/features/controllers/controller.ts
  ui-builder/src/features/controllers/create-form.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/list.tsx
  ui-builder/src/features/controllers/sign-in-basic.tsx
  ui-builder/src/features/data-bindings/data-editor.tsx
  ui-builder/src/features/data-bindings/data-source-form.tsx
  ui-builder/src/features/elements/extensions/box.tsx
  ui-builder/src/features/elements/extensions/columns.tsx
  ui-builder/src/features/elements/extensions/form.tsx
  ui-builder/src/features/elements/extensions/text.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/simple/element-select.tsx
  ui-builder/src/features/simple/simple-canvas.tsx
  ui-builder/src/features/simple/simple-renderer.tsx
  ui-builder/src/features/style/shadows-editor.tsx
  ui-builder/src/utils/deserialize.ts
Due: none

change empty repeat from to null
  ui-builder/src/features/controllers/basic-components/base.ts
  ui-builder/src/features/controllers/basic-components/round-button.ts
  ui-builder/src/features/controllers/basic-components/round-input-with-label.ts
  ui-builder/src/features/controllers/hero.tsx
  ui-builder/src/features/controllers/sign-in-basic.tsx
  ui-builder/src/features/controllers/sign-up-basic.tsx
Due: none

Dtx 254
  ao-api/controllers/uibuilder/publishutils/convert_slider.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/function_store.go
  ao-api/pkg/utils/functions/http_request.js
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/elements/extensions/chart-area.tsx
  ui-builder/src/features/elements/extensions/chart-bar.tsx
  ui-builder/src/features/elements/extensions/chart-bubble.tsx
  ui-builder/src/features/elements/extensions/chart-doughnut.tsx
  ui-builder/src/features/elements/extensions/chart-horizontal-bar.tsx
  ui-builder/src/features/elements/extensions/chart-line.tsx
  ui-builder/src/features/elements/extensions/chart-pie.tsx
  ui-builder/src/features/elements/extensions/chart-polar-area.tsx
  ui-builder/src/features/elements/extensions/chart-radar.tsx
  ui-builder/src/features/elements/extensions/chart-scatter.tsx
  ui-builder/src/features/elements/extensions/icon.tsx
  ui-builder/src/features/elements/extensions/slider.tsx
  ui-builder/src/features/elements/fa-import.ts
  ui-builder/src/features/elements/index.ts
  ui-builder/src/features/frame/style.tsx
  ui-builder/src/features/page/top-bar.tsx
Due: build api, deploy api

DTX-259 Implement access by user group for automation templates
  ao-api/controllers/crud/create_from_template.go
  ao-api/services/crudService/inteface.go
  ao-api/services/crudService/template.go
Due: build api, deploy api
