Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, build ui-ecommerce, build ui builder, deploy api, deploy scheduler, deploy runner, deploy ui, deploy ui-ecommerce, deploy ui builder

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  build ui-ecommerce: any of: ui-ecommerce/**/*
  build ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
  deploy api: any of: ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
  deploy ui-ecommerce: any of: ui-ecommerce/**/*
  deploy ui builder: any of: ui-builder/**/*, .gitlab-ci.yml

add json to editor value
  ui-ecommerce/src/features/editor/editor.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

add editor to create schedule (wip)
  ui-ecommerce/src/pages/create-schedule.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

add cron scheduler
  ui-ecommerce/package.json
  ui-ecommerce/pnpm-lock.yaml
  ui-ecommerce/src/pages/create-schedule.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

remove log
  ui-ecommerce/src/features/app/CheckIntegration.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

fix create schedule
  ui-ecommerce/src/pages/create-schedule.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

add audience table and analytics chart data
  ui-ecommerce/src/api/index.ts
  ui-ecommerce/src/api/types.ts
  ui-ecommerce/src/pages/analytics.tsx
  ui-ecommerce/src/pages/audience.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

fix cart and bought products
  ui-builder/src/features/ecommerce/components/bought-products.tsx
  ui-builder/src/features/scripts/bought-products.js
  ui-builder/src/features/scripts/cart.js
Due: build ui builder, deploy ui builder

DTX-567 Add json content to body of e-commerce scheduled email
  ao-api/controllers/ecommerce/create_email_pipeline.go
  ao-api/controllers/ecommerce/get_email_pipelines.go
Due: build api, deploy api

implement bought item details logic
  ui-builder/src/features/ecommerce/theme4/bought-item-details.js
  ui-builder/src/features/ecommerce/theme4/components.tsx
  ui-builder/src/features/ecommerce/theme4/theme.ts
Due: build ui builder, deploy ui builder

add scripts
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
Due: build ui builder, deploy ui builder

Render scripts in custom codes
  ao-api/controllers/uibuilder/publishutils/convertor.go
Due: build api, deploy api

Render scripts in custom codes (#273)
  ao-api/controllers/uibuilder/publishutils/convertor.go
Due: build api, deploy api

Render video and YouTube
  ao-api/controllers/uibuilder/publishutils/convert_video.go
  ao-api/controllers/uibuilder/publishutils/convert_youtube.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
Due: build api, deploy api

Render video and YouTube (#274)
  ao-api/controllers/uibuilder/publishutils/convert_video.go
  ao-api/controllers/uibuilder/publishutils/convert_youtube.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
Due: build api, deploy api

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: build ui builder, deploy ui builder

Add basic-video to simple components
  ui-builder/src/api/api.ts
  ui-builder/src/assets/components/basic-video.png
  ui-builder/src/features/controllers/basic-button.tsx
  ui-builder/src/features/controllers/basic-image.tsx
  ui-builder/src/features/controllers/basic-text.tsx
  ui-builder/src/features/controllers/basic-video.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/simple/stylers/video-styler.tsx
  ui-builder/src/features/ui/video-drop.tsx
Due: build ui builder, deploy ui builder

Add basic-youtube simple component
  ui-builder/src/assets/components/basic-youtube.png
  ui-builder/src/features/controllers/basic-youtube.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/simple/stylers/youtube-styler.tsx
Due: build ui builder, deploy ui builder

Add basic-video to simple components (#275)
  ui-builder/src/api/api.ts
  ui-builder/src/assets/components/basic-video.png
  ui-builder/src/assets/components/basic-youtube.png
  ui-builder/src/features/controllers/basic-button.tsx
  ui-builder/src/features/controllers/basic-image.tsx
  ui-builder/src/features/controllers/basic-video.tsx
  ui-builder/src/features/controllers/basic-youtube.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/simple/stylers/video-styler.tsx
  ui-builder/src/features/simple/stylers/youtube-styler.tsx
  ui-builder/src/features/ui/video-drop.tsx
Due: build ui builder, deploy ui builder

hide sidebars close button
  ui-builder/src/pages/ecommerce-builder.tsx
Due: build ui builder, deploy ui builder

improve ecommerce component list
  ui-builder/src/features/ecommerce/index.ts
Due: build ui builder, deploy ui builder

fix preview api
  ui-builder/src/api/api.ts
Due: build ui builder, deploy ui builder

add default sign up link
  ui-builder/src/features/ecommerce/components/sign-up.tsx
Due: build ui builder, deploy ui builder

fix small issues
  ui-builder/src/features/ecommerce/components/product-list.tsx
  ui-builder/src/features/frame/canvas.tsx
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/page-selection.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/pages/ecommerce-builder.tsx
Due: build ui builder, deploy ui builder

Make the heads of left side bar's tab sticky
  ui-builder/src/features/advanced/element-dragger-layer.tsx
Due: build ui builder, deploy ui builder

Show a modal before deleting a page
  ui-builder/src/features/page/actions.tsx
Due: build ui builder, deploy ui builder

Dtx 571 (#276)
  ui-builder/src/features/advanced/element-dragger-layer.tsx
  ui-builder/src/features/page/actions.tsx
Due: build ui builder, deploy ui builder

Add animation editor (wip)
  ui-builder/src/features/controllers/basic-image.tsx
  ui-builder/src/features/controllers/basic-youtube.tsx
  ui-builder/src/features/controllers/helpers/component-wrapper.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/simple/stylers/box-styler.tsx
  ui-builder/src/features/style/simple-animation-editor.tsx
Due: build ui builder, deploy ui builder

Analytics page not working
  ui-ecommerce/src/features/app/sidebar.tsx
  ui-ecommerce/src/pages/analytics.tsx
  ui-ecommerce/src/pages/sales.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

Add form simple component (wip)
  ui-builder/src/features/components/form.tsx
  ui-builder/src/features/components/helpers/dnd-tabs.tsx
  ui-builder/src/features/components/index.ts
  ui-builder/src/features/ecommerce/shared.ts
Due: build ui builder, deploy ui builder

Add animation editor (wip) (#278)
  ui-builder/src/features/controllers/basic-image.tsx
  ui-builder/src/features/controllers/basic-youtube.tsx
  ui-builder/src/features/controllers/helpers/component-wrapper.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/simple/stylers/box-styler.tsx
  ui-builder/src/features/style/simple-animation-editor.tsx
Due: build ui builder, deploy ui builder

audiance changes
  ui-ecommerce/src/api/index.ts
  ui-ecommerce/src/features/ui/new-layout.tsx
  ui-ecommerce/src/pages/audience.tsx
  ui-ecommerce/src/pages/create-schedule.tsx
Due: build ui-ecommerce, deploy ui-ecommerce

Dtx 583 merge
  ui-builder/src/features/components/basic-image.tsx
  ui-builder/src/features/components/basic-youtube.tsx
  ui-builder/src/features/components/helpers/component-wrapper.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/simple/stylers/box-styler.tsx
  ui-builder/src/features/style/simple-animation-editor.tsx
Due: build ui builder, deploy ui builder

format
  ui-builder/src/features/components/helpers/component-wrapper.tsx
  ui-builder/src/features/simple/stylers/box-styler.tsx
  ui-builder/src/features/style/simple-animation-editor.tsx
Due: build ui builder, deploy ui builder

Add json_content column to products table of ecommerce project and add validation to ecommerce project setup of sendGrid integration
  ao-api/controllers/project/add_project_action.go
  ao-api/controllers/project/project_dependent_setup.go
Due: build api, deploy api

Fix minor bug
  ao-api/controllers/project/add_project_action.go
  ao-api/controllers/project/project_dependent_setup.go
Due: build api, deploy api

DTX-611 Add json_content column to products table of ecommerce project and add validation to ecommerce project setup of SendGrid integration (#279)
  ao-api/controllers/project/add_project_action.go
  ao-api/controllers/project/project_dependent_setup.go
Due: build api, deploy api

Add new columns of products table to 'create product' dto
  ao-api/controllers/ecommerce/create_product.go
Due: build api, deploy api

fix get row error
  ui-builder/src/api/ecommerce.ts
  ui-builder/src/features/misc/tags-query.ts
Due: build ui builder, deploy ui builder

Add endpoints to insert ui form responses in our database and return list of them
  ao-api/app/app.go
  ao-api/controllers/uiForm/add_new_response.go
  ao-api/controllers/uiForm/controller.go
  ao-api/controllers/uiForm/get_ui_page_response_list.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/ui_form_model.go
  ao-api/services/uiFormService/add_new_response.go
  ao-api/services/uiFormService/get_ui_page_response_list.go
  ao-api/services/uiFormService/interface.go
  ao-api/stores/uiFormStore/add_new_response.go
  ao-api/stores/uiFormStore/get_ui_page_response_list.go
  ao-api/stores/uiFormStore/store.go
Due: build api, deploy api
