Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, build ui-ecommerce, build ui builder, deploy api, deploy scheduler, deploy runner, deploy ui, deploy ui-ecommerce, deploy ui builder

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
    folder: ui
    build_dest: dist
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

build ui-ecommerce:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    folder: ui-builder
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

build ui builder:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
    folder: ui-builder
    build_dest: dist
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

DTX-746 Adding queries to get some statistic info in analytics page of e-commerce projects
  ao-api/controllers/ecommerce/run_predefined_queries.go
Due: build api, deploy api

add imports
  ui-builder/src/api/api.ts
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/elements/elements-store.ts
  ui-builder/src/features/page/add-page-form.tsx
  ui-builder/src/features/page/use-update.ts
  ui-builder/src/features/style/simple-mode-shadows-editor.tsx
  ui-builder/src/utils/deserialize.ts
Due: build ui builder, deploy ui builder

add custom codes to all project types
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/simple/simple.tsx
Due: build ui builder, deploy ui builder

add dashboard link to landing page type
  ui-builder/src/features/page/top-bar.tsx
Due: build ui builder, deploy ui builder

improve faq collapsible
  ui-builder/src/features/components/faq-collapsible.tsx
Due: build ui builder, deploy ui builder

Add an endpoint to get number of UI form responses for each account (used in plan limitation)
  ao-api/app/app.go
  ao-api/controllers/internalController/controller.go
  ao-api/controllers/uiForm/add_new_response.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/ui_form_model.go
  ao-api/services/internalService/get_number_of_ui_form_response.go
  ao-api/services/internalService/interface.go
  ao-api/services/uiFormService/get_number_of_responses_for_user.go
  ao-api/services/uiFormService/interface.go
  ao-api/stores/uiFormStore/add_new_response.go
  ao-api/stores/uiFormStore/get_number_of_responses_for_user.go
  ao-api/stores/uiFormStore/store.go
Due: build api, deploy api

Add an endpoint to get number of UI form responses for each account (used in plan limitation) (#294)
  ao-api/app/app.go
  ao-api/controllers/internalController/controller.go
  ao-api/controllers/uiForm/add_new_response.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/ui_form_model.go
  ao-api/services/internalService/get_number_of_ui_form_response.go
  ao-api/services/internalService/interface.go
  ao-api/services/uiFormService/get_number_of_responses_for_user.go
  ao-api/services/uiFormService/interface.go
  ao-api/stores/uiFormStore/add_new_response.go
  ao-api/stores/uiFormStore/get_number_of_responses_for_user.go
  ao-api/stores/uiFormStore/store.go
Due: build api, deploy api

Update README.md
  README.md
Due: none

Do not mount splide automatically, Add testimonial-slider component
  ao-api/controllers/uibuilder/publishutils/function_store.go
  ui-builder/src/assets/components/testimonial-slider.png
  ui-builder/src/features/components/helpers/dnd-tabs.tsx
  ui-builder/src/features/components/helpers/draggable-tabs.tsx
  ui-builder/src/features/components/hero-with-rating-two-cta-2.tsx
  ui-builder/src/features/components/hero-with-rating-two-cta.tsx
  ui-builder/src/features/components/hero-with-rating.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/components/testimonial-simple.tsx
  ui-builder/src/features/components/testimonial-slider.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/elements/extensions/template.tsx
  ui-builder/src/features/scripts/testimonial-slider.js
  ui-builder/src/features/simple/stylers/color-styler.tsx
  ui-builder/src/features/simple/stylers/image-styler.tsx
  ui-builder/src/features/style/border-editor.tsx
  ui-builder/src/features/style/size-editor.tsx
Due: build api, build ui builder, deploy api, deploy ui builder

Add step-grid-cta-left
  ui-builder/src/assets/components/step-grid-cta-left.png
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/components/step-grid-cta-left.tsx
Due: build ui builder, deploy ui builder

show font preview in font editor
  ui-builder/src/features/style/typography-editor.tsx
Due: build ui builder, deploy ui builder

update and format
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/components/about-framed-image.tsx
  ui-builder/src/features/components/about-left-2.tsx
  ui-builder/src/features/components/about-left-3.tsx
  ui-builder/src/features/components/about-left.tsx
  ui-builder/src/features/components/about-right-3.tsx
  ui-builder/src/features/components/basic-box.tsx
  ui-builder/src/features/components/customers-stat-logo.tsx
  ui-builder/src/features/components/feature-cards-image.tsx
  ui-builder/src/features/components/feature-center-cards.tsx
  ui-builder/src/features/components/feature-center-grid.tsx
  ui-builder/src/features/components/feature-grid-image-tag.tsx
  ui-builder/src/features/components/helpers/component-wrapper.tsx
  ui-builder/src/features/components/helpers/dnd-tabs.tsx
  ui-builder/src/features/components/helpers/draggable-tabs.tsx
  ui-builder/src/features/components/hero-with-rating-two-cta.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/components/step-grid-cta-left.tsx
  ui-builder/src/features/components/team-square-grid.tsx
  ui-builder/src/features/components/testimonial-slider.tsx
  ui-builder/src/features/elements/extensions/icon.tsx
  ui-builder/src/features/elements/extensions/video.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/scripts/testimonial-slider.js
  ui-builder/src/features/simple/stylers/box-styler.tsx
  ui-builder/src/features/simple/stylers/icon-picker.tsx
  ui-builder/src/features/simple/stylers/image-styler.tsx
  ui-builder/src/features/style/background-image-editor.tsx
Due: build ui builder, deploy ui builder

Add feature-cta-image-tag
  ui-builder/src/assets/components/feature-cta-image-tag.png
  ui-builder/src/features/components/feature-cta-image-tag.tsx
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder

Add comparison-table-1
  ui-builder/src/assets/components/comparison-table-1.png
  ui-builder/src/features/components/comparison-table-1.tsx
  ui-builder/src/features/components/comparison-table-simple.tsx
  ui-builder/src/features/components/helpers/dnd-tabs.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/ecommerce/index.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/scripts/comparison-table-1.js
Due: build ui builder, deploy ui builder

add slider 1 component
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder

implement slider 1
  ui-builder/src/features/components/slider-1.tsx
  ui-builder/src/features/elements/constructor.ts
  ui-builder/src/features/scripts/slider-1.js
Due: build ui builder, deploy ui builder

improve slider 1
  ui-builder/src/assets/components/slider-1.png
  ui-builder/src/features/components/slider-1.tsx
  ui-builder/src/features/elements/constructor.ts
Due: build ui builder, deploy ui builder

improve overlays performance
  ui-builder/src/features/simple/left-sidebar.tsx
  ui-builder/src/features/simple/simple.tsx
Due: build ui builder, deploy ui builder

Add gallery-masonry-custom-layout
  ui-builder/src/assets/components/gallery-masonry-custom-layout.png
  ui-builder/src/features/components/gallery-masonry-1.tsx
  ui-builder/src/features/components/gallery-masonry-2.tsx
  ui-builder/src/features/components/gallery-masonry-custom-layout.tsx
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder

fix slider 1
  ui-builder/src/features/components/slider-1.tsx
  ui-builder/src/features/page/use-update.ts
  ui-builder/src/features/scripts/slider-1.js
Due: build ui builder, deploy ui builder

implement about video
  ui-builder/src/features/components/about-video-1.tsx
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder

add divider stats with logos
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/components/about-long-details-left.tsx
  ui-builder/src/features/components/about-long-details-right.tsx
  ui-builder/src/features/components/customers-stat-logo.tsx
  ui-builder/src/features/components/divider-stats-logos.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/ui/text-editor.tsx
Due: build ui builder, deploy ui builder

fix about video 1 image
  ui-builder/src/assets/components/about-video-1.png
  ui-builder/src/features/components/about-video-1.tsx
Due: build ui builder, deploy ui builder

fix testimonial slider icon
  ui-builder/src/features/components/testimonial-slider.tsx
Due: build ui builder, deploy ui builder

add image for divider stats logos
  ui-builder/src/assets/components/divider-stats-logos.png
  ui-builder/src/features/components/divider-stats-logos.tsx
  ui-builder/src/features/components/divider-stats.tsx
Due: build ui builder, deploy ui builder

fix slider background image
  ui-builder/src/features/components/slider-1.tsx
Due: build ui builder, deploy ui builder

add element raw style
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/page/use-update.ts
  ui-builder/src/utils/deserialize.ts
  ui-builder/src/utils/join-scripts.ts
Due: build ui builder, deploy ui builder

fix slider
  ui-builder/src/features/components/slider-1.tsx
Due: build ui builder, deploy ui builder

implement slider 2
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/components/slider-2.tsx
  ui-builder/src/features/scripts/slider-2.js
Due: build ui builder, deploy ui builder

add new form and edit some components
  ui-builder/src/assets/components/form.png
  ui-builder/src/assets/components/form2.png
  ui-builder/src/features/components/form-2.tsx
  ui-builder/src/features/components/hero-cta-left.tsx
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder

fix slider 2 image
  ui-builder/src/assets/components/slider-2.png
  ui-builder/src/features/components/slider-2.tsx
Due: build ui builder, deploy ui builder

fix raw style
  ui-builder/src/features/style/generate-styles.ts
  ui-builder/src/utils/join-scripts.ts
Due: build ui builder, deploy ui builder

add domain to UI-form
  ui-form/package.json
  ui-form/pnpm-lock.yaml
  ui-form/src/api/index.ts
  ui-form/src/api/types.ts
  ui-form/src/features/app/routes.tsx
  ui-form/src/features/app/sidebar.tsx
  ui-form/src/pages/domains.tsx
  ui-form/src/pages/home.tsx
Due: none

change UI builder back link for Website & Landing
  ui-builder/src/features/page/top-bar.tsx
Due: build ui builder, deploy ui builder

UI: add Cname component for domain
  ui/src/internal/internal-api.ts
  ui/src/pages/domains.tsx
Due: build ui, deploy ui

Internal UIs: add Cname for domain
  ui-ecommerce/src/pages/domains.tsx
  ui-form/src/pages/domains.tsx
  ui/src/pages/domains.tsx
  ui/src/pages/git/github.tsx
Due: build ui, build ui-ecommerce, deploy ui, deploy ui-ecommerce

Add limitation for number of form submissions to plans and check it in ao-api service
  ao-api/controllers/uiForm/add_new_response.go
  ao-api/services/uiFormService/add_new_response.go
  ao-api/services/uiFormService/check_access.go
  ao-api/services/uiFormService/interface.go
Due: build api, deploy api

fix build error
  ui/src/pages/git/github.tsx
Due: build ui, deploy ui

Add limitation for number of form submissions to plans and check it in ao-api service (#296)
  ao-api/controllers/uiForm/add_new_response.go
  ao-api/services/uiFormService/add_new_response.go
  ao-api/services/uiFormService/check_access.go
  ao-api/services/uiFormService/interface.go
Due: build api, deploy api

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  build ui-ecommerce: any of: ui-ecommerce/**/*
  build ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
  deploy api: any of: ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
  deploy ui-ecommerce: any of: ui-ecommerce/**/*
  deploy ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
