Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
  script:
  - cd ui
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./build
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy ui:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    CORE_USERNAME: ${DEV_CORE_USERNAME}
    CORE_PASSWORD: ${DEV_CORE_PASSWORD}
    AWS_ACCESS_KEY_ID: ${DEV_AWS_ACCESS_KEY_ID}
    AWS_SECRET_ACCESS_KEY: ${DEV_AWS_SECRET_ACCESS_KEY}
    BUCKET: app.dotenx.com
    environment: prod
  ...

:bug: Add text to data
  ui-builder/src/features/elements/extensions/chart-area.tsx
  ui-builder/src/features/elements/extensions/chart-bar.tsx
  ui-builder/src/features/elements/extensions/chart-bubble.tsx
  ui-builder/src/features/elements/extensions/chart-doughnut.tsx
  ui-builder/src/features/elements/extensions/chart-horizontal-bar.tsx
  ui-builder/src/features/elements/extensions/chart-line.tsx
  ui-builder/src/features/elements/extensions/chart-pie.tsx
  ui-builder/src/features/elements/extensions/chart-polar-area.tsx
  ui-builder/src/features/elements/extensions/chart-radar.tsx
  ui-builder/src/features/elements/extensions/chart-scatter.tsx
  ui-builder/src/features/elements/extensions/slider.tsx
  ui-builder/src/features/elements/extensions/text.tsx
Due: none

DTX-249: backend builder json input
  ui/src/features/task/settings.tsx
  ui/src/features/ui/json-editor-input.tsx
  ui/src/features/ui/json-editor.tsx
Due: build ui, deploy ui

DTX-258 Add some payment (Stripe) task and fix some bugs of custom tasks
  ao-api/miniTasks/convert_execute_task.go
  ao-api/miniTasks/convert_function_call.go
  ao-api/pkg/utils/functions/http_request.js
  ao-api/services/crudService/pipeline_services.go
  predefinedImages/tasks/stripe-create-payment-link/Dockerfile
  predefinedImages/tasks/stripe-create-payment-link/go.mod
  predefinedImages/tasks/stripe-create-payment-link/go.sum
  predefinedImages/tasks/stripe-create-payment-link/main.go
  predefinedImages/triggers/stripe-payment-completed/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  runner/executors/awsLambda/deploy_all_triggers.sh
  tasks/stripe/stripe_create_payment_link.yml
  triggers/stripe/stripe-payment-completed.yml
Due: build api, build runner, deploy api, deploy runner

Add UG to AutTemplate and Access to Tables
  ui/src/api/index.ts
  ui/src/api/types.ts
  ui/src/features/automation/list.tsx
  ui/src/features/database/query-builder.tsx
  ui/src/features/database/tables.tsx
  ui/src/pages/domains.tsx
  ui/src/pages/user-groups.tsx
Due: build ui, deploy ui

Query params charts global states
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/data-bindings/data-editor.tsx
  ui-builder/src/features/data-bindings/use-get-states.tsx
  ui-builder/src/features/elements/extensions/chart-area.tsx
  ui-builder/src/features/elements/extensions/chart-bar.tsx
  ui-builder/src/features/elements/extensions/chart-bubble.tsx
  ui-builder/src/features/elements/extensions/chart-doughnut.tsx
  ui-builder/src/features/elements/extensions/chart-horizontal-bar.tsx
  ui-builder/src/features/elements/extensions/chart-line.tsx
  ui-builder/src/features/elements/extensions/chart-pie.tsx
  ui-builder/src/features/elements/extensions/chart-polar-area.tsx
  ui-builder/src/features/elements/extensions/chart-radar.tsx
  ui-builder/src/features/elements/extensions/chart-scatter.tsx
  ui-builder/src/features/elements/extensions/text.tsx
  ui-builder/src/features/elements/index.ts
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/add-page-form.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/ui/intelinput.tsx
Due: none

Add basic gallery
  ui-builder/src/assets/components/gallery-basic.png
  ui-builder/src/features/controllers/gallery-basic.tsx
  ui-builder/src/features/controllers/index.ts
Due: none

Add feature grid
  ui-builder/src/features/controllers/feature-center-grid.tsx
  ui-builder/src/features/controllers/helpers.tsx
  ui-builder/src/features/controllers/index.ts
Due: none

DTX-245 Add public endpoint for read record of table without token and also add it on import/export project
  ao-api/app/app.go
  ao-api/controllers/database/add_table_action.go
  ao-api/controllers/database/get_tables_list_action.go
  ao-api/controllers/database/select_rows_publicly_action.go
  ao-api/controllers/database/set_table_access_action.go
  ao-api/controllers/marketplace/add_item.go
  ao-api/models/marketplace_item.go
  ao-api/models/project_model.go
  ao-api/services/databaseService/add_table.go
  ao-api/services/databaseService/interface.go
  ao-api/services/databaseService/is_table_public.go
  ao-api/services/databaseService/set_table_access.go
  ao-api/services/marketplaceService/add_item.go
  ao-api/services/marketplaceService/export_project.go
  ao-api/services/marketplaceService/interface.go
  ao-api/services/projectService/import_project.go
  ao-api/stores/databaseStore/add_table.go
  ao-api/stores/databaseStore/database_store.go
  ao-api/stores/databaseStore/is_table_public.go
  ao-api/stores/databaseStore/set_table_access.go
Due: build api, deploy api

add table public endpoints
  ui/src/features/app/routes.tsx
  ui/src/features/database/table-endpoints.tsx
  ui/src/features/database/tables.tsx
  ui/src/features/task/settings.tsx
  ui/src/pages/table.tsx
Due: build ui, deploy ui

Add simple faq
  ui-builder/src/assets/components/faq-basic.png
  ui-builder/src/features/controllers/faq-basic.tsx
  ui-builder/src/features/controllers/index.ts
Due: none

DTX-247 Filter get and delete children's of a pipeline by tp account id (if token type is 'tp')
  ao-api/app/app.go
  ao-api/controllers/crud/delete_pipeline.go
  ao-api/controllers/crud/get_template_children.go
Due: build api, deploy api

DTX-266-1
  ui-builder/src/assets/components/customer-grid.png
  ui-builder/src/assets/components/feature-center-grid.png
  ui-builder/src/assets/components/logo-bag-small.jpg
  ui-builder/src/assets/components/logo-bird-small.jpg
  ui-builder/src/assets/components/logo-c-small.jpg
  ui-builder/src/assets/components/logo-camera-small.jpg
  ui-builder/src/assets/components/logo-cart-small.jpg
  ui-builder/src/assets/components/logo-gift-small.jpg
  ui-builder/src/features/controllers/customers-grid.tsx
  ui-builder/src/features/controllers/faq-basic.tsx
  ui-builder/src/features/controllers/gallery-basic.tsx
  ui-builder/src/features/controllers/helpers.tsx
  ui-builder/src/features/controllers/index.ts
Due: none

DTX-197 Boolean and array conditions should be supported when filtering table rows
  ao-api/stores/databaseStore/select_rows.go
Due: build api, deploy api

DTX-267 Add endpoints of get and set global states of ui pages
  ao-api/app/app.go
  ao-api/controllers/uibuilder/get_global_states.go
  ao-api/controllers/uibuilder/upsert_global_states.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/global_state.go
  ao-api/services/uibuilderService/get_global_states.go
  ao-api/services/uibuilderService/interface.go
  ao-api/services/uibuilderService/upsert_global_states.go
  ao-api/stores/uibuilderStore/get_global_states.go
  ao-api/stores/uibuilderStore/uibuilder_store.go
  ao-api/stores/uibuilderStore/upsert_global_states.go
Due: build api, deploy api

DTX-265 Fix bug of processing variables with/without double quotes in execute task inside 'custom task'
  ao-api/miniTasks/convert_execute_task.go
  ao-api/services/crudService/pipeline_services.go
  predefinedImages/tasks/stripe-find-customer/main.go
Due: build api, deploy api

Add team
  ui-builder/src/assets/components/profile1.jpg
  ui-builder/src/assets/components/profile2.jpg
  ui-builder/src/assets/components/profile3.jpg
  ui-builder/src/assets/components/profile4.jpg
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/team-center-grid.tsx
Due: none

Fix custom task
  ui/src/features/automation/use-save.ts
  ui/src/features/task/settings.tsx
  ui/src/features/task/use-settings.ts
  ui/src/features/ui/json-editor-input.tsx
Due: build ui, deploy ui

DTX-237 Get database records should return the totalRows field too
  ao-api/stores/databaseStore/select_rows.go
Due: build api, deploy api

DTX-237-1 Fix bug of 'Access-Control-Allow-Headers'
  ao-api/pkg/middlewares/cors.go
Due: build api, deploy api

DTX-263 Show correct format when getting a interaction runtime field from user
  ao-api/services/crudService/interaction.go
  ao-api/services/crudService/pipeline_services.go
Due: build api, deploy api

Complete states
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/controllers/card-list.tsx
  ui-builder/src/features/controllers/list.tsx
  ui-builder/src/features/data-bindings/data-editor.tsx
  ui-builder/src/features/data-bindings/data-source-form.tsx
  ui-builder/src/features/data-bindings/use-get-states.tsx
  ui-builder/src/features/elements/action.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/elements/event.ts
  ui-builder/src/features/elements/extensions/form.tsx
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/style/animation-editor.tsx
  ui-builder/src/features/ui/intelinput.tsx
  ui-builder/src/utils/deserialize.ts
Due: none

small fix json input
  ui/src/features/ui/json-editor-input.tsx
Due: build ui, deploy ui

DTX-277 Change implementation of trigger checking time frequency to support multiple intervals
  ao-api/.env
  ao-api/.env.mohsen
  ao-api/.env.production
  ao-api/app/app.go
  ao-api/config/config.go
  ao-api/controllers/internalController/controller.go
  ao-api/services/crudService/activation.go
  ao-api/services/crudService/inteface.go
  ao-api/services/triggersService/service.go
  ao-api/services/triggersService/start_checking.go
  ao-api/stores/redisStore/store.go
  ao-api/stores/triggerStore/get_all_triggers_for_pipeline_by_endpoint.go
Due: build api, deploy api

Implement state modes
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/controllers/customers-grid.tsx
  ui-builder/src/features/controllers/faq-basic.tsx
  ui-builder/src/features/controllers/gallery-basic.tsx
  ui-builder/src/features/controllers/helpers.tsx
  ui-builder/src/features/controllers/team-center-grid.tsx
  ui-builder/src/features/data-bindings/data-editor.tsx
  ui-builder/src/features/data-bindings/use-get-states.tsx
  ui-builder/src/features/elements/action.tsx
  ui-builder/src/features/elements/event.ts
  ui-builder/src/features/elements/extensions/image.tsx
  ui-builder/src/features/elements/extensions/slider.tsx
  ui-builder/src/features/elements/extensions/text.tsx
  ui-builder/src/features/elements/fa-import.ts
  ui-builder/src/features/ui/intelinput.tsx
  ui-builder/src/utils/deserialize.ts
Due: none

changes
  ui/src/api/index.ts
  ui/src/api/types.ts
  ui/src/constants/index.ts
  ui/src/features/database/query-builder.tsx
  ui/src/features/database/table-endpoints.tsx
  ui/src/features/interaction/run-form.tsx
  ui/src/features/task/settings.tsx
  ui/src/features/ui/creatable-select.tsx
  ui/src/features/ui/table.tsx
  ui/src/pages/table.tsx
  ui/src/pages/user-management.tsx
Due: build ui, deploy ui

Dtx 272
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/function_store.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_event.go
  ao-api/controllers/uibuilder/publishutils/types.go
Due: build api, deploy api

fix mode for global and URL states (now it sets them as `page`)
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/advanced/renderer.tsx
  ui-builder/src/features/data-bindings/data-editor.tsx
  ui-builder/src/features/data-bindings/data-source-form.tsx
  ui-builder/src/features/data-bindings/data-source-store.ts
  ui-builder/src/features/data-bindings/use-get-states.tsx
  ui-builder/src/features/elements/action.tsx
  ui-builder/src/features/elements/actions/action.tsx
  ui-builder/src/features/elements/actions/decrement-state.tsx
  ui-builder/src/features/elements/actions/increment-state.tsx
  ui-builder/src/features/elements/actions/index.ts
  ui-builder/src/features/elements/actions/navigate.tsx
  ui-builder/src/features/elements/actions/push-state.tsx
  ui-builder/src/features/elements/actions/remove-item.tsx
  ui-builder/src/features/elements/actions/set-state.tsx
  ui-builder/src/features/elements/actions/toggle-state.tsx
  ui-builder/src/features/elements/event.ts
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/add-page-form.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/style/animation-editor.tsx
  ui-builder/src/features/ui/intelinput.tsx
  ui-builder/src/utils/deserialize.ts
Due: none

DTX-279 Add an internal endpoint to update trigger frequency lists when user changes plan
  ao-api/app/app.go
  ao-api/controllers/internalController/process_updating_plan.go
  ao-api/pkg/utils/plan.go
  ao-api/services/crudService/activation.go
  ao-api/services/internalService/interface.go
  ao-api/services/internalService/process_updating_plan.go
Due: build api, deploy api

Dtx 280 - render charts
  ao-api/controllers/uibuilder/publishutils/convert_chart_area.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bubble.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_doughnut.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_line.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_pie.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_polararea.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_radar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_scatter.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/function_store.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_charts.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_effects.go
Due: build api, deploy api

Render Authorized data-sources
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_data_sources.go
Due: build api, deploy api

Dtx 250 1
  docker-compose.yaml
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/assets/components/about-left.png
  ui-builder/src/assets/components/about-right.png
  ui-builder/src/assets/components/footer-grid.png
  ui-builder/src/assets/components/hero-cta-left.png
  ui-builder/src/assets/components/hero-cta-right.png
  ui-builder/src/assets/components/hero-full-width.png
  ui-builder/src/assets/components/team-center-grid.png
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/about-right.tsx
  ui-builder/src/features/controllers/footer-grid.tsx
  ui-builder/src/features/controllers/helpers.tsx
  ui-builder/src/features/controllers/hero-cta-left.tsx
  ui-builder/src/features/controllers/hero-cta-right.tsx
  ui-builder/src/features/controllers/hero-full-width.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/team-center-grid.tsx
  ui-builder/src/features/controllers/vertical-sortable.tsx
  ui/.env.development
Due: build ui, deploy ui

changes 2
  ui/src/features/interaction/run-form.tsx
  ui/src/features/ui/field.tsx
  ui/src/features/ui/input-or-select.tsx
  ui/src/features/ui/json-editor-input.tsx
Due: build ui, deploy ui

fix bug
  ui/src/features/ui/field.tsx
Due: build ui, deploy ui

Dtx 283 - Add simple pricing
  ui-builder/src/assets/components/pricing-simple.png
  ui-builder/src/features/controllers/helpers.tsx
  ui-builder/src/features/controllers/helpers/tabs-options.tsx
  ui-builder/src/features/controllers/helpers/vertical-options.tsx
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/controllers/pricing-simple.tsx
Due: none

fix issue
  ui/src/features/interaction/run-form.tsx
  ui/src/features/ui/json-editor-input.tsx
Due: build ui, deploy ui

Private flag
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/about-right.tsx
  ui-builder/src/features/controllers/helpers.tsx
  ui-builder/src/features/controllers/helpers/tabs-options.tsx
  ui-builder/src/features/controllers/hero-cta-left.tsx
  ui-builder/src/features/controllers/hero-cta-right.tsx
  ui-builder/src/features/controllers/hero-full-width.tsx
  ui-builder/src/features/controllers/pricing-simple.tsx
  ui-builder/src/features/controllers/team-center-grid.tsx
  ui-builder/src/features/controllers/vertical-sortable.tsx
  ui-builder/src/features/data-bindings/data-source-form.tsx
  ui-builder/src/features/data-bindings/data-source-store.ts
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/simple/element-select.tsx
  ui-builder/src/utils/deserialize.ts
Due: none

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
