Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, build ui-ecommerce, build ui builder, deploy api, deploy scheduler, deploy runner, deploy ui, deploy ui-ecommerce, deploy ui builder

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
    folder: ui
    build_dest: dist
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

build ui-ecommerce:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    folder: ui-builder
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

build ui builder:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
    folder: ui-builder
    build_dest: dist
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

Fix bug of get number of form submission
  ao-api/stores/uiFormStore/get_number_of_form_submission.go
Due: build api, deploy api

implement select element
  ui-builder/src/features/components/form.tsx
  ui-builder/src/features/components/helpers/dnd-tabs.tsx
  ui-builder/src/features/components/helpers/draggable-tabs.tsx
  ui-builder/src/features/elements/extensions/select.tsx
  ui-builder/src/features/simple/simple-renderer.tsx
Due: build ui builder, deploy ui builder

Add about-right-2 and about-left-2
  ui-builder/src/assets/components/about-left-2.png
  ui-builder/src/assets/components/about-left.png
  ui-builder/src/assets/components/about-right-2.png
  ui-builder/src/assets/components/about-right.png
  ui-builder/src/features/components/about-left-2.tsx
  ui-builder/src/features/components/about-right-2.tsx
  ui-builder/src/features/components/about-right.tsx
  ui-builder/src/features/components/feature-center-grid.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/simple/stylers/icon-picker.tsx
Due: build ui builder, deploy ui builder

DTX-714, DTX-715 Add an endpoint to return all page names and number of form submission for each of them (#292)
  ao-api/app/app.go
  ao-api/controllers/uibuilder/get_page.go
  ao-api/controllers/uibuilder/list_pages_with_more_details.go
  ao-api/pkg/utils/utils.go
  ao-api/services/uiFormService/get_number_of_form_submission.go
  ao-api/services/uiFormService/interface.go
  ao-api/stores/uiFormStore/get_number_of_form_submission.go
  ao-api/stores/uiFormStore/store.go
  ao-api/stores/uibuilderStore/get_page.go
Due: build api, deploy api

Better error handling
  ao-api/controllers/uibuilder/get_page_urls.go
Due: build api, deploy api

Add about-long-details-left and about-long-details-right
  ui-builder/src/assets/components/about-long-details-left.png
  ui-builder/src/assets/components/about-long-details-right.png
  ui-builder/src/features/components/about-long-details-left.tsx
  ui-builder/src/features/components/about-long-details-right.tsx
  ui-builder/src/features/components/about-right-2.tsx
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder

Change components image object fit to contain
  ui-builder/src/features/simple/left-sidebar.tsx
Due: build ui builder, deploy ui builder

Remove landing page UI builder page switcher and improve loading
  ui-builder/src/api/types.ts
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/simple/simple.tsx
  ui-builder/src/pages/builder.tsx
  ui-builder/src/pages/ecommerce-builder.tsx
Due: build ui builder, deploy ui builder

Add form name field to simple forms
  ui-builder/src/features/components/form.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/scripts/form.js
Due: build ui builder, deploy ui builder

Add two endpoint to get list of forms (with form name) and responses of each form
  ao-api/app/app.go
  ao-api/controllers/uiForm/add_new_response.go
  ao-api/controllers/uiForm/get_form_response_list_by_id.go
  ao-api/controllers/uiForm/get_forms_list.go
  ao-api/controllers/uiForm/get_ui_page_response_list.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/ui_form_model.go
  ao-api/services/uiFormService/get_form_response_list_by_id.go
  ao-api/services/uiFormService/get_forms_list.go
  ao-api/services/uiFormService/get_ui_page_response_list.go
  ao-api/services/uiFormService/interface.go
  ao-api/stores/uiFormStore/add_new_response.go
  ao-api/stores/uiFormStore/get_form_response_list_by_id.go
  ao-api/stores/uiFormStore/get_forms_list.go
  ao-api/stores/uiFormStore/store.go
Due: build api, deploy api

Add feature-cards-image
  ui-builder/src/assets/components/feature-cards-image.png
  ui-builder/src/features/components/feature-cards-image.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/simple/stylers/box-styler.tsx
  ui-builder/src/features/style/simple-mode-shadows-editor.tsx
Due: build ui builder, deploy ui builder

Add two endpoint to get list of forms (with form name) and responses of each form (#293)
  ao-api/app/app.go
  ao-api/controllers/uiForm/add_new_response.go
  ao-api/controllers/uiForm/get_form_response_list_by_id.go
  ao-api/controllers/uiForm/get_forms_list.go
  ao-api/controllers/uiForm/get_ui_page_response_list.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/ui_form_model.go
  ao-api/services/uiFormService/get_form_response_list_by_id.go
  ao-api/services/uiFormService/get_forms_list.go
  ao-api/services/uiFormService/get_ui_page_response_list.go
  ao-api/services/uiFormService/interface.go
  ao-api/stores/uiFormStore/add_new_response.go
  ao-api/stores/uiFormStore/get_form_response_list_by_id.go
  ao-api/stores/uiFormStore/get_forms_list.go
  ao-api/stores/uiFormStore/store.go
Due: build api, deploy api

add rich text editor to text styler
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/components/basic-text.tsx
  ui-builder/src/features/simple/stylers/text-styler.tsx
  ui-builder/src/features/ui/text-editor.tsx
Due: build ui builder, deploy ui builder

fix issues
  ui-builder/src/features/elements/extensions/text.tsx
  ui-builder/src/features/simple/stylers/text-styler.tsx
Due: build ui builder, deploy ui builder

Render raw text (support rich text)
  ao-api/controllers/uibuilder/publishutils/convert_text.go
Due: build api, deploy api

fix text editor issue
  ui-builder/src/features/simple/stylers/text-styler.tsx
Due: build ui builder, deploy ui builder

Dtx 732 - Add team-square-grid
  ui-builder/src/assets/components/team-square-grid.png
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/components/team-center-grid.tsx
  ui-builder/src/features/components/team-square-grid.tsx
  ui-builder/src/features/simple/font-sizes.tsx
  ui-builder/src/features/simple/stylers/box-styler.tsx
Due: build ui builder, deploy ui builder

add team-individual-member
  ui-builder/src/assets/components/team-individual-member.png
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/components/team-individual-member.tsx
  ui-builder/src/features/components/team-square-grid.tsx
Due: build ui builder, deploy ui builder

Add about-left-3 and about-right-3
  ui-builder/src/assets/components/about-left-3.png
  ui-builder/src/assets/components/about-right-3.png
  ui-builder/src/features/components/about-left-2.tsx
  ui-builder/src/features/components/about-left-3.tsx
  ui-builder/src/features/components/about-right-2.tsx
  ui-builder/src/features/components/about-right-3.tsx
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: build ui builder, deploy ui builder

update packages
  ui-form/package.json
  ui-form/pnpm-lock.yaml
Due: none

update packages
  ui-ecommerce/package.json
  ui-ecommerce/pnpm-lock.yaml
Due: build ui-ecommerce, deploy ui-ecommerce

add alignment to basic text wrapper
  ui-builder/src/features/components/basic-text.tsx
Due: build ui builder, deploy ui builder

change form design
  ui-form/src/api/index.ts
  ui-form/src/api/types.ts
  ui-form/src/pages/forms.tsx
  ui-form/src/pages/home.tsx
Due: none

:bug: Fix the tag of data.raw property
  ao-api/controllers/uibuilder/publishutils/convert_text.go
Due: build api, deploy api

fix products issues
  ui-builder/src/features/ecommerce/components/bought-products.tsx
  ui-builder/src/features/elements/extensions/columns.tsx
  ui-builder/src/features/scripts/bought-products.js
Due: build ui builder, deploy ui builder

change integration body
  ui-ecommerce/src/api/types.ts
  ui-ecommerce/src/features/hooks/use-create-form.ts
Due: build ui-ecommerce, deploy ui-ecommerce

Add customers-stat-logo
  ui-builder/src/assets/components/customers-stat-logo.png
  ui-builder/src/features/components/customers-stat-logo.tsx
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder

Add hero-with-rating-two-cta and hero-with-rating-two-cta-2
  ui-builder/src/assets/components/hero-with-rating-two-cta-2.png
  ui-builder/src/assets/components/hero-with-rating-two-cta.png
  ui-builder/src/features/components/hero-cta-left.tsx
  ui-builder/src/features/components/hero-cta-right.tsx
  ui-builder/src/features/components/hero-with-rating-two-cta-2.tsx
  ui-builder/src/features/components/hero-with-rating-two-cta.tsx
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder

Add feature-grid-image-tag
  ui-builder/src/assets/components/feature-grid-image-tag.png
  ui-builder/src/features/components/feature-grid-image-tag.tsx
  ui-builder/src/features/components/hero-with-rating-two-cta-2.tsx
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder

Add feature-details-grid-image-tag-left and feature-details-grid-image-tag-right
  ui-builder/src/assets/components/feature-details-grid-image-tag-left.png
  ui-builder/src/assets/components/feature-details-grid-image-tag-right.png
  ui-builder/src/features/components/feature-details-grid-image-tag-left.tsx
  ui-builder/src/features/components/feature-details-grid-image-tag-right.tsx
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder

Add feature-details-grid-image-tag-left-2 and feature-details-grid-image-tag-right-2
  ui-builder/src/assets/components/feature-details-grid-image-tag-left-2.png
  ui-builder/src/assets/components/feature-details-grid-image-tag-right-2.png
  ui-builder/src/features/components/feature-details-grid-image-tag-left-2.tsx
  ui-builder/src/features/components/feature-details-grid-image-tag-right-2.tsx
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder

Add about-framed-image
  ui-builder/src/assets/components/about-framed-image.png
  ui-builder/src/features/components/about-framed-image.tsx
  ui-builder/src/features/components/feature-grid-images.tsx
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder

Add about-right-4 and about-left-4
  ui-builder/src/assets/components/about-left-4.png
  ui-builder/src/assets/components/about-right-4.png
  ui-builder/src/features/components/about-left-4.tsx
  ui-builder/src/features/components/about-right-4.tsx
  ui-builder/src/features/components/index.tsx
Due: build ui builder, deploy ui builder

Add about-video-stats-right and about-video-stats-left
  ui-builder/src/assets/components/about-video-stats-left.png
  ui-builder/src/assets/components/about-video-stats-right.png
  ui-builder/src/features/components/about-video-stats-left.tsx
  ui-builder/src/features/components/about-video-stats-right.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/elements/constructor.ts
  ui-builder/src/features/elements/extensions/video.tsx
Due: build ui builder, deploy ui builder

send page name to duplicate page request
  ui-builder/src/features/page/actions.tsx
Due: build ui builder, deploy ui builder

hide duplicate page for landing page projects
  ui-builder/src/features/page/actions.tsx
Due: build ui builder, deploy ui builder

render input types
  ui-builder/src/features/simple/simple-renderer.tsx
Due: build ui builder, deploy ui builder

implement faq collapsible
  ui-builder/src/assets/components/faq-collapsible.png
  ui-builder/src/features/components/faq-collapsible.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/scripts/faq-collapsible.js
Due: build ui builder, deploy ui builder

add loaders
  ui-builder/src/features/components/form-email-input-1.tsx
  ui-builder/src/features/components/form.tsx
  ui-builder/src/features/page/use-update.ts
  ui-builder/src/features/scripts/cart.js
  ui-builder/src/features/scripts/form.js
  ui-builder/src/features/scripts/product.js
  ui-builder/src/features/scripts/products.js
  ui-builder/src/features/scripts/sign-in.js
  ui-builder/src/features/scripts/sign-up.js
Due: build ui builder, deploy ui builder

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  build ui-ecommerce: any of: ui-ecommerce/**/*
  build ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
  deploy api: any of: ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
  deploy ui-ecommerce: any of: ui-ecommerce/**/*
  deploy ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
