Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*

add children to box function
  ui-builder/src/features/elements/constructor.ts
Due: none

override button unstyled method
  ui-builder/src/features/elements/extensions/button.tsx
Due: none

implement hero section
  ui-builder/src/features/ecommerce/sofa/theme.ts
Due: none

Update .env.production file and add some env variables
  ao-api/.env
  ao-api/.env.mohsen
  ao-api/.env.production
Due: build api, deploy api

Just for trigger Gitlab runner
  ao-api/app/app.go
Due: build api, deploy api

Fix gitlab-ci file
  .gitlab-ci.yml
Due: deploy api

Update default project type to 'freestyle'
  ao-api/controllers/project/add_project_action.go
  ao-api/db/migrate/postgresql/migration.go
Due: build api, deploy api

add features text style
  ui-builder/src/features/ecommerce/sofa/theme.ts
Due: none

add features style
  ui-builder/src/features/ecommerce/sofa/theme.ts
Due: none

add info styles
  ui-builder/src/features/ecommerce/sofa/theme.ts
Due: none

add cta styles
  ui-builder/src/features/ecommerce/sofa/theme.ts
Due: none

add responsive styles
  ui-builder/src/features/ecommerce/sofa/theme.ts
Due: none

add images
  ui-builder/src/assets/themes/sofa/hero.png
  ui-builder/src/assets/themes/sofa/info-1.png
  ui-builder/src/assets/themes/sofa/info-2.png
  ui-builder/src/features/ecommerce/sofa/theme.ts
  ui-builder/src/features/elements/constructor.ts
Due: none

add logos
  ui-builder/src/assets/themes/sofa/logo-1.png
  ui-builder/src/assets/themes/sofa/logo-2.png
  ui-builder/src/assets/themes/sofa/logo-3.png
  ui-builder/src/assets/themes/sofa/logo-4.png
  ui-builder/src/assets/themes/sofa/logo-5.png
  ui-builder/src/features/ecommerce/sofa/theme.ts
  ui-builder/src/features/elements/constructor.ts
Due: none

DTX-510 Add type to projects and implement e-commerce project type and its dependencies (#242)
  ao-api/controllers/project/add_project_action.go
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/project_model.go
  ao-api/services/projectService/add_project.go
  ao-api/stores/projectStore/add_project.go
  ao-api/stores/projectStore/get_project.go
  ao-api/stores/projectStore/get_project_by_tag.go
  ao-api/stores/projectStore/list_db_projects.go
  ao-api/stores/projectStore/list_projects.go
  predefinedImages/tasks/stripe-create-product/Dockerfile
  predefinedImages/tasks/stripe-create-product/go.mod
  predefinedImages/tasks/stripe-create-product/go.sum
  predefinedImages/tasks/stripe-create-product/main.go
  predefinedImages/tasks/stripe-update-product/Dockerfile
  predefinedImages/tasks/stripe-update-product/go.mod
  predefinedImages/tasks/stripe-update-product/go.sum
  predefinedImages/tasks/stripe-update-product/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  tasks/stripe/stripe_create_customer.yml
  tasks/stripe/stripe_create_payment_link.yml
  tasks/stripe/stripe_create_product.yml
  tasks/stripe/stripe_find_customer.yml
  tasks/stripe/stripe_update_customer.yml
  tasks/stripe/stripe_update_product.yml
Due: build api, build runner, deploy api, deploy runner

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: none

fix workflows routes
  ui/src/features/app/routes.tsx
  ui/src/features/automation/list.tsx
  ui/src/features/automation/use-new.ts
  ui/src/features/user-groups/form.tsx
  ui/src/pages/history.tsx
Due: build ui, deploy ui

improve style
  ui-builder/src/features/ecommerce/sofa/theme.ts
Due: none

chunk theme
  ui-builder/src/features/ecommerce/index.ts
  ui-builder/src/features/ecommerce/sofa/controller.tsx
  ui-builder/src/features/ecommerce/sofa/theme.ts
Due: none

improve styles for split components
  ui-builder/src/features/ecommerce/sofa/controller.tsx
  ui-builder/src/features/ecommerce/sofa/theme.ts
Due: none

improve overlay
  ui-builder/src/features/advanced/overlay.tsx
Due: none

fix controllers
  ui-builder/src/features/ecommerce/sofa/controller.tsx
Due: none

Add theme to projects and fix database template
  ao-api/controllers/project/add_project_action.go
  ao-api/db/base_db.sql
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/project_model.go
  ao-api/stores/projectStore/add_project.go
  ao-api/stores/projectStore/get_project.go
  ao-api/stores/projectStore/get_project_by_tag.go
  ao-api/stores/projectStore/list_db_projects.go
  ao-api/stores/projectStore/list_projects.go
Due: build api, deploy api

implement button styler
  ui-builder/src/features/simple/stylers/button-styler.tsx
Due: none

implement controller wrapper
  ui-builder/src/features/controllers/helpers/controller-wrapper.tsx
Due: none

add options to theme
  ui-builder/src/features/ecommerce/sofa/controller.tsx
  ui-builder/src/features/ecommerce/sofa/theme.ts
Due: none

add images
  ui-builder/src/assets/themes/sofa/preview/cta.png
  ui-builder/src/assets/themes/sofa/preview/features-text.png
  ui-builder/src/assets/themes/sofa/preview/features.png
  ui-builder/src/assets/themes/sofa/preview/hero.png
  ui-builder/src/assets/themes/sofa/preview/info.png
  ui-builder/src/assets/themes/sofa/preview/logos.png
  ui-builder/src/assets/themes/sofa/preview/navbar.png
  ui-builder/src/features/ecommerce/sofa/controller.tsx
Due: none

Add theme to projects and fix database template (#244)
  ao-api/controllers/project/add_project_action.go
  ao-api/db/base_db.sql
  ao-api/db/migrate/postgresql/migration.go
  ao-api/models/project_model.go
  ao-api/stores/projectStore/add_project.go
  ao-api/stores/projectStore/get_project.go
  ao-api/stores/projectStore/get_project_by_tag.go
  ao-api/stores/projectStore/list_db_projects.go
  ao-api/stores/projectStore/list_projects.go
Due: build api, deploy api

make sidebar a drawer for ecommerce
  ui-builder/src/features/simple/left-sidebar.tsx
  ui-builder/src/pages/ecommerce-builder.tsx
Due: none

update packages
  ui/package.json
  ui/pnpm-lock.yaml
Due: build ui, deploy ui

fix small bugs
  ui/src/features/app/routes.tsx
  ui/src/features/task/use-task-status.ts
  ui/src/pages/execution.tsx
Due: build ui, deploy ui

add previous components to ecommerce
  ui-builder/src/features/ecommerce/index.ts
Due: none
