Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
  script:
  - cd ui
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./build
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy ui:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    CORE_USERNAME: ${DEV_CORE_USERNAME}
    CORE_PASSWORD: ${DEV_CORE_PASSWORD}
    AWS_ACCESS_KEY_ID: ${DEV_AWS_ACCESS_KEY_ID}
    AWS_SECRET_ACCESS_KEY: ${DEV_AWS_SECRET_ACCESS_KEY}
    BUCKET: app.dotenx.com
    environment: prod
  ...

files-change-access
  ui/src/api/index.ts
  ui/src/features/hooks/use-modal.ts
  ui/src/internal/upload-file-form.tsx
  ui/src/pages/files.tsx
Due: build ui, deploy ui

Render classes
  .gitlab-ci.yml
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_form.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_input.go
  ao-api/controllers/uibuilder/publishutils/convert_select.go
  ao-api/controllers/uibuilder/publishutils/convert_submit_button.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convert_text_area.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/style_store.go
Due: build api, deploy api

Custom component
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/component-selector.tsx
  ui-builder/src/features/draggable.tsx
  ui-builder/src/features/droppable.tsx
Due: none

Just for trigger Gitlab pipeline
  ui/README.md
Due: build ui, deploy ui

fix domain bug
  ui/src/pages/domains.tsx
Due: build ui, deploy ui

Fix the Run interaction endpoint
  ui/src/features/automation/list.tsx
Due: build ui, deploy ui

files: change access
  ui/src/internal/upload-file-form.tsx
  ui/src/pages/files.tsx
Due: build ui, deploy ui

DTX-144 User group should be set when user use own providers for user management
  ao-api/controllers/userManagement/oauth_login.go
Due: build api, deploy api

DTX-128 Delete old Lambda functions (for tasks) when user update or delete an automation
  ao-api/.env
  ao-api/services/crudService/pipeline_services.go
  ao-api/stores/pipelineStore/pipeline_store_get.go
  docker-compose.yaml
Due: build api, deploy api

:bug: Fix the import project
  ao-api/controllers/project/add_project_action.go
  ao-api/services/marketplaceService/get_item_project.go
  ao-api/services/projectService/import_project.go
Due: build api, deploy api

DTX-128-1 Fix bug of delete Lambda function twice
  ao-api/services/crudService/pipeline_services.go
Due: build api, deploy api

Design system marketplace
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/component-selector.tsx
  ui-builder/src/features/droppable.tsx
  ui-builder/src/pages/home.tsx
Due: none

Fix regen component parent id
  ui-builder/src/features/droppable.tsx
Due: none

DTX-35 Add an endpoint to delete third-party user by DoTenX user and owner of tp account
  ao-api/app/app.go
  ao-api/controllers/userManagement/delete_user.go
  ao-api/controllers/userManagement/register.go
Due: build api, deploy api

add side bar tour
  ui/package-lock.json
  ui/package.json
  ui/src/features/atoms/index.ts
  ui/src/features/ui/nav-item.tsx
  ui/src/features/ui/sidebar.tsx
  ui/src/features/ui/tour.tsx
  ui/src/pages/user-management.tsx
Due: build ui, deploy ui

fix typo
  ui/src/features/ui/tour.tsx
Due: build ui, deploy ui

last fix
  ui/src/features/ui/tour.tsx
Due: build ui, deploy ui

Implement animations
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/canvas-store.ts
  ui-builder/src/features/canvas.tsx
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/data-editor.tsx
  ui-builder/src/features/styles-editor.tsx
  ui-builder/src/utils/animation.ts
Due: none

Fix mini task empty input error
  ui/src/features/task/use-settings.ts
  ui/src/features/ui/json-editor.tsx
Due: build ui, deploy ui

change upload modal style and loading handler
  ui/src/features/ui/table.tsx
  ui/src/internal/upload-file-form.tsx
  ui/src/pages/files.tsx
Due: build ui, deploy ui

DTX-149 Fix bug of accessing DoTenX users to all projects by its tag
  ao-api/app/app.go
  ao-api/pkg/middlewares/project_owner_middleware.go
Due: build api, deploy api

DTX-151 Add reset password feature for third party users
  ao-api/.env
  ao-api/.env.mohsen
  ao-api/.env.production
  ao-api/app/app.go
  ao-api/config/config.go
  ao-api/controllers/userManagement/reset_password.go
  ao-api/controllers/userManagement/send_forget_password_mail.go
  ao-api/models/security_code.go
  ao-api/pkg/utils/utils.go
  ao-api/services/projectService/add_project.go
  ao-api/services/userManagementService/security_code_service.go
  ao-api/services/userManagementService/service.go
  ao-api/stores/userManagementStore/create_security_code_table.go
  ao-api/stores/userManagementStore/disable_security_code.go
  ao-api/stores/userManagementStore/get_security_code_info.go
  ao-api/stores/userManagementStore/set_security_code_info.go
  ao-api/stores/userManagementStore/store.go
Due: build api, deploy api

Render animations and classes
  ao-api/.env.production
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_event.go
  ao-api/controllers/uibuilder/publishutils/style_store.go
  ao-api/controllers/uibuilder/publishutils/types.go
Due: build api, deploy api

Get the hasDatabase property of project from the request
  ao-api/controllers/project/add_project_action.go
Due: build api, deploy api

Improve dnd and fix bugs
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/component-renderer.tsx
  ui-builder/src/features/default-values.ts
  ui-builder/src/features/draggable.tsx
  ui-builder/src/features/droppable.tsx
  ui-builder/src/features/settings.tsx
  ui-builder/src/features/styles-editor.tsx
Due: none

get interaction detailes updated
  ao-api/services/crudService/interaction.go
Due: build api, deploy api

Add the upload endpoint to marketplace controller
  ao-api/.env
  ao-api/.env.mohsen
  ao-api/.env.production
  ao-api/app/app.go
  ao-api/config/config.go
  ao-api/controllers/marketplace/upload_handler.go
  ao-api/pkg/utils/s3_helper.go
Due: build api, deploy api

Unit input
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/data-source-form.tsx
  ui-builder/src/features/settings.tsx
  ui-builder/src/features/styles-editor.tsx
Due: none

add mobile screen handler
  ui/src/features/app/routes.tsx
  ui/src/features/ui/table.tsx
  ui/src/pages/user-groups.tsx
Due: build ui, deploy ui

dotenx user now can start interaction without userGroup filter
  ao-api/services/executionService/start_pipeline_by_name.go
Due: build api, deploy api

typo resolved
  ao-api/stores/projectStore/delete_project_domain.go
Due: build api, deploy api

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
