Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*

Fix running duplicate query and read limitation from env file
  ao-api/.env
  ao-api/config/config.go
  ao-api/stores/databaseStore/run_database_query.go
Due: build api, deploy api

fix build bug
  ui/src/features/database/custom-query.tsx
Due: build ui, deploy ui

dtx-481: simple mode styling and refactor (#212)
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/feature-center-cards.tsx
  ui-builder/src/features/controllers/helpers.tsx
  ui-builder/src/features/controllers/helpers/dnd-tabs.tsx
  ui-builder/src/features/controllers/helpers/options-wrapper.tsx
  ui-builder/src/features/controllers/hero-full-width.tsx
  ui-builder/src/features/elements/element.tsx
  ui-builder/src/features/elements/elements-store.ts
  ui-builder/src/features/style/background-editor.tsx
  ui-builder/src/features/style/border-editor.tsx
  ui-builder/src/features/style/size-editor.tsx
  ui-builder/src/features/style/spacing-editor.tsx
  ui-builder/src/features/style/typography-editor.tsx
  ui-builder/src/features/style/use-edit-style.ts
  ui-builder/src/features/ui/box-element-input.tsx
  ui-builder/src/features/ui/icon-element-input.tsx
  ui-builder/src/features/ui/image-drop.tsx
  ui-builder/src/features/ui/image-element-input.tsx
  ui-builder/src/features/ui/input-styler.tsx
  ui-builder/src/features/ui/link-element-input.tsx
  ui-builder/src/features/ui/text-element-input.tsx
  ui-builder/src/utils/deserialize.ts
Due: none

❇️ Render animations (#211)
  ao-api/controllers/uibuilder/publishutils/convert_box.go
  ao-api/controllers/uibuilder/publishutils/convert_button.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_area.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_bubble.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_doughnut.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_line.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_pie.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_polararea.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_radar.go
  ao-api/controllers/uibuilder/publishutils/convert_chart_scatter.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_content.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_collapsed.go
  ao-api/controllers/uibuilder/publishutils/convert_collapsible_header_opened.go
  ao-api/controllers/uibuilder/publishutils/convert_columns.go
  ao-api/controllers/uibuilder/publishutils/convert_extension.go
  ao-api/controllers/uibuilder/publishutils/convert_icon.go
  ao-api/controllers/uibuilder/publishutils/convert_image.go
  ao-api/controllers/uibuilder/publishutils/convert_menue_button.go
  ao-api/controllers/uibuilder/publishutils/convert_nav_menu.go
  ao-api/controllers/uibuilder/publishutils/convert_navbar.go
  ao-api/controllers/uibuilder/publishutils/convert_picture.go
  ao-api/controllers/uibuilder/publishutils/convert_slider.go
  ao-api/controllers/uibuilder/publishutils/convert_text.go
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ao-api/controllers/uibuilder/publishutils/function_store.go
  ao-api/controllers/uibuilder/publishutils/scriptsconvert_event.go
  ao-api/controllers/uibuilder/publishutils/types.go
Due: build api, deploy api

DTX-490: UI builder custom animations (#205)
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/api/api.ts
  ui-builder/src/api/types.ts
  ui-builder/src/features/actions/action.tsx
  ui-builder/src/features/actions/decrement-state.tsx
  ui-builder/src/features/actions/fetch.tsx
  ui-builder/src/features/actions/increment-state.tsx
  ui-builder/src/features/actions/navigate.tsx
  ui-builder/src/features/actions/push-state.tsx
  ui-builder/src/features/actions/remove-item.tsx
  ui-builder/src/features/actions/set-state.tsx
  ui-builder/src/features/actions/toggle-state.tsx
  ui-builder/src/features/advanced/settings.tsx
  ui-builder/src/features/animations/editor.tsx
  ui-builder/src/features/animations/options.ts
  ui-builder/src/features/animations/presets.ts
  ui-builder/src/features/animations/schema.ts
  ui-builder/src/features/atoms/index.ts
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/add-page-form.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/style/animation-editor.tsx
  ui-builder/src/features/style/font-form.tsx
  ui-builder/src/utils/deserialize.ts
  ui-builder/src/utils/serialize.ts
Due: none

DTX-494 Add some limitations to user's custom queries (database) (#210)
  ao-api/.env
  ao-api/config/config.go
  ao-api/stores/databaseStore/run_database_query.go
Due: build api, deploy api

remove editor options
  ui/src/features/database/custom-query.tsx
Due: build ui, deploy ui

git integration: Improve UI
  ui/src/features/app/routes.tsx
  ui/src/features/database/custom-query.tsx
  ui/src/pages/git/github.tsx
Due: build ui, deploy ui

git integration: Improve UI (#216)
  ui/src/features/app/routes.tsx
  ui/src/features/database/custom-query.tsx
  ui/src/pages/git/github.tsx
Due: build ui, deploy ui

Add some limitations to user's custom queries (database)
  ao-api/.env.mohsen
  ao-api/.env.production
Due: build api, deploy api

Fix env production file
  ao-api/.env.production
Due: build api, deploy api

update packages
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
Due: none

refactor customers grid
  ui-builder/src/features/controllers/customers-grid.tsx
Due: none

implement columns element input
  ui-builder/src/features/ui/columns-element-input.tsx
Due: none

reformat
  ui-builder/src/features/controllers/comparison-table-simple.tsx
Due: none

refactor about right
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/about-right.tsx
Due: none

refactor comparison table simple
  ui-builder/src/features/controllers/comparison-table-simple.tsx
Due: none

refactor customers logo
  ui-builder/src/features/controllers/customers-logo-grid.tsx
  ui-builder/src/features/controllers/helpers/draggable-tabs.tsx
Due: none

fix minor issues
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/about-right.tsx
  ui-builder/src/features/controllers/helpers/dnd-tabs.tsx
Due: none

change run custom query UI
  ui/src/api/types.ts
  ui/src/features/database/column-form.tsx
  ui/src/features/database/custom-query.tsx
  ui/src/features/ui/table.tsx
  ui/src/pages/git/github.tsx
Due: build ui, deploy ui

dtx-480-1: refactor simple components (#217)
  ui-builder/package.json
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/about-right.tsx
  ui-builder/src/features/controllers/comparison-table-simple.tsx
  ui-builder/src/features/controllers/customers-grid.tsx
  ui-builder/src/features/controllers/customers-logo-grid.tsx
  ui-builder/src/features/controllers/helpers/dnd-tabs.tsx
  ui-builder/src/features/controllers/helpers/draggable-tabs.tsx
  ui-builder/src/features/ui/columns-element-input.tsx
Due: none

refactor faq basics component
  ui-builder/src/features/controllers/faq-basic.tsx
  ui-builder/src/features/ui/columns-element-input.tsx
Due: none

refactor faq basic styled
  ui-builder/src/features/controllers/faq-basic-styled.tsx
Due: none

refactor divider simple title
  ui-builder/src/features/controllers/divider-simple-title.tsx
Due: none

refactor feature center grid (wip)
  ui-builder/src/features/controllers/feature-center-grid.tsx
Due: none

refactor
  ui-builder/src/features/controllers/feature-center-grid.tsx
Due: none

refactor feature center grid
  ui-builder/src/features/controllers/feature-center-grid.tsx
Due: none

refactor feature center cards
  ui-builder/src/features/controllers/feature-center-cards.tsx
Due: none

ao-api/Adding Airtable integration and main tasks, triggers
  ao-api/.env
  ao-api/controllers/integration/controller.go
  ao-api/controllers/oauth/oauth.go
  ao-api/controllers/oauth/oauth_integration_callback.go
  ao-api/controllers/oauth/special_providers.go
  ao-api/oauth/exchange_refresh_token.go
  ao-api/oauth/provider/provider.go
  ao-api/pkg/utils/utils.go
Due: build api, deploy api

refactor feature grid images
  ui-builder/src/features/controllers/feature-center-cards.tsx
  ui-builder/src/features/controllers/feature-grid-images.tsx
Due: none

refactor feature details left
  ui-builder/src/features/controllers/feature-details-left.tsx
Due: none

refactor feature details right
  ui-builder/src/features/controllers/feature-details-right.tsx
Due: none

refactor footer grid
  ui-builder/src/features/controllers/footer-grid.tsx
Due: none

Fix status code condition
  ao-api/controllers/oauth/special_providers.go
Due: build api, deploy api

Add a short demo of ui-builder
  README.md
Due: none

refactor footer grid
  ui-builder/src/features/controllers/footer-grid.tsx
  ui-builder/src/features/controllers/vertical-sortable.tsx
Due: none

refactor footer
  ui-builder/src/features/controllers/footer-grid.tsx
  ui-builder/src/features/ui/link-element-input.tsx
Due: none
