Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, build ui-ecommerce, build ui builder, deploy api, deploy scheduler, deploy runner, deploy ui, deploy ui-ecommerce, deploy ui builder

build api:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build scheduler:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build runner:
  image: utopiops/devops:assume-role-12
  stage: build
  services:
  - docker:stable-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
  ...

build ui:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
    folder: ui
    build_dest: dist
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

build ui-ecommerce:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    folder: ui-builder
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

build ui builder:
  image: node:16.15.1-slim
  stage: build
  services:
  - docker:stable-dind
  variables:
    environment: prod
    folder: ui-builder
    build_dest: dist
  script:
  - cd ${folder}
  - cp .env.${environment} .env.production
  - npm install
  - CI='' npm run build
  - tar -czvf ${environment}_build.tar.gz ./${build_dest}
  ...

deploy api:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy scheduler:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

deploy runner:
  image: utopiops/devops:assume-role-12
  stage: deploy
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    ECR_REGISTRY_URL: ${DEV_ACCOUNT}.dkr.ecr.us-east-1.amazonaws.com
    image_tag_commit_sha: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  ...

Rollback to main branch for publish and preview endpoints
  ao-api/.env
  ao-api/config/config.go
  ao-api/controllers/project/verify_certificate_handler.go
  ao-api/controllers/uibuilder/get_page_urls.go
  ao-api/controllers/uibuilder/preview_page.go
  ao-api/controllers/uibuilder/publish_page.go
  ao-api/services/projectService/delete_project.go
Due: build api, deploy api

Adding some environment variable and other minor improvement
  ao-api/.env
  ao-api/config/config.go
  ao-api/controllers/project/verify_certificate_handler.go
  ao-api/services/databaseService/import_csv_file.go
Due: build api, deploy api

fix docker files
  ui-builder/Dockerfile
  ui-builder/pnpm-lock.yaml
  ui-ecommerce/pnpm-lock.yaml
  ui-form/pnpm-lock.yaml
  ui/Dockerfile
  ui/Dockerfile.dev
  ui/pnpm-lock.yaml
Due: build ui, build ui-ecommerce, build ui builder, deploy ui, deploy ui-ecommerce, deploy ui builder

add docker file for form and ecommerce
  ui-ecommerce/Dockerfile
  ui-form/.dockerignore
  ui-form/Dockerfile
Due: build ui-ecommerce, deploy ui-ecommerce

update docker compose file
  docker-compose.yaml
Due: none

fix typo
  ui-builder/Dockerfile
  ui-ecommerce/Dockerfile
  ui-form/Dockerfile
  ui/Dockerfile
  ui/Dockerfile.dev
Due: build ui, build ui-ecommerce, build ui builder, deploy ui, deploy ui-ecommerce, deploy ui builder

fix ports
  docker-compose.yaml
Due: none

dynamic table (wip)
  ui-builder/pnpm-lock.yaml
  ui-builder/src/features/components/dynamics/details.tsx
  ui-builder/src/features/components/dynamics/table.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/scripts/dynamic/table.js
Due: build ui builder, deploy ui builder

update env files
  ui-builder/.env.production
  ui-ecommerce/.env.production
  ui-form/.env.production
Due: build ui-ecommerce, build ui builder, deploy ui-ecommerce, deploy ui builder

add dynamic table
  ui-builder/src/features/components/create-form.tsx
  ui-builder/src/features/components/dynamics/table.tsx
  ui-builder/src/features/scripts/dynamic/table.js
Due: build ui builder, deploy ui builder

Just for trigger Gitlab runner
  ao-api/app/app.go
Due: build api, deploy api

add advanced mode to settings
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/simple/simple.tsx
Due: build ui builder, deploy ui builder

dynamic table + advanced mode to settings (#309)
  ui-builder/src/features/components/create-form.tsx
  ui-builder/src/features/components/dynamics/details.tsx
  ui-builder/src/features/components/dynamics/table.tsx
  ui-builder/src/features/components/index.tsx
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/scripts/dynamic/table.js
  ui-builder/src/features/simple/simple.tsx
Due: build ui builder, deploy ui builder

Add HubSpot integration and implement 'Create HubSpot contact' task
  ao-api/controllers/oauth/oauth_integration_callback.go
  ao-api/controllers/oauth/special_providers.go
  ao-api/oauth/exchange_refresh_token.go
  ao-api/oauth/provider/provider.go
  ao-api/pkg/utils/utils.go
  integrations/hubspot.yaml
  predefinedImages/tasks/hubspot-create-contact/Dockerfile
  predefinedImages/tasks/hubspot-create-contact/go.mod
  predefinedImages/tasks/hubspot-create-contact/go.sum
  predefinedImages/tasks/hubspot-create-contact/main.go
  tasks/hubspot/create-contact.yaml
Due: build api, deploy api

Add 'Hubspot create deal' task
  predefinedImages/tasks/hubspot-create-deal/Dockerfile
  predefinedImages/tasks/hubspot-create-deal/go.mod
  predefinedImages/tasks/hubspot-create-deal/go.sum
  predefinedImages/tasks/hubspot-create-deal/main.go
  tasks/hubspot/create-contact.yaml
  tasks/hubspot/create-deal.yaml
Due: none

Fix bug of 'Hubspot create deal' task
  ao-api/oauth/exchange_refresh_token.go
  predefinedImages/tasks/hubspot-create-deal/main.go
Due: build api, deploy api

Fix bug of 'Hubspot create deal' task
  predefinedImages/tasks/hubspot-create-deal/main.go
  tasks/hubspot/create-deal.yaml
Due: none

Add two new HubSpot task
  predefinedImages/tasks/hubspot-create-company/Dockerfile
  predefinedImages/tasks/hubspot-create-company/go.mod
  predefinedImages/tasks/hubspot-create-company/go.sum
  predefinedImages/tasks/hubspot-create-company/main.go
  predefinedImages/tasks/hubspot-create-ticket/Dockerfile
  predefinedImages/tasks/hubspot-create-ticket/go.mod
  predefinedImages/tasks/hubspot-create-ticket/go.sum
  predefinedImages/tasks/hubspot-create-ticket/main.go
  tasks/hubspot/create-company.yaml
  tasks/hubspot/create-ticket.yaml
Due: none

Fix description of one field in 'Create new HubSpot ticket' task
  tasks/hubspot/create-ticket.yaml
Due: none

DTX-876 Add HubSpot integration and implement some popular HubSpot tasks (#310)
  ao-api/controllers/oauth/oauth_integration_callback.go
  ao-api/controllers/oauth/special_providers.go
  ao-api/oauth/exchange_refresh_token.go
  ao-api/oauth/provider/provider.go
  ao-api/pkg/utils/utils.go
  integrations/hubspot.yaml
  predefinedImages/tasks/hubspot-create-company/Dockerfile
  predefinedImages/tasks/hubspot-create-company/go.mod
  predefinedImages/tasks/hubspot-create-company/go.sum
  predefinedImages/tasks/hubspot-create-company/main.go
  predefinedImages/tasks/hubspot-create-contact/Dockerfile
  predefinedImages/tasks/hubspot-create-contact/go.mod
  predefinedImages/tasks/hubspot-create-contact/go.sum
  predefinedImages/tasks/hubspot-create-contact/main.go
  predefinedImages/tasks/hubspot-create-deal/Dockerfile
  predefinedImages/tasks/hubspot-create-deal/go.mod
  predefinedImages/tasks/hubspot-create-deal/go.sum
  predefinedImages/tasks/hubspot-create-deal/main.go
  predefinedImages/tasks/hubspot-create-ticket/Dockerfile
  predefinedImages/tasks/hubspot-create-ticket/go.mod
  predefinedImages/tasks/hubspot-create-ticket/go.sum
  predefinedImages/tasks/hubspot-create-ticket/main.go
  tasks/hubspot/create-company.yaml
  tasks/hubspot/create-contact.yaml
  tasks/hubspot/create-deal.yaml
  tasks/hubspot/create-ticket.yaml
Due: build api, deploy api

Add HubSpot oAuth app credentials to providers.json file
  ao-api/providers.json
  predefinedImages/deploy_all_tasks.sh
  predefinedImages/deploy_all_triggers.sh
Due: build api, deploy api

Implementing 'Create HubSpot Engagement' task
  predefinedImages/tasks/hubspot-create-engagement/Dockerfile
  predefinedImages/tasks/hubspot-create-engagement/go.mod
  predefinedImages/tasks/hubspot-create-engagement/go.sum
  predefinedImages/tasks/hubspot-create-engagement/main.go
  tasks/hubspot/create-engagement.yaml
Due: none

Fix bug of task definition
  tasks/hubspot/create-engagement.yaml
Due: none

Fix bug of 'Hubspot create engagement' task
  predefinedImages/tasks/hubspot-create-engagement/main.go
Due: none

DTX-877 Implementing 'Create HubSpot Engagement' task (#311)
  predefinedImages/tasks/hubspot-create-engagement/Dockerfile
  predefinedImages/tasks/hubspot-create-engagement/go.mod
  predefinedImages/tasks/hubspot-create-engagement/go.sum
  predefinedImages/tasks/hubspot-create-engagement/main.go
  tasks/hubspot/create-engagement.yaml
Due: none

Implementing some popular triggers of HubSpot
  predefinedImages/triggers/hubspot-new-contact/Dockerfile
  predefinedImages/triggers/hubspot-new-contact/go.mod
  predefinedImages/triggers/hubspot-new-contact/go.sum
  predefinedImages/triggers/hubspot-new-contact/main.go
  predefinedImages/triggers/hubspot-new-deal/Dockerfile
  predefinedImages/triggers/hubspot-new-deal/go.mod
  predefinedImages/triggers/hubspot-new-deal/go.sum
  predefinedImages/triggers/hubspot-new-deal/main.go
  triggers/hubspot/hubspot-new-contact.yaml
  triggers/hubspot/hubspot-new-deal.yaml
Due: none

Implementing some popular triggers of HubSpot (#312)
  predefinedImages/triggers/hubspot-new-contact/Dockerfile
  predefinedImages/triggers/hubspot-new-contact/go.mod
  predefinedImages/triggers/hubspot-new-contact/go.sum
  predefinedImages/triggers/hubspot-new-contact/main.go
  predefinedImages/triggers/hubspot-new-deal/Dockerfile
  predefinedImages/triggers/hubspot-new-deal/go.mod
  predefinedImages/triggers/hubspot-new-deal/go.sum
  predefinedImages/triggers/hubspot-new-deal/main.go
  triggers/hubspot/hubspot-new-contact.yaml
  triggers/hubspot/hubspot-new-deal.yaml
Due: none

Add some tasks/triggers of HubSpot to bash script of deploying lambda functions
  predefinedImages/deploy_all_tasks.sh
  predefinedImages/deploy_all_triggers.sh
Due: none

Implementing 'HubSpot new ticket' and 'HubSpot new form submission' triggers
  predefinedImages/triggers/hubspot-new-form-submission/Dockerfile
  predefinedImages/triggers/hubspot-new-form-submission/go.mod
  predefinedImages/triggers/hubspot-new-form-submission/go.sum
  predefinedImages/triggers/hubspot-new-form-submission/main.go
  predefinedImages/triggers/hubspot-new-ticket/Dockerfile
  predefinedImages/triggers/hubspot-new-ticket/go.mod
  predefinedImages/triggers/hubspot-new-ticket/go.sum
  predefinedImages/triggers/hubspot-new-ticket/main.go
  triggers/hubspot/hubspot-new-form-submission.yaml
  triggers/hubspot/hubspot-new-ticket.yaml
Due: none

Fix bug of 'HubSpot new form submission' trigger
  predefinedImages/triggers/hubspot-new-form-submission/main.go
Due: none

DTX-879 Implementing 'HubSpot new ticket' and 'HubSpot new form submission' triggers (#313)
  predefinedImages/triggers/hubspot-new-form-submission/Dockerfile
  predefinedImages/triggers/hubspot-new-form-submission/go.mod
  predefinedImages/triggers/hubspot-new-form-submission/go.sum
  predefinedImages/triggers/hubspot-new-form-submission/main.go
  predefinedImages/triggers/hubspot-new-ticket/Dockerfile
  predefinedImages/triggers/hubspot-new-ticket/go.mod
  predefinedImages/triggers/hubspot-new-ticket/go.sum
  predefinedImages/triggers/hubspot-new-ticket/main.go
  triggers/hubspot/hubspot-new-form-submission.yaml
  triggers/hubspot/hubspot-new-ticket.yaml
Due: none

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  build ui-ecommerce: any of: ui-ecommerce/**/*
  build ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
  deploy api: any of: ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*
  deploy ui-ecommerce: any of: ui-ecommerce/**/*
  deploy ui builder: any of: ui-builder/**/*, .gitlab-ci.yml
