Repository dotenx/dotenx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build scheduler, build runner, build ui, deploy api, deploy scheduler, deploy runner, deploy ui

Path conditions:
  build api: any of: ao-api/**/*
  build scheduler: any of: job_scheduler/**/*
  build runner: any of: runner/**/*
  build ui: any of: ui/**/*
  deploy api: any of: .gitlab-ci.yml, ao-api/**/*
  deploy scheduler: any of: job_scheduler/**/*
  deploy runner: any of: runner/**/*
  deploy ui: any of: ui/**/*

:hammer: Support unicode (#234)
  ao-api/controllers/uibuilder/publishutils/convertor.go
Due: build api, deploy api

solve conflict
  ui/src/features/app/routes.tsx
  ui/src/features/app/sidebar.tsx
  ui/src/features/automation/list.tsx
  ui/src/features/database/custom-query.tsx
  ui/src/features/database/export-database.tsx
  ui/src/features/database/tables.tsx
  ui/src/features/provider/form.tsx
  ui/src/features/provider/list.tsx
  ui/src/features/ui/index.ts
  ui/src/features/ui/new-leyout.tsx
  ui/src/features/ui/sidebar.tsx
  ui/src/pages/domains.tsx
  ui/src/pages/files.tsx
  ui/src/pages/git/git.tsx
  ui/src/pages/providers.tsx
  ui/src/pages/table.tsx
  ui/src/pages/tables.tsx
  ui/src/pages/user-groups.tsx
  ui/src/pages/user-management.tsx
  ui/src/pages/workflows.tsx
Due: build ui, deploy ui

fix app shell padding
  ui/src/features/ui/layout.tsx
Due: build ui, deploy ui

style active nav link
  ui/src/features/app/sidebar.tsx
Due: build ui, deploy ui

fix app content background
  ui/src/features/ui/layout.tsx
Due: build ui, deploy ui

update pacakges
  ui/package.json
  ui/pnpm-lock.yaml
Due: build ui, deploy ui

improve layout
  ui/src/features/ui/layout.tsx
  ui/src/features/ui/new-leyout.tsx
Due: build ui, deploy ui

implement new table
  ui/src/features/automation/list.tsx
  ui/src/features/ui/table.tsx
  ui/src/pages/table.tsx
Due: build ui, deploy ui

Backend builder: Redesign tables (#237)
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/features/app/sidebar.tsx
  ui/src/features/automation/list.tsx
  ui/src/features/ui/content-wrapper.tsx
  ui/src/features/ui/layout.tsx
  ui/src/features/ui/new-leyout.tsx
  ui/src/features/ui/table.tsx
  ui/src/pages/table.tsx
Due: build ui, deploy ui

change font to inter
  ui/src/index.css
  ui/tailwind.config.cjs
Due: build ui, deploy ui

increase sidebar font size
  ui/src/features/app/sidebar.tsx
Due: build ui, deploy ui

redesign tables
  ui/src/features/database/tables.tsx
Due: build ui, deploy ui

darken text color
  ui/src/features/ui/layout.tsx
Due: build ui, deploy ui

improve design details
  ui/src/features/app/app.tsx
  ui/src/features/app/sidebar.tsx
  ui/src/features/ui/new-leyout.tsx
Due: build ui, deploy ui

move user management refresh to table action bar
  ui/src/pages/user-management.tsx
Due: build ui, deploy ui

fix workflows sidebars
  ui/src/features/app/routes.tsx
  ui/src/features/automation/automation.tsx
  ui/src/features/database/tables.tsx
  ui/src/pages/tables.tsx
Due: build ui, deploy ui

remove dead code
  ui/src/pages/table.tsx
Due: build ui, deploy ui

refactor import component hotkey
  ui-builder/src/features/hotkey/import-component.tsx
  ui-builder/src/pages/builder.tsx
Due: none

improve component namings
  ui-builder/src/features/simple/left-sidebar.tsx
  ui-builder/src/features/simple/right-sidebar.tsx
  ui-builder/src/features/simple/simple.tsx
Due: none

refactor
  ui-builder/src/features/page/top-bar.tsx
  ui-builder/src/features/simple/left-sidebar.tsx
  ui-builder/src/features/simple/simple-canvas.tsx
Due: none

refactor simple left sidebar
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/features/simple/left-sidebar.tsx
  ui-builder/src/features/simple/simple-canvas.tsx
Due: none

improve simple mode
  ui-builder/src/features/simple/left-sidebar.tsx
  ui-builder/src/features/simple/simple-canvas.tsx
  ui-builder/src/features/simple/simple-renderer.tsx
Due: none

Fix some design issues (font, sidebar, table) (#238)
  ui/src/features/app/app.tsx
  ui/src/features/app/routes.tsx
  ui/src/features/app/sidebar.tsx
  ui/src/features/automation/automation.tsx
  ui/src/features/database/tables.tsx
  ui/src/features/ui/layout.tsx
  ui/src/features/ui/new-leyout.tsx
  ui/src/index.css
  ui/src/pages/table.tsx
  ui/src/pages/tables.tsx
  ui/src/pages/user-management.tsx
  ui/tailwind.config.cjs
Due: build ui, deploy ui

change top bar icons to tabler
  ui-builder/src/features/page/actions.tsx
Due: none

improve back to backend link design
  ui-builder/src/features/page/top-bar.tsx
Due: none

Backend builder: redesign (#232)
  ao-api/controllers/uibuilder/publishutils/convertor.go
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/features/app/app.tsx
  ui/src/features/app/routes.tsx
  ui/src/features/app/sidebar.tsx
  ui/src/features/automation/automation.tsx
  ui/src/features/automation/list.tsx
  ui/src/features/database/custom-query.tsx
  ui/src/features/database/export-database.tsx
  ui/src/features/database/tables.tsx
  ui/src/features/provider/form.tsx
  ui/src/features/provider/list.tsx
  ui/src/features/ui/buttons.tsx
  ui/src/features/ui/content-wrapper.tsx
  ui/src/features/ui/index.ts
  ui/src/features/ui/layout.tsx
  ui/src/features/ui/new-leyout.tsx
  ui/src/features/ui/sidebar.tsx
  ui/src/features/ui/table.tsx
  ui/src/features/user-groups/list.tsx
  ui/src/index.css
  ui/src/pages/domains.tsx
  ui/src/pages/files.tsx
  ui/src/pages/git/git.tsx
  ui/src/pages/git/github.tsx
  ui/src/pages/providers.tsx
  ui/src/pages/table.tsx
  ui/src/pages/tables.tsx
  ui/src/pages/user-groups.tsx
  ui/src/pages/user-management.tsx
  ui/src/pages/workflows.tsx
  ui/tailwind.config.cjs
Due: build api, build ui, deploy api, deploy ui

make controller render options params optional
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/controllers/controller.ts
Due: none

use drawer instead of popover in simple component style
  ui-builder/src/features/ui/input-styler.tsx
Due: none

refactor about left
  ui-builder/src/features/controllers/about-left.tsx
Due: none

improve add section button
  ui-builder/src/features/controllers/about-left.tsx
  ui-builder/src/features/page/actions.tsx
  ui-builder/src/features/simple/left-sidebar.tsx
  ui-builder/src/features/simple/simple-canvas.tsx
  ui-builder/src/features/simple/simple-renderer.tsx
Due: none

Implementing create and update Stripe product task
  ao-api/db/migrate/postgresql/migration.go
  predefinedImages/tasks/stripe-create-product/Dockerfile
  predefinedImages/tasks/stripe-create-product/go.mod
  predefinedImages/tasks/stripe-create-product/go.sum
  predefinedImages/tasks/stripe-create-product/main.go
  predefinedImages/tasks/stripe-update-product/Dockerfile
  predefinedImages/tasks/stripe-update-product/go.mod
  predefinedImages/tasks/stripe-update-product/go.sum
  predefinedImages/tasks/stripe-update-product/main.go
  runner/executors/awsLambda/deploy_all_tasks.sh
  tasks/stripe/stripe_create_customer.yml
  tasks/stripe/stripe_create_payment_link.yml
  tasks/stripe/stripe_create_product.yml
  tasks/stripe/stripe_find_customer.yml
  tasks/stripe/stripe_update_customer.yml
  tasks/stripe/stripe_update_product.yml
Due: build api, build runner, deploy api, deploy runner

uppercase controllers
  ui-builder/src/features/controllers/index.ts
  ui-builder/src/utils/controller-utils.ts
  ui-builder/src/utils/deserialize.ts
Due: none

refactor actions
  ui-builder/src/api/api.ts
  ui-builder/src/features/page/actions.tsx
Due: none

implement right sidebar wrapper
  ui-builder/src/features/ui/right-sidebar.tsx
Due: none

implement left sidebar wrapper
  ui-builder/src/features/ui/left-sidebar.tsx
Due: none

refactor simple left sidebar
  ui-builder/src/features/simple/left-sidebar.tsx
Due: none

add ecommerce components
  ui-builder/src/features/ecommerce/components.ts
Due: none

implement app header wrapper
  ui-builder/src/features/ui/header.tsx
Due: none

refactor simple app shell
  ui-builder/src/features/simple/simple.tsx
Due: none

improve top bar
  ui-builder/src/features/page/top-bar.tsx
Due: none
